﻿@model IEnumerable<DispatchCrude.Models.ObjectCustomData>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Custom Data";
    ViewBag.SubTitle = "ObjectCustomData";
}


<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_CustomData, "Tab_CustomData")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#FiltersTab" aria-expanded="true">Filters</a>
                        </li>
                    </ul>
                    <div id="leftTabs" class="tab-content">
                        <div id="FiltersTab" class="tab-pane active">
                            @using (Html.BeginForm("Index", "ObjectCustomData"))
                            {
                                @Html.AntiForgeryToken()
                                <div>Object</div>
                                <div>
                                    @Html.DropDownList("filterObjectID", null, "", htmlAttributes: new { @class = "width100" })
                                </div>
                                <div class="spacer10px"></div>
                                <div>Custom Field</div>
                                <div>
                                    @Html.DropDownList("filterObjectFieldID", null, "(ALL)", htmlAttributes: new { @class = "width100" })
                                </div>
                                <div class="spacer10px"></div>
                                <div>Search String</div>
                                <div>
                                    @Html.TextBox("filterRecordSearch", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="spacer20px"></div>
                                <div class="center">
                                    <input type="submit" id="btnRefresh" class="btn btn-blue shiny" value="Refresh" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7">
                @(Html.Kendo().Grid(Model)
                    .Name("grid")
                    .DataSource(ds => ds
                        .Ajax()
                        .Model(model => model.Id(m => m.ID))
                        .PageSize(Settings.DefaultPageSize)
                        //.Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                        .Create(create => create.Action("Create", "ObjectCustomData"))
                        .Read(read => read.Action("ReadWithFilters", "ObjectCustomData").Data("getParameters"))
                        .Update(update => update.Action("Update", "ObjectCustomData"))
                        .Destroy(update => update.Action("Delete", "ObjectCustomData"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName("CustomData.xlsx")
                        .Filterable(true)
                    )
                    .Events(ev => {
                        ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)
                    })  
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .ToolBar(command =>
                    {
                        command.Create().Text("");
                        command.Excel();
                    })
                    .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_CustomData"); ed.DisplayDeleteConfirmation(true); })
                    .Events(e => e.Edit("onPopupEditCustom"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Resizable(resizable => resizable.Columns(true))
                    .Columns(columns =>
                    {
                        columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                        columns.Bound(m => m.ObjectField.ObjectDef.Name)
                            .ClientTemplate("#= drillToValue(data, 'ObjectField.ObjectDef.Name') #")
                            .Title("Object")
                            .Width(150);
                        columns.Bound(m => m.ObjectField.Name)
                            .Title("Custom Field")
                            .ClientTemplate("#= drillToValue(data, 'ObjectField.Name') #")
                            .Width(250);
                        columns.Bound(m => m.Record)
                            .Title("Record")
                            .Width(300);
                        columns.Bound(m => m.Value)
                            .Width(250);
                        columns.Bound(m => m.CreateDate)
                            .Width(200);
                        columns.Bound(m => m.CreatedByUser)
                            .Width(175);
                        columns.Bound(m => m.LastChangeDate)
                            .Width(200);
                        columns.Bound(m => m.LastChangedByUser)
                            .Width(200);
                    })
                )

                @*These inputs are required for create/edit/deactivate permissions functionality*@
                <input id="allowCreate" type="hidden" value="true" />
                <input id="allowEdit" type="hidden" value="true" />
                <input id="allowDelete" type="hidden" value="true" />
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();

        //Initializes select2 dropdowns
        $("#filterObjectID").select2();
        $("#filterObjectFieldID").select2();

        $("#filterObjectID").on("change", function () { refreshCustomFields(); })
    })

    function onPopupEditCustom(e)
    {
        if (!e.model.isNew()) {
            // Make field and record read only (remove Select2 drop down)
            e.container.find("#ObjectFieldID_S2").remove();
            e.container.find("#RecordID_S2").remove();
        }
        else
        {
            // Make field and record editable (remove text fields)
            e.container.find(".txtObjectField").remove();
            e.container.find(".txtRecord").remove();
        }
        onPopupEdit(e);
    }

    function refreshRecords()
    {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getRecords/",
            data: {
                "objectfieldid": $("#ObjectFieldID_S2").val(),
            },
            success: function (data) {
                $("#RecordID_S2").html('');
                $.each(data, function (id, option) {
                    $("#RecordID_S2").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#RecordID_S2").select2("val", "");
    }

    function refreshCustomFields() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getObjectFields/",
            data: {
                "objectid": $("#filterObjectID").val(),
            },
            success: function (data) {
                $("#filterObjectFieldID").html('');
                $.each(data, function (id, option) {
                    $("#filterObjectFieldID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#filterObjectFieldID").select2("val", "");
    }

    function getParameters() {
        //This gets the filter values for the grid from the left panel filters
        return {
            ObjectID: $("#filterObjectID").val()
            , ObjectFieldID: $("#filterObjectFieldID").val()
            , RecordSearch: $("#filterRecordSearch").val()
        };
    }

</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>

