﻿@using AlonsIT;
@using System.Data;
@using DispatchCrude.Extensions;
@model DataTable

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Driver Scheduling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendoCheckbox.css" rel="stylesheet" />
<style type="text/css">
    div.leftpanel > input, label {
        display: block;
    }

    .colorRed {
        background-color: #ffd6cc !important;
    }

    .colorYellow {
        background-color: #ffffb3 !important;
    }

    .colorGreen {
        background-color: #ccffcc !important;
    }

    .kdpShiftStartDate {
        width: 110px;
    }
    .kdlShiftType {
        width: 100%;
    }
    .btnValue {
        width: 100%;
    }
    #valuePopup {
        padding: 5px;
        display: none;
    }
    .colHeader {
        width: 80px;
    }
    .colValue {
        width: 100px;
    }
    .tr_spacer {
        height: 4px;
    }
    .ctrlValue {
        width: 100%;
    }
    button.btnValue[manualassignment='1'] {
        border-width: 2px !important;
        border-color: blue !important;
    }
</style>
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "Button_DriverScheduling")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filter" aria-expanded="true">Filter</a>
                        </li>
                        <li class="tab-yellow">
                            <a data-toggle="tab" href="#ShiftAssignment" aria-expanded="true">Shift Assignment</a>
                        </li>
                    </ul>
                    <div id="leftTabs" class="tab-content">
                        <div id="Filter" class="tab-pane active">
                            @* using a Form here to force the Refresh submit button to do a full postback (the grid is dynamic, easiest to just reload) *@
                            @using (@Html.BeginForm("Index", "DriverScheduling", FormMethod.Post))
                            {
                                <div class="Entry">
                                    @Html.Label("Terminal")
                                    @(Html.Kendo().DropDownList()
                                        .Name("TerminalID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Terminals");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.TerminalID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Region")
                                    @(Html.Kendo().DropDownList()
                                        .Name("RegionID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Regions");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.RegionID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Carrier")
                                    @(Html.Kendo().DropDownList()
                                        .Name("CarrierID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Carriers");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.CarrierID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Driver Group")
                                    @(Html.Kendo().DropDownList()
                                        .Name("DriverGroupID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/DriverGroups");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.DriverGroupID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Driver")
                                    @(Html.Kendo().DropDownList()
                                        .Name("DriverID")
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .HtmlAttributes(new { style = "width: 100%;" })
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/DriverScheduling/Drivers");
                                                read.Type(HttpVerbs.Get);
                                            });
                                        })
                                        .Value(ViewBag.DriverID.ToString())
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("Start")
                                    @(Html.Kendo().DatePicker()
                                        .Name("StartDate")
                                        .Events(ev => ev.Change("StartDate_Change"))
                                        .Value(ViewBag.StartDate)
                                    )
                                </div>
                                <div class="Entry">
                                    @Html.Label("End")
                                    @(Html.Kendo().DatePicker()
                                        .Name("EndDate")
                                        .Events(ev => ev.Change("EndDate_Change"))
                                        .Value(ViewBag.EndDate)
                                    )
                                </div>
                                <div class="spacer10px"></div>
                                <div class="Entry" style="width: 100%;">
                                    <div class="center">
                                        <input type="submit" id="btnRefresh" class="btn btn-blue shiny" value="Refresh" />                                        
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="ShiftAssignment" class="tab-pane">
                            <div class="Entry">
                                @Html.Label("Start")
                                @(Html.Kendo().DatePicker()
                                    .Name("ApplyStart")
                                )
                            </div>
                            <div class="Entry">
                                @Html.Label("End")
                                @(Html.Kendo().DatePicker()
                                    .Name("ApplyEnd")
                                )
                            </div>
                            <div class="Entry">
                                <input id="chkReplaceManual" />
                            </div>
                            <div class="spacer10px"></div>
                            <div class="Entry">
                                <div style="text-align:right;">
                                    @(Html.Kendo().Button()
                                        .Name("ApplyShift")
                                        .Content("Apply Shift To Checked Drivers")
                                        .Events(ev => ev.Click("applyShift_Click"))
                                        .Enable(false)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="valuePopup">
                    <table>
                        <colgroup>
                            <col class="colHeader" />
                            <col class="colValue" />
                        </colgroup>
                        <tr>
                            <td>Status</td>
                            <td><input id="kdlStatus" class='kdlStatus ctrlValue' /></td>
                        </tr>
                        <tr class="tr_spacer"></tr>
                        <tr>
                            <td>Start Time</td>
                            <td><input id="kdlStartHours" class='kdlStartHours ctrlValue' /></td>
                        </tr>
                        <tr class="tr_spacer"></tr>
                        <tr>
                            <td>Duty Hours</td>
                            <td><input id="kntDurationHours" class='kntDurationHours ctrlValue' /></td>
                        </tr>
                        <tr class="tr_spacer"></tr>
                        <tr>
                            <td colspan="2">
                                <div style="text-align: right;">
                                    <button id="btnSaveValues" class="kbActionButton btn btn-xs btn-default shiny"></button>
                                    <button id="btnCancelValues" class="kbActionButton btn btn-xs shiny"></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="gridArea" style="height: 100%; min-height: 500px;">
                @(@Html.Kendo().Grid<dynamic>()
                    .Name("Grid")
                    .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                    .Scrollable(scroll => scroll.Enabled(true))
                    .Columns(columns =>
                    {
                        columns.Bound("DriverID")
                            .Width(30)
                            .Locked(true)
                            .ClientTemplate("<input type='checkbox' class='singleSelect' onClick='single_Checked(this)' driverID='#=data.DriverID#'></input>")
                            .HeaderTemplate("<input type='checkbox' class='allSelect' onClick='all_Checked(this)'></input>");
                        columns.Bound("Carrier").Locked(true).Width(200);
                        columns.Bound("Driver").Locked(true).Width(170);
                        columns.Bound("DriverShiftTypeID").Title("Shift Type").ClientTemplate("#= shiftTypeEditor(data) #").Width(140);
                        columns.Bound("DriverShiftStartDate").Title("Last Shift Start").ClientTemplate("#= shiftStartDateEditor(data) #").Width(130);
                        foreach (DataColumn col in Model.Columns)
                        {
                            if (col.ColumnName.StartsWith("SD") && col.ColumnName.Contains("_"))
                            {
                                columns.Bound(col.ColumnName)
                                    .Width(150)
                                    .Locked(false)
                                    .Lockable(false)
                                    .Title(DBHelper.ToDateTime(col.ColumnName.Substring(2).Replace("_", "/")).ToString("ddd M/d/yy"))
                                    .ClientTemplate("#=valueEditor('" + col.ColumnName + "', data)#");
                            }
                        }
                    })
                    .Resizable(r => r.Columns(true))
                    .Events(events => events.DataBound("gridDataBound"))
                    .DataSource(ds => ds
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id("DriverID");
                        }
                        )
                        .Read(read =>
                        {
                            read.Action("Read", "DriverScheduling");
                            read.Data("getDataParameters");
                            read.Type(HttpVerbs.Post);
                        }
                        )
                    )
                )
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/kendoCheckbox.js" type="text/javascript"></script>
<script type="text/javascript">
    var RED = "colorRed", YELLOW = "colorYellow", GREEN = "colorGreen";

    function shiftTypeEditor(data) {
        return "<input class='kdlShiftType' driverid='" + data.DriverID + "' value='" + (data.DriverShiftTypeID || "") + "'/>";
    }
    function shiftStartDateEditor(data) {
        return "<input class='kdpShiftStartDate' driverid='" + data.DriverID + "' value='" + (data.DriverShiftStartDate || "") + "'/>";
    }
    function valueEditor(colName, data) {
        var data = allData(colName, data);
        return "<button class='btnValue " + getColorClass(data) + "' driverid='" + data.DriverID + "'"
                + " scheduledate='" + data.ScheduleDate + "'"
                + " rawdata='" + data[colName] + "'"
                + " manualassignment='" + data.ManualAssignment + "'"
            + ">"
            + data.ValueDisplay()
            + "</button>";
    }
    function allData(colName, data) {
        data.ScheduleDate = colName.replace(/SD/g, '').replace(/_/g, '-');
        return appendJoinedData(data[colName], data);
    }
    function appendJoinedData(extraData, data) {
        if (!data) data = {};
        // passed value data is: Pos|StatusID|Status[Name]|StartHours|DurationHours|ManualAssignment
        var splitData = extraData.split('|');
        data.Pos = splitData[0];
        data.StatusID = splitData[1];
        data.Status = splitData[2];
        data.StartHours = splitData[3];
        data.DurationHours = splitData[4];
        data.ManualAssignment = splitData[5];
        data.OnDuty = function () {
            return arrayFindValueByKey(driverStatuses, data.StatusID, "OnDuty");
        }
        /* add a method that generates the "display" data for this record */
        data.ValueDisplay = function () {
            return this.Status
            + (this.StartHours ? " - " + moment('2016-01-01').hours(this.StartHours).format('hA') : '')
            + (this.DurationHours ? " [" + this.DurationHours + "hrs]" : "");
        }
        /* add a Join method that converts the data back to a Joined string */
        data.Join = function () {
            return this.Pos + '|' + this.StatusID + '|' + this.Status + '|' + this.StartHours + '|' + this.DurationHours + '|' + this.ManualAssignment;
        }
        return data;
    }

    function btnValue_Click() {
        data = appendJoinedData($(this.element).attr("rawdata"));
        showValuePopup(data, $(this.element));
    }
    function prepareValuePopup() {
        $("#valuePopup").kendoPopup({ modal: true });
        $("#kdlStatus").kendoDropDownList({
            dataSource: driverStatuses, dataValueField: "ID", dataTextField: "Name", valuePrimitive: true
            , change: status_Change
        })
        $("#kdlStartHours").kendoDropDownList({
            dataSource: startHours, dataValueField: "ID", dataTextField: "Name", valuePrimitive: true
            , change: value_Change
        })
        $("#kntDurationHours").kendoNumericTextBox({
            min: 1
            , max: 24
            , decimals: 0
            , restrictDecimals: true
            , step: 1
            , format: "n0"
            , change: value_Change
            , spin: value_Change
        })
        $("#btnSaveValues").kendoButton({
            imageUrl: "/images/apply_imageonly.png"
            , click: btnSaveValues_Click
            , enable: false // default to disabled until a valid change is made that a Save operation can persist (to the db)
        })
        $("#btnCancelValues").kendoButton({
            imageUrl: "/images/cancel_imageonly.png"
            , click: closeValuePopup
        })
    }
    function showValuePopup(data, senderSelector) {
        var popup = $("#valuePopup").data("kendoPopup")
            , displayed = popup.visible();
        if (displayed) {
            popup.close();
        }
        if (!displayed || senderSelector[0] !== popup.options.anchor[0]) {
            $("#kdlStatus").data("kendoDropDownList").value(data.StatusID);
            $("#kdlStartHours").data("kendoDropDownList").value(data.StartHours);
            $("#kntDurationHours").data("kendoNumericTextBox").value(data.DurationHours);
            popup.options.anchor = senderSelector;
            popup.open();
        }
    }
    function btnSaveValues_Click() {
        debugger;
        var popup = $("#valuePopup").data("kendoPopup");
        var senderSelector = popup.options.anchor;

        // retrieve the update values
        var driverID = senderSelector.attr("driverid")
            , scheduleDate = senderSelector.attr("scheduledate")
            , statusID = $("#kdlStatus").data("kendoDropDownList").value()
            , startHours = $("#kdlStartHours").data("kendoDropDownList").value()
            , durationHours = $("#kntDurationHours").data("kendoNumericTextBox").value()
            , data = appendJoinedData(senderSelector.attr("rawdata"));
        // make an AJAX call to the server to update the values
        UpdateDriverSchedule(driverID, scheduleDate, statusID, startHours, durationHours);
        // update the button "data" and text
        data.StatusID = statusID;
        data.Status = $("#kdlStatus").data("kendoDropDownList").dataItem().Abbrev;
        data.StartHours = startHours;
        data.DurationHours = durationHours;
        data.ManualAssignment = "1";
        senderSelector.attr("rawdata", data.Join());
        senderSelector.attr("manualassignment", data.ManualAssignment);
        senderSelector.removeClass(GREEN).removeClass(YELLOW).removeClass(RED).addClass(getColorClass(data));
        senderSelector[0].innerText = data.ValueDisplay();
        // close the popup
        closeValuePopup();
    }
    function UpdateDriverSchedule(driverID, scheduleDate, statusID, startHours, durationHours, successFunc) {
        $.ajax({
            type: "POST"
            , url: "/DriverScheduling/UpdateDriverSchedule?id=" + driverID
                + "&scheduleDate=" + scheduleDate
                + "&statusID=" + statusID
                + (startHours ? "&startHours=" + startHours : "")
                + (durationHours ? "&durationHours=" + durationHours: "")
            , success: successFunc
        });
    }
    function closeValuePopup() {
        $("#valuePopup").data("kendoPopup").close();
    }

    function getDataParameters() {
        var data = { terminalid: $("#TerminalID").val(), regionid: $("#RegionID").val(), carrierid: $("#CarrierID").val(), drivergroupid: $("#DriverGroupID").val(), driverid: $("#DriverID").val(), startdate: $("#StartDate").val(), enddate: $("#EndDate").val() };
        return data;
    }
    function single_Checked(sender) {
        $(".allSelect").prop("checked", false);
        enableApplyShift();
    }
    function all_Checked(sender) {
        $(".singleSelect").prop("checked", $(sender).prop("checked"));
        enableApplyShift();
    }
    function enableApplyShift() {
        var enable = $(".singleSelect:checked").length > 0
            // ensure all checked rows have a DriverShiftType value assigned
            && (function () {
                $(".singleSelect:checked").each(function () {
                    if ($("input.kdlShiftType[driverid='" + $(this).attr("driverid") + "']").filter( function() { return this.value.length !== 0; }).length == 0) {
                        enable = false;
                        return;
                    }
                })
                return enable;
            })();
        $("#ApplyShift").data("kendoButton").enable(enable);
    }
    function getColorClass(data) {
        if (data.StatusID == 1)
            return YELLOW;
        else {
            return data.OnDuty() ? GREEN : RED;
        }
    }
    function gridDataBound(args) {
        $(".kdlShiftType").kendoDropDownList({
            dataSource: driverShiftTypes, dataValueField: "ID", dataTextField: "Name", optionLabel: "Undefined", valuePrimitive: true
            , change: kdlShiftType_Change
        });
        $(".kdpShiftStartDate").kendoDatePicker({
            change: kdpShiftStartDate_Change
        });
        $(".btnValue").kendoButton({
            click: btnValue_Click
        });
    }

    function kdpShiftStartDate_Change() {
        var driverID = $(this.element).attr("driverID")
            , shiftStartDate = kendo.toString(this.value(), "yyyy-MM-dd")
            , inputKDP = $(this.element[0]);
        SetShiftStartDate(driverID, shiftStartDate);
    }
    function SetShiftStartDate(driverID, shiftStartDate, successFunc) {
        $.ajax({
            type: "POST"
            , url: "/DriverScheduling/SetDriverShiftStartDate?id=" + driverID + "&shiftStartDate=" + shiftStartDate
            , success: successFunc
        });
    }
    function kdlShiftType_Change(e) {
        var driverID = $(this.element).attr("driverID")
            , shiftTypeID = this.value();
        SetShiftType(driverID, shiftTypeID);
        // assigning a DriverShiftType value to a driver could enable the ApplyShift logic
        enableApplyShift();
    }
    function SetShiftType(driverID, shiftTypeID, successFunc) {
        $.ajax({
            type: "POST"
            , url: "/DriverScheduling/SetDriverShiftType?id=" + driverID + "&shiftTypeID=" + shiftTypeID
            , success: successFunc
        });
    }
    function status_Change(e) {
        var statusData = $("#kdlStatus").data("kendoDropDownList").dataItem();
        debugger;
        if (statusData != undefined && !statusData.Utilized) {
            $("#kdlStartHours").data("kendoDropDownList").value(null);
            $("#kntDurationHours").data("kendoNumericTextBox").value(null);
        }
        value_Change(e);
    }
    function value_Change(e) {
        //debugger;
        var statusData = $("#kdlStatus").data("kendoDropDownList").dataItem();
        var enabled = statusData != undefined && (!statusData.Utilized || ($("#kdlStartHours").data("kendoDropDownList").value() && $("#kntDurationHours").data("kendoNumericTextBox").value()));
        $("#btnSaveValues").data("kendoButton").enable(enabled);
    }

    function StartDate_Change() {
        $("#ApplyStart").val($("#StartDate").val());
    }
    function EndDate_Change() {
        $("#ApplyEnd").val($("#EndDate").val());
    }
    /* store the shift type records locally so they can be retrieved in the clienttemplate for the DriverShiftTypeID grid column */
    var driverShiftTypes = retrieveJSON("/DriverShiftType/Read?id=-1", "Data");
    var driverStatuses = retrieveJSON("/DriverSchedulingStatus/Read?id=-1", "Data");
    var startHours = retrieveJSON("/DriverShiftType/StartHours", "Data");
    function getDriverShiftType(id) { return arrayFindValueByKey(driverShiftTypes, id); }
    // startup function
    $(function () {
        /* ensure the ApplyStart/ApplyEnd matches the StartDate/EndDate (respectively) at page load */
        StartDate_Change();
        EndDate_Change();
        prepareValuePopup();
        $("#chkReplaceManual").kendoCheckbox({ label: 'Replace Existing Manual Assignments?' });
    })
    function applyShift_Click() {
        debugger;
        var driverList = []; // empty array
        $(".singleSelect:checked").each(function () {
            driverList.push($(this).attr("driverID"));
        })
        if (driverList.length) {
            var url = "/DriverScheduling/ApplyShiftToDrivers";
            var data = {
                start: $("#ApplyStart").val(), end: $("#ApplyEnd").val(), driverID: driverList
                , replaceManualAssignments: $("#chkReplaceManual").data("kendoCheckbox").value()
            };

            $.ajax({
                url: url
                , data: data //kendo.stringify(data)
                , type: "POST"
                , success: function () {
                    // reload this page to show the results
                    $("#Grid").data("kendoGrid").dataSource.read();
                    $("#chkReplaceManual").data("kendoCheckbox").value(false);
                }
            });
        }
    }
</script>
