﻿@model IEnumerable<DriverCompliance>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "Driver Docs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_DriverDocs")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_DriverDocs, "Button_DriverDocs")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => {
                        filter.Add(model => model.Active).IsEqualTo(true);
                        //Initial page load filters...filter out [DEACTIVATED] carriers and drivers by default 
                        filter.Add(model => model.Driver.Carrier.Name_FlagInactive).DoesNotContain("[DEACTIVATED]");  
                        filter.Add(model => model.Driver.FullName_FlagInactive).DoesNotContain("[DEACTIVATED]");
                        if (ViewBag.Driver != null)
                        {
                            filter.Add(model => model.Driver.IDNumber).IsEqualTo(ViewBag.Driver);
                        }
                    })
                    .Model(model => {
                        model.Id(m => m.ID);
                        model.Field(m => m.DocumentDate).DefaultValue(DateTime.Today);
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => {  // Initial Sort
                        if (Request.QueryString.Keys.Count == 0)
                        {
                            sort.Add("Driver.Carrier.Name_FlagInactive").Ascending();
                            sort.Add("Driver.FullName_FlagInactive").Ascending();
                        }
                    })
                    .Create(create => create.Action("Create", "DriverCompliance"))
                    .Read(read => read.Action("Read", "DriverCompliance"))
                    .Update(update => update.Action("Update", "DriverCompliance"))
                    .Destroy(update => update.Action("Delete", "DriverCompliance"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("DriverCompliance.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createDriverCompliance")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_DriverCompliance"); ed.DisplayDeleteConfirmation(false); })
                .Events(ev =>
                {
                    ev.Edit("onPopupEditCustom"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                    ev.Cancel("onPopupCancelCustom");  // Actions when canceling the popup editor
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.Driver.Carrier.CarrierType.Name)
                        .Title("Carrier Type")
                        .ClientTemplate("#= drillToValue(data, 'Driver.Carrier.CarrierType.Name') #")
                        .Width(150);                    
                    columns.Bound(model => model.Driver.Carrier.Name_FlagInactive)
                        .Title("Carrier")
                        .ClientTemplate("#= ellipseDivDrill(data, 'Driver.Carrier.Name_FlagInactive') #")
                        .Width(200);
                    columns.Bound(model => model.Driver.IDNumber)
                        .Title("Driver #")
                        .ClientTemplate("#= drillToValue(data, 'Driver.IDNumber') #")
                        .Width(100);
                    columns.Bound(model => model.Driver.FullName_FlagInactive)
                        .Title("Driver Name")
                        .ClientTemplate("#= ellipseDivDrill(data, 'Driver.FullName_FlagInactive') #")
                        .Width(200);
                    columns.Bound(model => model.ComplianceType.Name)
                        .Title("Document Type")
                        .ClientTemplate("#= ellipseDivDrill(data, 'ComplianceType.Name') #")
                        .Width(200);
                    columns.Bound(model => model.DocumentName)
                        .Title("Document")
                        .ClientTemplate(@"
                                    #if(data.DocumentName){#
                                        <div class='showEllipsis' data-placement='bottom' title='#=data.DocumentName#'>
                                            <a href='/DriverCompliance/Download/#=data.ID#'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                            &nbsp;&nbsp;
                                            #=data.DocumentName#
                                        </div>
                                    #}#")
                        .Width(200);
                    columns.Bound(model => model.DocumentDate)
                        .Title("Document Date")
                        .ClientTemplate("#if(data.DocumentDate){# #=kendo.toString(data.DocumentDate, \'M/d/yyyy\')# #}#")
                        .Width(150);
                    columns.Bound(model => model.ExpirationDate)
                        .Title("Expiration Date")
                        .ClientTemplate("#if(data.ExpirationDate){# #=kendo.toString(data.ExpirationDate, \'M/d/yyyy\')# #}#")
                        .Width(150);
                    columns.Bound(model => model.Notes)
                        .ClientTemplate("#= ellipseDiv(data.Notes) #")
                        .Width(200);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("DriverCompliance")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverCompliance")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("DriverCompliance")" />
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();

        // Remove the incoming URL parameter filter if it exists (This does leave the grid filter intact)
        if ("@ViewBag.ClearUrl" == "True")
            RegexReplaceUrl(/\?DriverID\=\d+/, "");
    });

    function clearTypeRequirements() {
            /* reset fields and hide "required star"*/
            $("#expDateStar").attr("hidden", "hidden");
            $("#docReqStar").attr("hidden", "hidden");
            $("#licensefields").hide();
    }

    function getTypeRequirements(typeid = null) {
        var setDefaultExpiration = false;
        if (typeid == null)
        {
            typeid = $("#ComplianceTypeID").data("kendoDropDownList").value();
            setDefaultExpiration = true;
        }

        if (typeid == "" || typeid == "0") {
            clearTypeRequirements();
            return;
        }

        /* Set the required field star for the expiration date and document fields based upon the selcted type */
        $.ajax({
            url: "/DriverComplianceTypes/GetDocTypeInformation",
            type: "GET",
            data: { "TypeID": typeid },
            success: function (result) {
                if (typeof result.ExpirationLength != null && result.ExpirationLength > 0) {
                    $("#expDateStar").removeAttr("hidden"); /*Show exp date "required star"*/

                    if (setDefaultExpiration)
                    {
                        // calculate the default expiration date (effective date + expiration days)
                        var startDate = new Date($("#DocumentDate").data("kendoDatePicker").value());
                        var expDate = new Date(startDate);
                        expDate.setDate(expDate.getDate() + parseInt(result.ExpirationLength));
                        var expDateFormatted = expDate.getMonth()+1  + "/" + expDate.getDate() + "/" + expDate.getFullYear();
                        $("#ExpirationDate").data("kendoDatePicker").value(expDateFormatted);

                        /* This tells the Telerik control the value has been changed */
                        $("#ExpirationDate").data("kendoDatePicker").trigger("change");
                    }
                }
                else {
                    /*hide exp date "required star"*/
                    $("#expDateStar").attr("hidden", "hidden");
                    if (setDefaultExpiration)
                    {
                        // clear the default expiration date
                        $("#ExpirationDate").data("kendoDatePicker").value("");
                        /* This tells the Telerik control the value has been changed */
                        $("#ExpirationDate").data("kendoDatePicker").trigger("change");
                    }
                }
                /*show/hide document "required star"*/
                (result.DocumentRequired) ? $("#docReqStar").removeAttr("hidden") : $("#docReqStar").attr("hidden", "hidden");

                (result.CategoryID == @((int) DriverComplianceCategory.TYPES.Licenses)) ? $("#licensefields").show() : $("#licensefields").hide();
            }
        });
    };

    function onPopupEditCustom(e)
    {
        if (!e.model.isNew()) {
            getTypeRequirements(e.model.ComplianceTypeID);
            if (e.model.ComplianceType != null && e.model.ComplianceType.CategoryID == @((int) DriverComplianceCategory.TYPES.Licenses)) {
                // Show section that only apply to licenses
                e.container.find("#licensefields").show();
            }
        }
        onPopupEdit(e);
    }

    function onPopupCancelCustom(e)
    {
        /* Clear any document that was uploaded */
        $.ajax({
            url: "/DriverCompliance/ClearDocument",
            type: "GET",
            success: function (result) { }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>