﻿@model DispatchCrude.Models.Contract
@using DispatchCrude.Models;

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };
</script>

<div class="popup-editor-container">    
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>    

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.ContractNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ContractNumber)
        @Html.ValidationMessageFor(model => model.ContractNumber)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PrintDescription)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PrintDescription)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Notes)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Notes, new { style = "width:200px;height:40px" })
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.ShipperID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ShipperID)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.ProductGroupID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ProductGroupID)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.ProducerID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ProducerID)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.Units)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Units)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.Uom)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UomID)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.EffectiveDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EffectiveDate)
    </div>

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.EndDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EndDate)
    </div>
</div>