﻿@model DispatchCrude.Models.QuestionnaireTemplate
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Questionnaires - Edit Template: " + @Model.Name;
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
    </div>
}

@if (ViewBag.Locked)
{
    <text>
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-lock"></span> This template is locked and cannot be edited.
        </div>
    </text>
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")

                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Index">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Template list
                    </a>
                </div>
            </div>

            <div class="leftpanel">
                <div class="well with-header">
                    <div class="header bordered-yellow">Edit Basic Information</div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <text>Template Name</text><br />
                        <div>
                            @if (ViewBag.Locked)
                            {
                                @Html.HiddenFor(model => model.Name)
                                @Html.DisplayFor(model => model.Name)
                            }
                            else
                            {
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            }
                        </div><br />
                        <text>Template Type</text><br />
                        <div>
                            @if (ViewBag.Locked)
                            {
                                @Html.HiddenFor(model => model.QuestionnaireTemplateTypeID)
                                @Html.DisplayFor(model => model.QuestionnaireTemplateType.Name)
                            }
                            else
                            {
                                @Html.DropDownList("QuestionnaireTemplateTypeID", null, "-- Select Type --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QuestionnaireTemplateTypeID, "", new { @class = "text-danger" })
                            }
                        </div><br />
                        <text>Effective Date</text><br />
                        <div>
                            @if (ViewBag.Locked)
                            {
                                @Html.HiddenFor(model => model.EffectiveDate)
                                @Html.DisplayFor(model => model.EffectiveDate)
                            }
                            else
                            {
                                @Html.EditorFor(model => model.EffectiveDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EffectiveDate, "", new { @class = "text-danger" })
                            }
                        </div><br />
                        <text>End Date</text><br />
                        <div>
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div><br />
                        <text>Carrier</text><br />
                        <div>
                            @if (ViewBag.Locked)
                            {
                                @Html.HiddenFor(model => model.CarrierID)
                                @((Model.Carrier == null) ? "ALL" : Model.Carrier.Name)
                            }
                            else
                            {
                                @Html.DropDownList("CarrierID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CarrierID, "", new { @class = "text-danger" })
                            }
                        </div><br />
                        <text>Load Defaults</text><br />
                        <div>
                            @if (ViewBag.Locked)
                            {
                                @Html.HiddenFor(model => model.LoadDefaults)
                                @Html.DisplayFor(model => model.LoadDefaults)
                            }
                            else
                            {
                                @Html.EditorFor(model => model.LoadDefaults, "Switch")
                            }
                        </div><br />
                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireTemplate.EXCEPTIONNHELP)"></i>
                        <text>Email Exceptions To:</text><br />
                        <div>
                            @Html.TextAreaFor(model => model.ExceptionEmail, new { @class = "form-control", style = "width:250px;height:80px" })
                            @Html.ValidationMessageFor(model => model.ExceptionEmail, "", new { @class = "text-danger" })
                        </div><br />
                        <text>Email Format:</text><br />
                        <div>
                            @Html.DropDownList("ExceptionFormat", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ExceptionFormat, "", new { @class = "text-danger" })
                        </div><br />


                        <div class="center">
                            <input type="submit" value="Save" class="btn btn-blue shiny" />
                        </div>
                    }
                </div>
            </div>
            <div id="gridArea">
                @(Html.Kendo().Grid(Model.QuestionnaireQuestions)
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(q => q.ID).Filterable(false).Sortable(false).Template(
                        @<text>
                            <a href="@Url.Action("EditQuestion", new { id = item.ID })" class="btn btn-xs btn-default shiny" @((Model.Locked) ? "disabled" : "")>
                                <img src="~/images/edit.png" title="Edit" />
                            </a>


                        </text>).Title("<a href=\"/Questionnaires/AddQuestion/?templateid=" + Model.ID + "\" class=\"btn btn-xs btn-default shiny\" " + ((Model.Locked) ? "disabled" : "") + ">" +
                            " <span class=\"glyphicon glyphicon-plus\" title=\"Add Question\"/>" +
                        "</a>").Width(50);
                    columns.Bound(q => q.QuestionText)
                        .Width(200);
                    columns.Bound(q => q.QuestionnaireQuestionType.QuestionType)
                        .Width(100);
                    columns.Bound(q => q.Deleted)
                        .Filterable(false)
                        .Sortable(false)
                        .Width(70);
                    columns.Bound(q => q.AnswersFormat)
                        .Width(200);
                    columns.Bound(q => q.PassingCondition)
                        .Title("Passing Condition(s)")
                        .Width(200);
                    columns.Bound(q => q.IsRequired)
                        .Width(125);
                    if (Model.LoadDefaults) {
                        columns.Bound(q => q.DefaultAnswer)
                            .Width(150);
                    }
                    columns.Bound(q => q.IncludeNotes)
                        .Width(125);
                    columns.Bound(q => q.SortNum)
                        .Width(125);
                    columns.Bound(q => q.CreateDateUTC)
                        .Width(175);
                    columns.Bound(q => q.CreatedByUser)
                        .Width(175);
                    columns.Bound(q => q.LastChangeDateUTC)
                        .Width(175);
                    columns.Bound(q => q.LastChangedByUser)
                        .Width(175);
                    columns.Bound(q => q.DeleteDateUTC)
                        .Width(175);
                    columns.Bound(q => q.DeletedByUser)
                        .Width(175);
                })
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Sortable()
                    .Groupable()
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Server()
                        .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("SortNum").Ascending(); } })
                        .Model(model => model.Id(q => q.ID))
                        .PageSize(Settings.DefaultPageSize)
                    //.Read(read => read.Action(ViewBag.Action, "Orders"))
                    //            .Filter(f => f.Add(q => q.DeleteDateUTC).IsEqualTo(null))) will always apply filter
                    )
                )
            </div>
        </div>
    </div>
</div>