﻿@model DispatchCrude.Models.QuestionnaireTemplate
@using DispatchCrude.Core
@using DispatchCrude.Extensions
@using DispatchCrude.Models
@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Questionnaires - Preview: " + @Model.Name;
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")

                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Index">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Template list
                    </a>
                </div>
            </div>
            <div>
                <div class="well with-header inline-block pull-left margin-right20px">
                    <div class="header bordered-blue">Basic Information
                        <div class="pull-right">
                            <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Edit/@Model.ID">
                                <span class="whitelink"><span class="glyphicon glyphicon-pencil"></span> Edit Questions</span>
                            </a>
                        </div>
                    </div>                    
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => Model.QuestionnaireTemplateType.Name):
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => Model.QuestionnaireTemplateType.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CarrierID):
                        </dt>
                        <dd>
                            @((Model.CarrierID == null) ? "(All)" : Model.Carrier.Name )
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EffectiveDate):
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EffectiveDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EndDate):
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LoadDefaults):
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LoadDefaults)
                        </dd>
                        <dt>
                            Locked?:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Locked)
                        </dd>

                        <dt>
                            Submission Count:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.QuestionnaireSubmissions.Count)
                        </dd>

                        <dt>
                            Created by:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedByUser) <b> - </b> @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        @if (Model.LastChangeDateUTC != null)
                        {
                            <dt>
                                Last edited by:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastChangedByUser) <b> - </b> @Html.DisplayFor(model => model.LastChangeDate)
                            </dd>
                        }

                        @if (Model.DeleteDateUTC != null)
                        {
                            <dt>
                                Deleted by:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DeletedByUser) <b> - </b> @Html.DisplayFor(model => model.DeleteDate)
                            </dd>
                        }
                    </dl>
                </div>
            </div>
            <div class="well with-header inline-block pull-left" style="min-width:400px;max-height:750px;overflow-y:scroll;">
                <div class="header bordered-blue">Template Layout Preview: @Model.Name</div>
                <table>
                    @foreach (var item in Model.QuestionnaireQuestions.Where(q => q.DeleteDateUTC == null).OrderBy(q => q.SortNum))
                    {
                        <tr>
                            @if (item.QuestionnaireQuestionTypeID != (int)QuestionnaireQuestionType.TYPE.Label)
                            {
                                <td class="txtAlignRight" style="vertical-align:text-top">
                                    <strong>@item.QuestionText:</strong>
                                    @if (item.IsRequired)
                                    {
                                        <span class="text-danger">*</span>
                                    }
                                    &nbsp;&nbsp;
                                </td>
                                <td class="txtAlignLeft">
                                    &nbsp;&nbsp;
                                    @switch (item.QuestionnaireQuestionTypeID)
                                    {
                                        case (int)QuestionnaireQuestionType.TYPE.DropDown:
                                            @Html.DropDownList("dropdown", item.ToSelectList(Model.LoadDefaults ? item.DefaultAnswer : null), new { @class="input-sm" })
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.Blob:
                                            <text>(Driver Signature)</text>
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.Boolean:
                                            bool x = Model.LoadDefaults && Converter.ToBoolean(item.DefaultAnswer);
                                            @Html.EditorFor(m => x, "Switch")
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.Integer:
                                            <input type="text" value="@(Model.LoadDefaults ? item.DefaultAnswer : "")" />
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.Decimal:
                                            <input type="text" value="@(Model.LoadDefaults ? item.DefaultAnswer : "")" />
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.Timestamp:
                                            @Html.Kendo().DateTimePicker().Name("timestamp"+item.ID)
                                            <text>
                                            <script>
                                                $("#timestamp@(item.ID)").val('@(Model.LoadDefaults ? string.Format("{0:M/d/yyyy h:mm tt}", item.DefaultDate) : "")');
                                            </script>
                                            </text>
                                            break;
                                        case (int)QuestionnaireQuestionType.TYPE.String:
                                            <input type="text" value="@(Model.LoadDefaults ? item.DefaultAnswer : "")" />
                                            break;
                                    }
                                    @if (item.IncludeNotes)
                                    {
                                        <i class="fa fa-plus-square-o" title="Add Notes" data-toggle="collapse" data-target="#notes@(item.ID)"></i>
                                        <div id="notes@(item.ID)" class="collapse" style="margin:10px"><input type="text" value="" /></div>
                                    }
                                    <div class="spacer10px"></div>
                                </td>
                            }
                            else  //If the question is a lable type span the two columns instead of creating the text & answer control columns
                            {
                                <td colspan="2">
                                    <div class="spacer10px"></div>
                                    <h3 class="center">@item.QuestionText</h3>
                                    <div class="spacer10px"></div>
                                </td>
                            }
                        </tr>
                    }
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <button class="btn btn-blue shiny" disabled>Submit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>