﻿@model DispatchCrude.Models.QuestionnaireSubmission

@{
    ViewBag.Title = "Submissions";
    ViewBag.Subtitle = "Detail: " + @Model.QuestionnaireTemplate.Name;    
}
@using DispatchCrude.Models

<div>
    <div class="well col-md-12">
        <div class="pull-left">
            <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Submissions">
                <span class="whitelink"><span class="glyphicon glyphicon-list-alt"></span> Back to submissions list</span>
            </a>
        </div>
        <div class="pull-right">
            <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/ExportSubmission/@Model.ID">
                <span class="whitelink"><span class="glyphicon glyphicon-download-alt"></span> Download PDF</span>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well with-header">
            <div class="header bordered-blue">Driver Information</div>
            <dl class="dl-horizontal">
                <dt>
                    Driver:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Driver.FullName)
                </dd>

                <dt>
                    Submission Date:
                </dt>
                <dd>
                    @if (Model.SubmissionTimeZoneID != null)
                    {
                        @Html.DisplayFor(model => model.SubmissionDateUTC, new { tzid = Model.SubmissionTimeZoneID, tzname = "Driver" })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.SubmissionDateUTC)
                    }
                </dd>

                <dt>
                    Truck:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Truck.IDNumber)
                </dd>

                <dt>
                    Trailer:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trailer.IDNumber)
                </dd>

                <dt>
                    Trailer 2:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Trailer2.IDNumber)
                </dd>

                <p></p>

                <dt>
                    Passing:
                </dt>
                <dd>
                    @if (Model.Passing)
                    {
                        <i class="fa fa-check fa-2x text-success"></i>
                    }
                    else
                    {
                        <i class="fa fa-times fa-2x text-danger"></i>
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-md-7">

    <div class="well with-header">    
        <div class="header bordered-blue">Submission Results - Template: @Model.QuestionnaireTemplate.Name</div>
        <table>
            @foreach (var item in Model.QuestionnaireResponses)
            {
                <tr>
                    <td class="txtAlignRight" style="vertical-align:top"><strong>@item.QuestionnaireQuestion.QuestionText:</strong>&nbsp;&nbsp;</td>

                    <td class="txtAlignLeft">&nbsp;&nbsp;
                        @if (item.QuestionnaireQuestion.QuestionnaireQuestionTypeID == (int)QuestionnaireQuestionType.TYPE.Blob)
                        {
                            <img class="img-responsive" src="@(item.QuestionnaireResponseBlob.SignatureBlobSrc)" />
                        }
                        else
                        {
                            @item.Answer
                        }
                        @if (!item.Passing)
                        {
                            <i class="fa fa-times text-danger"></i>
                        }
                        @if (item.QuestionnaireQuestion.IncludeNotes && !string.IsNullOrEmpty(item.Notes))
                        {
                            <br><i>* - @item.Notes</i>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>