﻿@model IEnumerable<DispatchCrude.Models.QuestionnaireQuestion>


<table class="table table-hover">
    <thead class="bordered-blueberry">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionnaireQuestionType.QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswersFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassingCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequired)
            </th>
            @if (ViewBag.LoadDefaults != null && ViewBag.LoadDefaults)
            {
            <th>
                @Html.DisplayNameFor(model => model.DefaultAnswer)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.IncludeNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortNum)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionnaireQuestionType.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswersFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassingCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            @if (ViewBag.LoadDefaults != null && ViewBag.LoadDefaults)
            {
            <td>
                @Html.DisplayFor(modelItem => item.DefaultAnswer)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.IncludeNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortNum)
            </td>
        </tr>
    }
    </tbody>
</table>
