﻿@model DispatchCrude.Models.QuestionnaireQuestion
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;

@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Questionnaires - Wizard: Step 2 - Add Fields";
}

<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")

                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Index">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Template list
                    </a>
                </div>
            </div>

            @using (Html.BeginForm("Wizard2", "Questionnaires", FormMethod.Post, new { id = "addquestionform" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.QuestionnaireTemplateID, new { Value = ViewBag.TemplateID })
                <div id="simplewizard" class="wizard">
                    <ul class="steps">
                        <li class="complete"><span class="step">1</span>Create template<span class="chevron"></span></li>
                        <li data-target="#simplewizardstep2" class="active"><span class="step">2</span>Add Fields<span class="chevron"></span></li>
                        <li data-target="#simplewizardstep3"><span class="step">3</span>Confirm<span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="simplewizard-steps">
                    <div class="step-pane active" id="simplewizardstep2">

                        <div class="well with-header">
                            <div class="header bg-blue">
                                @ViewBag.Template
                            </div>

                            @{Html.RenderAction("ViewQuestions", "Questionnaires", new { ID = ViewBag.TemplateID });}
                        </div>

                        <div class="form-horizontal inline-block">
                            <div class="form-group">
                                @Html.LabelFor(m => m.QuestionText, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.QuestionText, new { @class = "form-control", @Value = Model.QuestionText }) <br />
                                    @Html.ValidationMessageFor(m => m.QuestionText, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.QuestionnaireQuestionTypeID, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.DropDownList("QuestionnaireQuestionTypeID", null, "-- Answer Type --", htmlAttributes: new { @class = "form-control" }) <br />
                                    @Html.ValidationMessageFor(m => m.QuestionnaireQuestionTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group qformat">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.DROPDOWNHELP)"></i>
                                    @Html.LabelFor(m => m.AnswersFormat, htmlAttributes: new { @class = "control-label" })
                                    </span>
                                </div>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.AnswersFormat, new { @class = "form-control", data_role = "tagsinput", placeholder = "Add options" }) <br />
                                    @Html.ValidationMessageFor(m => m.AnswersFormat, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group qrange">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.RANGEHELP)"></i>
                                        Range
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    @Html.TextBox("min", (string)ViewBag.Min, new { @class = "form-control", placeholder = "min" })
                                </div>
                                <div class="col-lg-4">
                                    @Html.TextBox("max", (string)ViewBag.Max, new { @class = "form-control", placeholder = "max" }) <br />
                                    @Html.ValidationMessageFor(m => m.AnswersFormat, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group qformat">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGDROPDOWNHELP)"></i>
                                        Passing Condition
                                    </span>
                                </div>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.PassingCondition, new { @class = "form-control", data_role = "tagsinput", placeholder = "Add options" })
                                    @Html.ValidationMessageFor(m => m.PassingCondition, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group qrange">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGRANGEHELP)"></i>
                                        Passing Condition
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    @Html.TextBox("pcmin", (string)ViewBag.pcMin, new { @class = "form-control", placeholder = "min" })
                                    @Html.ValidationMessageFor(m => m.PassingCondition, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-4">
                                    @Html.TextBox("pcmax", (string)ViewBag.pcMax, new { @class = "form-control", placeholder = "max" })
                                </div>
                            </div>
                            <div class="form-group qflag">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.PASSINGBOOLHELP)"></i>
                                        Passing Condition
                                    </span>
                                </div>
                                <div class="col-lg-8">
                                    @{
                                        bool? passingCondition = ViewBag.pcBool;
                                    }
                                    @Html.EditorFor(m => passingCondition, "BoolNullable2", "pcbool", new { boolselect = new string[] { "NONE", "True", "False" } })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.IsRequired, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.IsRequired, "Switch") <br />
                                    @Html.ValidationMessageFor(m => m.IsRequired, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @if (ViewBag.LoadDefaults != null && ViewBag.LoadDefaults)
                            {
                            <div class="form-group qNOflag">
                                @Html.LabelFor(m => m.DefaultAnswer, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.DefaultAnswer, new { htmlAttributes = new { @class = "form-control", @Value = ((ViewBag.QuestionCount ?? 0) + 1) } }) <br />
                                    @Html.ValidationMessageFor(m => m.DefaultAnswer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group qflag">
                                <div class="col-lg-4">
                                    <span class="pull-right">
                                        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(QuestionnaireQuestion.DEFAULTBOOLHELP)"></i>
                                        Default Answer
                                    </span>
                                </div>
                                <div class="col-lg-8">
                                    @{
                                        bool? defaultAnswer = ViewBag.defBool;
                                    }
                                    @Html.EditorFor(m => defaultAnswer, "BoolNullable2", "defbool", new { boolselect = new string[] { "NONE", "True", "False" } })
                                </div>
                            </div>
                            }

                            <div class="form-group">
                                @Html.LabelFor(m => m.IncludeNotes, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.IncludeNotes, "Switch") <br />
                                    @Html.ValidationMessageFor(m => m.IncludeNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SortNum, htmlAttributes: new { @class = "control-label col-lg-4" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.SortNum, new { htmlAttributes = new { @class = "form-control", @Value = ((ViewBag.QuestionCount ?? 0) + 1) } }) <br />
                                    @Html.ValidationMessageFor(m => m.SortNum, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="spacer20px"></div>
                            <div class="col-lg-offset-5">
                                <input type="submit" name="btnAdd" value="Add Question" class="btn btn-blue shiny">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="actions actions-footer" id="simplewizard-actions">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-blue shiny btn-prev" disabled="disabled"> <i class="fa fa-angle-left"></i>Prev</button>*@
                        <button type="submit" name="btnNext" class="btn btn-blue shiny btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                    </div>

                </div>
            }
@section scripts
{
<script>
    var DROPDOWN = @((int)QuestionnaireQuestionType.TYPE.DropDown);
    var INTEGER = @((int)QuestionnaireQuestionType.TYPE.Integer);
    var DECIMAL = @((int)QuestionnaireQuestionType.TYPE.Decimal);
    var TIMESTAMP = @((int)QuestionnaireQuestionType.TYPE.Timestamp);
    var BOOLEAN = @((int)QuestionnaireQuestionType.TYPE.Boolean);

    $(document).ready(toggleFormatByType);
    $("#QuestionnaireQuestionTypeID").change(toggleFormatByType);

    // Enable/disable the Try to change the status cleanly by selecting an appropriate print status
    function toggleFormatByType()
    {debugger;
        var selectedItem = $("#QuestionnaireQuestionTypeID").val();
        if (selectedItem == DROPDOWN)
        {
            $(".qformat").show();
            $(".qrange").hide();
            $(".qflag").hide();
            $(".qNOflag").show();
        }
        else if (selectedItem == INTEGER || selectedItem == DECIMAL || selectedItem == TIMESTAMP)
        {
            $(".qformat").hide();
            $(".qrange").show();
            $(".qflag").hide();
            $(".qNOflag").show();
        }
        else if (selectedItem == BOOLEAN)
        {
            $(".qformat").hide();
            $(".qrange").hide();
            $(".qflag").show();
            $(".qNOflag").hide();
        }
        else
        {
            $(".qformat").hide();
            $(".qrange").hide();
            $(".qflag").hide();
            $(".qNOflag").show();
        }
    };
</script>
}
               </div>
    </div>
</div>