﻿@model DispatchCrude.Models.QuestionnaireTemplate
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Questionnaires - Wizard: Step 1 - Create Template";
}
<div class="tabbable">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Questionnaires")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_Questionnaires, "Button_Templates")

                <div class="pull-right">
                    <a class="btn btn-xs btn-blue shiny" href="~/Questionnaires/Index">
                        <span class="glyphicon glyphicon-list-alt"></span> Back to Template list
                    </a>
                </div>
            </div>

            @using (Html.BeginForm("Wizard", "Questionnaires", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div id="simplewizard" class="wizard" data-target="#simplewizard-steps">
                    <ul class="steps">
                        <li data-target="#simplewizardstep1" class="active"><span class="step">1</span>Create template<span class="chevron"></span></li>
                        <li data-target="#simplewizardstep2"><span class="step">2</span>Add Fields<span class="chevron"></span></li>
                        <li data-target="#simplewizardstep3"><span class="step">3</span>Confirm<span class="chevron"></span></li>
                    </ul>
                </div>
                <div class="step-content" id="simplewizard-steps">
                    <div class="step-pane active" id="simplewizardstep1">
                        <div class="form-horizontal inline-block">
                            <div class="form-title">
                                Create questionnaire
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" }) <br />
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.QuestionnaireTemplateTypeID, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.DropDownList("QuestionnaireTemplateTypeID", null, "-- Select Type --", htmlAttributes: new { @class = "form-control" }) <br />
                                    @Html.ValidationMessageFor(m => m.QuestionnaireTemplateTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EffectiveDate, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.EffectiveDate, new { htmlAttributes = new { @class = "form-control" } }) <br />
                                    @Html.ValidationMessageFor(m => m.EffectiveDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.EndDate, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control input-sm" } }) <br />
                                    @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CarrierID, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.DropDownList("CarrierID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" }) <br />
                                    @Html.ValidationMessageFor(m => m.CarrierID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.LoadDefaults, htmlAttributes: new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-8">
                                    @Html.EditorFor(m => m.LoadDefaults, "Switch")
                                    @Html.ValidationMessageFor(m => m.LoadDefaults, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions actions-footer" id="simplewizard-actions">
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-blue shiny btn-prev" disabled="disabled"> <i class="fa fa-angle-left"></i>Prev</button>*@
                        <button type="submit" name="btnNext" class="btn btn-blue shiny btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                    </div>

                </div>
            }

            <div id="registration-form">
            </div>
        </div>
    </div>
</div>