﻿/* label+editor tr td's */
div.rgEditPopup table table tr td {
    padding: 3px;
}
/* ensure the grid popup errors ul list is left justified */
.td_gridPopupErrors {
    text-align: left !important;
}
/* control tr td's */
div.rgEditPopup table tr td {
    text-align: right;
    padding: 6px;
}
.btnLessLeftMargin {
    margin-left: 7px !important;
    margin-right: 7px !important;
}
.btn {
    border-width: 1px !important;
}
