﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Access Denied";
}

<hgroup class="title">
    <h1 class="error">@ViewBag.Title</h1>
    <h2 class="error">You do not have access to the requested action/url.</h2>
</hgroup>