﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Found";
}

<hgroup class="title">
    <h1 class="error">@ViewBag.Title</h1>
    <h2 class="error">Sorry, the url @ViewBag.ErrorUrl was not found on the server...</h2>
</hgroup>