﻿@using DispatchCrude.Models;
@model Driver

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    function filterTruckID() {
        return {
            CarrierID: $("#CarrierID").val(),
            ActiveOnly: false /* was having trouble getting selected value if it was a deactivated entry */
        };
    }
    function filterTrailerID() {
        return {
            CarrierID: $("#CarrierID").val(),
            ActiveOnly: false /* was having trouble getting selected value if it was a deactivated entry */
        };
    }
    function filterTrailer2ID() {
        return {
            CarrierID: $("#CarrierID").val(),
            ActiveOnly: false /* was having trouble getting selected value if it was a deactivated entry */
        };
    }

    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };
</script>

<div class="popup-editor-container">
    <div class="popup-editor-column">        
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>

        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.IDNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IDNumber)
        </div>

        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.CarrierID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarrierID, new { activeOnly = false })
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.CarrierID)
            </div>
        </div>

        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.TruckID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TruckID, new { cascade = "CarrierID" })
        </div>

        <div class="editor-label">
            <span class="text-danger">*</span>
            @Html.LabelFor(model => model.TrailerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrailerID, new { cascade = "CarrierID" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Trailer2ID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Trailer2ID, new { Table = "Trailer", cascade = "CarrierID" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TerminalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TerminalID, new { OptionLabelText = "(All Terminals)"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatingStateID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatingStateID, new { Table = "State" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DriverGroupID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DriverGroupID)
        </div>
    </div>

    <div class="popup-editor-column">
        <div class="editor-label">
            @Html.LabelFor(model => model.SSN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SSN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StateID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobilePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobileProvider)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileProvider)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>

    <div class="popup-editor-column">
        <div class="editor-label">
            @Html.LabelFor(model => model.HireDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TerminationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TerminationDate)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.DriverShiftTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DriverShiftTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DriverShiftStartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DriverShiftStartDate)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.MobileApp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobileApp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobilePrint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilePrint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes, new { style = "width:200px;height:40px" })
        </div>
    </div>
</div>


