﻿@model DispatchCrude.ViewModels.HOSViolationDetailViewModel
@using DispatchCrude.App_Code;
@using DispatchCrude.Core;

<div class="row">
    <div class="col-lg-4 col-xs-6">
        <div class="databox databox-lg databox-vertical databox-inverted databox-graded">
            <div class="databox-top">
                <div class="databox-piechart">
                    <div data-toggle="easypiechart" class="easyPieChart block-center"
                            data-barcolor="@(PageHelper.getStatusColor(Model.DrivingStatus))" data-linecap="butt" data-percent="@(Math.Round(Math.Min(Model.DrivingPercent, 100)))" data-animate="500"
                            data-linewidth="8" data-size="100" data-trackcolor="#eee">
                        <span class="white font-200"><i class="fa fa-clock-o @(Model.DrivingStatus)"></i></span>
                    </div>
                </div>
            </div>
            <div class="databox-bottom no-padding text-align-center">
                <span class="databox-number lightcarbon no-margin">@(DateHelper.FormatDuration(Model.DrivingHoursSinceDailyReset))</span>
                <span class="databox-text lightcarbon no-margin">@(Model.DrivingDailyLimit)-HR DRIVING</span>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xs-6">
        <div class="databox databox-lg databox-vertical databox-inverted databox-graded">
            <div class="databox-top">
                <div class="databox-piechart">
                    <div data-toggle="easypiechart" class="easyPieChart block-center"
                            data-barcolor="@(PageHelper.getStatusColor(Model.OnDutyStatus))" data-linecap="butt" data-percent="@(Math.Round(Math.Min(Model.OnDutyPercent, 100)))" data-animate="500"
                            data-linewidth="8" data-size="100" data-trackcolor="#eee">
                        <span class="white font-200"><i class="fa fa-clock-o @(Model.OnDutyStatus)"></i></span>
                    </div>
                </div>
            </div>
            <div class="databox-bottom no-padding text-align-center">
                <span class="databox-number lightcarbon no-margin">@(DateHelper.FormatDuration(Model.OnDutyHoursSinceDailyReset))</span>
                <span class="databox-text lightcarbon no-margin">@(Model.OnDutyDailyLimit)-HR ON DUTY</span>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xs-6">
        <div class="databox databox-lg databox-vertical databox-inverted databox-graded">
            <div class="databox-top">
                <div class="databox-piechart">
                    <div data-toggle="easypiechart" class="easyPieChart block-center"
                            data-barcolor="@(PageHelper.getStatusColor(Model.WeeklyOnDutyStatus))" data-linecap="butt" data-percent="@(Math.Round(Math.Min(Model.WeeklyOnDutyPercent, 100)))" data-animate="500"
                            data-linewidth="8" data-size="100" data-trackcolor="#eee">
                        <span class="white font-200"><i class="fa fa-clock-o @(Model.WeeklyOnDutyStatus)"></i></span>
                    </div>
                </div>
            </div>
            <div class="databox-bottom no-padding text-align-center">
                <span class="databox-number lightcarbon no-margin">@(DateHelper.FormatDuration(Model.OnDutyHoursSinceWeeklyReset))</span>
                <span class="databox-text lightcarbon no-margin">@(Model.WeeklyOnDutyLimit)-HR WEEK</span>

            </div>
        </div>
    </div>

</div>
