﻿@model IEnumerable<DispatchCrude.ViewModels.HOSViolationSummaryViewModel>

@{
    int WeeklyOnDutyViolations = 0;
    int OnDutyViolations = 0;
    int DrivingViolations = 0;
    int BreakViolations = 0;
}

<div class="well with-header">
    <div class="header bordered-blue">
        <div class="col-md-8">
            <i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;&nbsp;Violations
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <a href="~/Drivers/ViolationReport?DriverID=@(ViewBag.DriverID)"
                    class="btn btn-xs btn-blue shiny" title="Details"><i class="fa fa-list"></i></a>
            </div>
        </div>
    </div>



    <table class="table table-hover table-condensed">
        <thead class="bordered-sky">
            <tr>
                <th>MONTH</th>
                <th>WEEKLY</th>
                <th>ON DUTY</th>
                <th>DRIVING</th>
                <th>BREAK</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                WeeklyOnDutyViolations += item.WeeklyOnDutyViolations;
                OnDutyViolations += item.OnDutyViolations;
                DrivingViolations += item.DrivingViolations;
                BreakViolations += item.BreakViolations;

                <tr>
                    <td>@item.Date.ToString("MMM")</td>
                    <td>@item.WeeklyOnDutyViolations</td>
                    <td>@item.OnDutyViolations</td>
                    <td>@item.DrivingViolations</td>
                    <td>@item.BreakViolations</td>
                </tr>
            }
                <tr>
                    <td><strong>TOTAL</strong></td>
                    <td>@WeeklyOnDutyViolations</td>
                    <td>@OnDutyViolations</td>
                    <td>@DrivingViolations</td>
                    <td>@BreakViolations</td>
                </tr>
        </tbody>
    </table>
</div>