﻿@model IEnumerable<Driver>
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;

@{ 
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Drivers";
}


<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>

    <div class="tab-content">
        <div class="tab-pane in active">

            <div id="speedbuttons" class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "Button_Drivers")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter =>
                    {
                        filter.Add(d => d.Active).IsEqualTo(true);
                        //int DriverID;
                        if (Request.QueryString["IDNumber"] != null && Request.QueryString["IDNumber"].ToString() != "")
                        {
                            //add filter from URL when page is reached from a link that specified the driver
                            filter.Add(d => d.IDNumber).IsEqualTo(Request.QueryString["IDNumber"].ToString());
                        }
                    })
                    .Model(model =>
                    {
                        model.Id(m => m.ID);
                        model.Field(m => m.IDNumber).DefaultValue(Driver.getNextIDNumber());
                        model.Field(m => m.MobileApp).DefaultValue(true);
                        model.Field(m => m.MobilePrint).DefaultValue(true);
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("FirstName").Ascending(); sort.Add("LastName").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Drivers"))
                    .Read(read => read.Action("Read", "Drivers"))
                    .Update(update => update.Action("Update", "Drivers"))
                    .Destroy(update => update.Action("Delete", "Drivers"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Drivers.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createDriverMaintenance")) command.Create().Text("");  //Read only if user does not have manage permission
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Driver"); ed.DisplayDeleteConfirmation(false); })
                .Events(e =>
                {
                    e.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    e.Edit("onEdit");  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(120);
                    columns.Bound(d => d.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(d => d.IDNumber)
                        .Width(100);
                    columns.Bound(d => d.FirstName)
                        .Width(130);
                    columns.Bound(d => d.LastName)
                        .Width(130);
                    columns.Bound(d => d.ViewInfo.UserNames)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.UserNames') #")
                        .Width(130);
                    columns.Bound(d => d.ViewInfo.CarrierName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.CarrierName') #")
                        .Width(200);
                    columns.Bound(d => d.ViewInfo.CarrierType)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.CarrierType') #")
                        .Width(150);
                    columns.Bound(d => d.ViewInfo.TruckName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.TruckName') #")
                        .Width(100);
                    columns.Bound(d => d.ViewInfo.TrailerName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.TrailerName') #")
                        .Width(100);
                    columns.Bound(d => d.ViewInfo.Trailer2Name)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.Trailer2Name') #")
                        .Width(100);
                    columns.Bound(d => d.Terminal.Name)
                        .Title("Terminal")
                        .ClientTemplate("#if(data.Terminal != null) {# #=ellipseDivDrill(data, 'Terminal.Name')# #} else {# (All Terminals) #}#")
                        .Width(160);
                    columns.Bound(d => d.ViewInfo.RegionName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.RegionName') #")
                        .Width(160);
                    columns.Bound(d => d.ViewInfo.OperatingStateAbbrev)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.OperatingStateAbbrev') #")
                        .Width(140);
                    columns.Bound(d => d.SSN)
                        .ClientTemplate("#if(data.SSN != null){# #=FormatSSN(data.SSN)# #}#")
                        .Width(120);
                    columns.Bound(d => d.DOB)
                        .ClientTemplate("#if(data.DOB != null){# #=kendo.toString(data.DOB, \'M/d/yyyy\')# #}#")
                        .Width(100);
                    columns.Bound(d => d.Address)
                        .Width(200);
                    columns.Bound(d => d.City)
                        .Width(180);
                    columns.Bound(d => d.ViewInfo.StateAbbrev)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.StateAbbrev') #")
                        .Width(85);
                    columns.Bound(d => d.Zip)
                        .Width(85);
                    columns.Bound(d => d.MobilePhone)
                        .ClientTemplate("#if(data.MobilePhone != null){# #=FormatUSAPhoneNumber(data.MobilePhone, true)# #}#")
                        .Width(150);
                    columns.Bound(d => d.MobileProvider)
                        .Width(150);
                    columns.Bound(d => d.Email)
                        .ClientTemplate("#if(data.Email != null){#<div title='Send mail to: #=data.Email#'><a href='mailto:#=data.Email#'>#=data.Email#</a></div>#}#")
                        .Width(250);
                    columns.Bound(d => d.ViewInfo.DriverGroupName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DriverGroupName') #")
                        .Width(200);
                    columns.Bound(d => d.HireDate)
                        .ClientTemplate("#if(data.HireDate != null){# #=kendo.toString(data.HireDate, \'M/d/yyyy\')# #}#")
                        .Width(100);
                    columns.Bound(d => d.TerminationDate)
                        .ClientTemplate("#if(data.TerminationDate != null){# #=kendo.toString(data.TerminationDate, \'M/d/yyyy\')# #}#")
                        .Width(160);
                    columns.Bound(d => d.ViewInfo.DriverShiftTypeName)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DriverShiftTypeName') #")
                        .Width(200);
                    columns.Bound(d => d.DriverShiftStartDate)
                        .ClientTemplate("#if(data.DriverShiftStartDate != null){# #=kendo.toString(data.DriverShiftStartDate, \'M/d/yyyy\')# #}#")
                        .Width(140);
                    columns.Bound(d => d.ViewInfo.DLState)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DLState') #")
                        .Width(100);
                    columns.Bound(d => d.ViewInfo.DLNumber)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DLNumber') #")
                        .Width(120);
                    columns.Bound(d => d.ViewInfo.DLEndorsements)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DLEndorsements') #")
                        .Width(200);
                    columns.Bound(d => d.ViewInfo.DLRestrictions)
                        .ClientTemplate("#= ellipseDivDrill(data, 'ViewInfo.DLRestrictions') #")
                        .Width(200);
                    columns.Bound(d => d.ViewInfo.H2S)
                        .Title("H2S?")
                        .ClientTemplate("#if(drillToValue(data, 'ViewInfo.H2S') != ''){# #= ActiveState(data.ViewInfo.H2S) # #}#")
                        .Width(85);
                    columns.Bound(d => d.Notes)
                        .ClientTemplate("#= ellipseDiv(data.Notes) #")
                        .Width(200);
                    columns.Bound(d => d.ViewInfo.LastDeliveredOrderTime)
                        .ClientTemplate("#if(drillToValue(data,'ViewInfo.LastDeliveredOrderTime') != ''){# #=kendo.toString(kendo.parseDate(data.ViewInfo.LastDeliveredOrderTime), \'M/d/yyyy\')# #}#")
                        .Width(140);
                    columns.Bound(d => d.MobileApp)
                        .ClientTemplate("#= ActiveState(data.MobileApp) #")
                        .Width(130);
                    columns.Bound(d => d.MobilePrint)
                        .ClientTemplate("#= ActiveState(data.MobilePrint) #")
                        .Width(130);
                    columns.Bound(d => d.ViewInfo.MobileAppVersion)
                        .ClientTemplate("#= drillToValue(data, 'ViewInfo.MobileAppVersion') #")
                        .Width(170);
                    columns.Bound(d => d.ViewInfo.TabletID)
                        .ClientTemplate("#= drillToValue(data, 'ViewInfo.TabletID') #")
                        .Width(130);
                    columns.Bound(d => d.ViewInfo.PrinterSerial)
                        .ClientTemplate("#= drillToValue(data, 'ViewInfo.PrinterSerial') #")
                        .Width(130);
                    columns.Bound(d => d.CreateDate)
                        .Width(200);
                    columns.Bound(d => d.CreatedByUser)
                        .Width(175);
                    columns.Bound(d => d.LastChangeDate)
                        .Width(200);
                    columns.Bound(d => d.LastChangedByUser)
                        .Width(200);
                    columns.Bound(d => d.DeleteDate)
                        .Width(200);
                    columns.Bound(d => d.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="viewDetails" type="hidden" value="true" alt="/Drivers/Details/"/>
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("DriverMaintenance")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("DriverMaintenance")" />            
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("DriverMaintenance")" />  
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onEdit(e) {    //Place popup create vs. edit code here
        if (!e.model.isNew()) {
            //Do edit mode stuff:
        }
        else {
            //Do create mode stuff:
            $(".k-window-title").html("Create"); //change the window title to create
            
            //Get next available driver ID number
            GetNextDriverIDNumber(e);            
        }
    }
    
    function GetNextDriverIDNumber(e) { //Gets the next driver ID number available from the database and populates the value in the pop-up
        //Find the pop-up's IDNumber textbox
        var idNumber = e.container.find("#IDNumber");

        //Get the next available driver id number
        $.ajax({
            url: "/Drivers/NextDriverIdNumber",
            type: "GET",
            success: function (result) {
                //Set the IDNumber field on the pop-up to the new number and trigger the change event so that the form knows to send the new displayed value on save
                idNumber.val(result);
                idNumber.trigger("change");
            }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>