﻿@model IEnumerable<DispatchCrude.Models.DriverLocation>
@using DispatchCrude.Extensions;

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Reports, "Tab_DriverHistory")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="leftpanel-wide">
                <div class="well with-header">
                    <div class="header bordered-blue">Driver Information</div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            @ViewBag.Error
                        </div>
                    }

                    @{
                        ViewBag.Title = "Reports";
                        ViewBag.SubTitle = "Driver Map";
                        DateTime? Date = ViewBag.Date ?? DateTime.Today;

                        double olat = 0;
                        double olon = 0;
                        double dlat = 0;
                        double dlon = 0;
                        double maxlat = 0;
                        double maxlon = 0;
                        double minlat = 0;
                        double minlon = 0;
                        int i = 0;
                        int? orderid = null;
                    }


                    <div class="viewMap">
                        @using (Html.BeginForm("Map", "Drivers", FormMethod.Get))
                        {
                            <div class="form-group">
                                @Html.Label("Driver")
                                @Html.DropDownList("ID", null, "-- Select Driver --", htmlAttributes: new { @class = "form-control input-sm" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Date")
                                @Html.Kendo().DatePicker().Name("Date").Value(Date).Format("MM/dd/yyyy")
                                &nbsp;&nbsp;<button id="filterbtn" type="submit" class="btn btn-sm btn-blue shiny">View</button>
                            </div>
                        }


                        @if (Model != null && Model.Any())
                        {
                                        <div>
                                            <button id="panleft" class="panner" title="Step Back"><span class="glyphicon glyphicon-backward" /></button>
                                            <button id="play" title="Play/Restart"><span class="glyphicon glyphicon-play" /></button>
                                            <button id="stop" title="Stop"><span class="glyphicon glyphicon-stop" /></button>
                                            <button id="panright" class="panner" title="Step Forward"><span class="glyphicon glyphicon-forward" /></button>
                                        </div>

                                        foreach (var item in Model)
                                        {
                                            if (item.LocationTypeID != 1 && item.LocationTypeID != 4)
                                            {
                                                int tzid = (item.OriginID != null) ? item.Origin.TimeZoneID : item.Destination.TimeZoneID;
                                                string tzname = (item.OriginID != null) ? "Origin" : "Dest";
                                                if (orderid != item.OrderID && item.Order != null)
                                                {
                                                    <br>
                                                    <div>
                                                        <a href="/Orders/Details/@(item.OrderID)" class="btn btn-sm btn-blue shiny" title="Order Details"><span class="glyphicon glyphicon-list-alt"></span> @(item.Order.OrderNum)</a>
                                                        <text>&nbsp; &nbsp;</text>
                                                        <a href="/Orders/Map/@(item.OrderID)" class="btn btn-sm btn-blue shiny"><i class="fa fa-globe"></i> Map</a>
                                                        <div class="spacer5px"></div>
                                                    </div>
                                                }
                                                <div id="dl@(item.ID)" class="row dlevent">
                                                    <div class="col-sm-4 text-left">@(item.getEvent())</div>
                                                    <div class="col-sm-8 text-right">@Html.DisplayFor(model => item.CreateDateUTC, new { tzid = tzid, tzname = tzname })</div>
                                                </div>
                                                orderid = item.OrderID;
                                            }
                                        }
                                        <br>

                                        if (User.IsInRole("viewDemurrageReport"))
                                        {
                                            <div>
                                                <a href="/Orders/DemurrageReport?DriverID=@(ViewBag.DriverID)&StartDate=@(Date)&EndDate=@(Date)" class="btn btn-sm btn-blue shiny">Investigate Trips</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        @if (Model != null)
                        {
                            if (Model.Any())
                            {
                                <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPI"])"></script>
                                <script>
                                    var routePathCoordinates = [
                                        @foreach (var item in Model)
                                            {
                                                @* Loop through datapoints for route, keep track of max and min to help set the centerpoint *@
                                                double lat = Convert.ToDouble(item.Lat);
                                                double lon = Convert.ToDouble(item.Lon);
                                                if (i == 0)
                                                {
                                                    maxlat = lat;
                                                    minlat = lat;
                                                    maxlon = lon;
                                                    minlon = lon;
                                                }
                                                maxlat = Math.Max(maxlat, lat);
                                                minlat = Math.Min(minlat, lat);
                                                maxlon = Math.Max(maxlon, lon);
                                                minlon = Math.Min(minlon, lon);

                                                    <text>{ lat: @lat, lng: @lon, id: @item.ID },</text>
                                                    i++;
                                                }

                                        ];

                                    var origin = null;
                                    var index = routePathCoordinates.length-1;

                                    function initMap() {
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            zoom: 9,
                                            center: new google.maps.LatLng(@((minlat + maxlat) / 2), @((minlon + maxlon) / 2)),
                                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                                            mapTypeControl: true
                                        });


                                        var routePath = new google.maps.Polyline({
                                            path: routePathCoordinates,
                                            geodesic: true,
                                            strokeColor: '#FF0000',
                                            strokeOpacity: 1.0,
                                            strokeWeight: 2
                                        });

                                        routePath.setMap(map);


                                        origin = new google.maps.Marker({
                                            position: new google.maps.LatLng(routePathCoordinates[index]),
                                            map: map,
                                            //            icon: '',
                                            title: 'Driver',
                                        });
                                        var oWindow = new google.maps.InfoWindow({
                                            content: '<div><i class="fa fa-truck"></i>&nbsp;&nbsp;Driver</div>'
                                        });
                                        google.maps.event.addListener(origin, 'click', function () {
                                            oWindow.open(map, origin);
                                        });
                                        oWindow.open(map, origin);

                                        @{             /* Google Maps in Chrome has issues */
                                if (Request.UserAgent.Contains("Chrome"))
                                {
                                    /* hack for grayed-out maps in Chrome before resizing */
                                        <text>
                                        google.maps.event.addListener(map, "idle", function(){
                                            google.maps.event.trigger(map, 'resize');
                                        });
                                        </text>
                                }
                                else
                                {
                                        <text>
                                        // Auto adjust to fit bounds
                                        var latlngbounds = new google.maps.LatLngBounds();
                                        latlngbounds.extend(new google.maps.LatLng(@(Math.Max(maxlat, Math.Max(dlat, olat))), @(Math.Min(minlon, Math.Min(dlon, olon)))));
                                        latlngbounds.extend(new google.maps.LatLng(@(Math.Min(minlat, Math.Min(dlat, olat))), @(Math.Max(maxlon, Math.Max(dlon, olon)))));
                                        map.fitBounds(latlngbounds);
                                        </text>
                                }
                            }
                                    }
                                    function map(indexAdjust)
                                    {
                                        if (indexAdjust < 0) // clear highlighting if a rewind
                                            $("#dl" + routePathCoordinates[index].id).css("background", "");

                                        index = index + indexAdjust;
                                        if (index < 0) newindex = 0;
                                        if (index >= routePathCoordinates.length)
                                        {
                                            index = routePathCoordinates.length - 1;
                                            clearInterval(timeout); // stop if playing
                                            $("#play").show();
                                            $("#stop").hide();
                                        }
                                        origin.setPosition(new google.maps.LatLng(routePathCoordinates[index]))
                                        $("#dl" + routePathCoordinates[index].id).css("background", "#FFF080");
                                    }


                                    google.maps.event.addDomListener(window, 'load', initMap);
                                    $(document).ready(function ()
                                    {
                                        $("#stop").hide();
                                        $("#panleft").click(function(){
                                            map(-1); // for quick click
                                        })
                                        $("#panleft").mousedown(function(){ // for holding down
                                            timeout = setInterval(function(){
                                                map(-1);
                                            }, 100);

                                            return false;
                                        });
                                        $("#panright").click(function(){
                                            map(1); // for quick click
                                        })
                                        $("#panright").mousedown(function(){ // for holding down
                                            timeout = setInterval(function(){
                                                map(1);
                                            }, 100);

                                            return false;
                                        });

                                        $(".panner").mouseup(function(){
                                            clearInterval(timeout);
                                            return false;
                                        });

                                        $("#play").click(function(){ // for start
                                            map(-index); // from beginning
                                            $(".dlevent").css("background", ""); // clear highlighted
                                            timeout = setInterval(function(){
                                                map(1);
                                            }, 100);
                                            $("#play").hide();
                                            $("#stop").show();
                                            return false;
                                        });

                                        $("#stop").click(function(){ // for pause/stop
                                            clearInterval(timeout);
                                            $("#play").show();
                                            $("#stop").hide();
                                            return false;
                                        });
                                    });
                                    var timeout = 0;
                                </script>

                                <div id="gridArea" class="expand Repaint">
                                    <div id="map"></div>
                                </div>
                }
                else
                {
                    <div id="gridArea" class="expand Repaint">
                        No records for this driver on the given date
                    </div>
                    }
                }
        </div>
    </div>
</div>