﻿@model DispatchCrude.ViewModels.FilterViewModel<DispatchCrude.ViewModels.HOSViolationDetailViewModel>
@using DispatchCrude.Core;

@{
    ViewBag.Title = "HOS Violations";
    ViewBag.Subtitle = "Driver Report";
}


<div class="leftpanel">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active tab-blue">
                <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="Filters" class="tab-pane active">      

            @using (Html.BeginForm("ViolationReport", "Drivers", FormMethod.Get)) {
                @*<div class="form-group">
                    @Html.LabelFor(m => m.CarrierID)
                    @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "form-control input-sm" })
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(m => m.DriverID)
                    @Html.DropDownList("DriverID", null, htmlAttributes: new { @class = "form-control input-sm" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.StartDate)<br />
                    @Html.EditorFor(m => m.StartDate)<br />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndDate)<br />
                    @Html.EditorFor(m => m.EndDate)<br />
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ShowAll, "Show All")
                    @Html.EditorFor(m => m.ShowAll, "Switch")
                </div>
                <div>
                    <button id="filterbtn" type="submit" class="btn btn-sm btn-blue shiny">View</button>
                </div>
            }
            </div>
        </div>
    </div>
</div>


<div id="gridArea" class="GridRepaint">

@if (Model.results == null)
{
    // show blank
}
else if (Model.results.Any())
{
    @(Html.Kendo().Grid(Model.results)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(v => v.LogDateUTC).Title("Log Date").Template(
                @<text>
                    <a href="~/HOS/Daily/?DriverID=@(item.DriverID)&StartDate=@(item.LogDate.Date)">
                        @Html.DisplayFor(m => item.LogDateUTC)
                    </a>
                </text>);
            columns.Bound(v => v.Status).Template(
                @<text>
                    @item.DriverStatus
                    <span class="label label-info">@item.Status</span>
                </text>);
            columns.Bound(v => v.OnDutyHoursSinceWeeklyReset).Title("Weekly Hrs").Width(150).Template(
                @<text>
                    @DateHelper.FormatDuration(item.OnDutyHoursSinceWeeklyReset)
                    @if (item.WeeklyDrivingViolation)
                    {
                        <i class="fa fa-times text-danger"></i>
                    }
                </text>);
            columns.Bound(v => v.OnDutyHoursSinceDailyReset).Title("On Duty Hrs").Width(150).Template(
                @<text>
                    @DateHelper.FormatDuration(item.OnDutyHoursSinceDailyReset)
                    @if (item.OnDutyViolation)
                    {
                        <i class="fa fa-times text-danger"></i>
                    }
                </text>);
            columns.Bound(v => v.DrivingHoursSinceDailyReset).Title("Driving Hrs").Width(150).Template(
                @<text>
                    @DateHelper.FormatDuration(item.DrivingHoursSinceDailyReset)
                    @if (item.DrivingViolation)
                    {
                        <i class="fa fa-times text-danger"></i>
                    }
                </text>);
            columns.Bound(v => v.HoursSinceBreak).Title("Hrs Since Break").Width(150).Template(
                @<text>
                    @DateHelper.FormatDuration(item.HoursSinceBreak)
                    @if (item.BreakViolation)
                    {
                        <i class="fa fa-times text-danger"></i>
                    }
                </text>);
        })
        .Pageable(pager => pager
            .PageSizes(Settings.MvcGridPageSizes)
            .Refresh(true)
        )
        .Filterable(filterable => filterable
            .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
            .Operators(operators => operators
                .ForString(str => str
                    .Clear()
                    .Contains("Contains")
                    .DoesNotContain("Does not contain")
                    .StartsWith("Starts with")
                    .EndsWith("Ends with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to")
                )
            )
        )
        .Sortable()
        .Groupable()
        .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Server()
            .PageSize(Settings.DefaultPageSize)
        )
    )

}
else
{
    <div>No matches for that driver in the date range selected!</div>
}
</div>