﻿@model DispatchCrude.Models.ObjectCustomData

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* Set the required field star for the expiration date and document fields based upon the selcted type */
    $("#ObjectFieldID_S2").on("change", function () { refreshRecords(); });
</script>

<div class="popup-editor-container" style="width:650px;">    
    <div class="popup-editor-column" style="width:90%">        
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>

        <div class="editor-label">
            @Html.LabelFor(model => model.ObjectFieldID, "Custom Field")
        </div>
        <div class="editor-field">
            @*The editor and read only field are both here.  The onEdit() (on the grid page) will remove the unneeded control based upon the detected mode*@
            @Html.EditorFor(model => model.ObjectFieldID, new { style = "width:100%", additionalParams = "'ObjectID': $('#filterObjectID').val()" })
            @Html.TextBoxFor(model => model.ObjectField.Name, new { @class = "txtObjectField", style = "cursor:not-allowed;background-color:#fbfbfb;width:80%;", disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecordID)
        </div>
        <div class="editor-field">
            @*The editor and read only field are both here.  The onEdit() (on the grid page) will remove the unneeded control based upon the detected mode*@
            @Html.EditorFor(model => model.RecordID)
            @Html.TextBoxFor(model => model.Record, new { @class = "txtRecord", style = "cursor:not-allowed;background-color:#fbfbfb;width:80%;", disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Value)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Value)
        </div>
    </div>
</div>