﻿@using DispatchCrude.Controllers;
@using AlonsIT;
@using System.Reflection;
@model int?

@*This helper was created to function exactly like the _ForeignKeyDDL helper but instead of using a Telerik dropdown it provides a Select2 Type-and-find dropdown*@

@{
    string OptionLabelText = "-- SELECT --";
    if (ViewData["OptionLabelText"] != null) { OptionLabelText = ViewData["OptionLabelText"].ToString(); }

    string TextField = "Name";
    if (ViewData["TextField"] != null) { TextField = ViewData["TextField"].ToString(); }

    string ValueField = "ID";
    if (ViewData["ValueField"] != null) { ValueField = ViewData["ValueField"].ToString(); }

    string activeOnly = "";
    if (ViewData["activeOnly"] != null && (Model == null || Model == 0)) { activeOnly = ViewData["activeOnly"].ToString(); }

    string additionalParams = "";
    if (ViewData["additionalParams"] != null && (Model == null || Model == 0)) { additionalParams = ViewData["additionalParams"].ToString(); }

    string Table = ViewData.TemplateInfo.HtmlFieldPrefix.Replace("ID", "");
    if (ViewData["Table"] != null) { Table = ViewData["Table"].ToString(); }
}

<div style="position:absolute;top:-9999px;left:-9999px;">
    @Html.Kendo().NumericTextBoxFor(m => m)
</div>

<SELECT class="width100" id="@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2"></SELECT>
<script>
    $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").change(sync@(ViewData.TemplateInfo.HtmlFieldPrefix));

    $.ajax({
        cache: false,
        type: "GET",
        url: "/Support/Get@(Table)s/",
        data: {
            "ActiveOnly": @((activeOnly.ToUpper() == "TRUE" ) ? "true" : "false"),
            @Html.Raw(additionalParams)
        }, /* The syntax error here can be ignored, it is due to the escape for the activeOnly field */
        success: function (data) {
            $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").html('<OPTION>' + '@(OptionLabelText)' + '</OPTION>');
            $.each(data, function (id, option) {
                $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
            });

            /* If this is an edit, set the select2 dropdown selected value equal to the id value of the telerik field attached textbox */
            if ($("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").value())
                $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").val($("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").value());

            $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").select2();
            $(".select2-drop").css("z-index", "11000");
        },
        /* error: */
    });

    function sync@(ViewData.TemplateInfo.HtmlFieldPrefix)()
    {
        /*Set value*/
        var newValue = $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)_S2").val();

        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").value(newValue);
        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)").data("kendoNumericTextBox").trigger("change");
    }
</script>