﻿@model bool?

@{
    string both = "Both";
    string yes = "Yes";
    string no = "No";

    // label overrides
    if (ViewData["boolselect"] != null)
    {
        string[] labels = (string[])ViewData["boolselect"];
        both = labels[0];
        yes = labels[1];
        no = labels[2];

    }
}

@* 3-way button group *@

@{
    var yesSelected = Model.HasValue && Model.Value ? "active" : null;
    var noSelected = Model.HasValue && !Model.Value ? "active" : null;
    var noneSelected = !Model.HasValue ? "active" : null;
}

<div class="input-group">
    <div class="btn-group btn-group-xs" data-toggle="buttons">
        <label class="btn btn-default shiny @noneSelected">
            @Html.RadioButtonFor(x => x, "", (!Model.HasValue ? new { @checked = "checked" } : null)) @both
        </label>
        <label class="btn btn-default shiny @yesSelected">
            @Html.RadioButtonFor(x => x, "true", (Model.HasValue && Model.Value ? new { @checked = "checked" } : null)) @yes
        </label>
        <label class="btn btn-default shiny @noSelected">
            @Html.RadioButtonFor(x => x, "false", (Model.HasValue && !Model.Value ? new { @checked = "checked" } : null)) @no
        </label>
    </div>
</div>