﻿@model DispatchCrude.ViewModels.DCUserViewModel

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });
</script>

<div class="popup-editor-container">
    <div class="popup-editor-column">
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>
        <div class="editor-label">
            <span style="color:red;">* </span>@Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="editor-label">
            <span style="color:red;">* </span>@Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            <br />
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
    </div>
</div>