﻿@model bool

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m, new { @class = "checkbox-slider slider-icon yesno colored-blue" })
        <span class="text" style="top:5px;"></span> <!-- need span for checkbox to show (BeyondAdmin template) -->
    </label>
</div>
