﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("Login", "GaugerApp", null, FormMethod.Post, new { @data_ajax = "false" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Login (test page)</li>
        <li data-role="header">Please enter your user name and password.</li>
        
        <li data-role="fieldcontain">
            @Html.Label("UserName")
            @Html.TextBox("UserName")            
        </li>

        <li data-role="fieldcontain">
            @Html.Label("Password")
            @Html.Password("Password")
        </li>

        <li>
            <input type="submit" value="Log in" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}