﻿@using DispatchCrude.Core;
@using DispatchCrude.Models;
@model OriginTank

<script type="text/javascript"> //this must be at the top so it is present when the controls are constructed below
    function onDSErrors_STRAP(args) {
        HandleDSErrors(args, $("#Grid_Strap").data("kendoGrid"));
    }
    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd_STRAP(e) {
        //This re-selection of the selected row in the tanks grid has to happen here in the request end of the display grid
        //Unfortunately, this seems to be the "last" event running on a save and doing this here does cause one extra loop of the dispaly grid
        //but since were normally only displaying a few straps it won't cause any performance issues
        if (global_SelectedTankID > 0) {
            var gridTanks = $("#Grid_Tanks").data("kendoGrid");
            var newRowUID = $("#" + global_SelectedTankID).closest("tr").attr("data-uid");
            global_SelectedTankID = 0;  //Clear out the id so that this doesn't cause an infinite loop of the straps display grid
            gridTanks.select('tr[data-uid="' + newRowUID + '"]');
        }
    }
</script>

<div class="container" style="width:100%;height:100%;">    
    <div class="row">
        <div class="form-horizontal col-md-10">
            <div class="form-group">
                <span class="col-md-3 txtAlignRight">@Html.LabelFor(m => m.Origin)</span>
                <span class="col-md-9">@Html.DisplayFor(m => m.Origin.Name)</span>
            </div>
            <div class="form-group">
                <span class="col-md-3 txtAlignRight">@Html.LabelFor(m => m.TankNum)</span>
                <span class="col-md-9">@Html.DisplayFor(m => m.TankNum)</span>
            </div>
            <div class="form-group">
                <span class="col-md-3 txtAlignRight">@Html.LabelFor(m => m.AltTankNum)</span>
                <span class="col-md-9">@Html.DisplayFor(m => m.AltTankNum)</span>
            </div>
            <div class="form-group">
                <span class="col-md-3 txtAlignRight">@Html.LabelFor(m => m.TankDescription)</span>
                @*Until all customer databases are completely changed over from the Description to the Definition change, we must accomodate both*@
                @if (Model.OriginTankDefinition != null)
                {
                    <span class="col-md-9">@Html.DisplayFor(m => m.OriginTankDefinition.Name)</span>
                }
                else
                {
                    <span class="col-md-9">@Html.DisplayFor(m => m.TankDescription)</span>
                }
            </div>
        </div>
        <div class="col-md-2">
            @if (Model.Active && User.IsInRole("editOriginTanks")) //If the tank isn't active (or the user doesn't have permission), we don't allow editing
            {
                <div class="row">
                    <a href="javascript:EditTank(@Model.ID)" class="btn btn-blue shiny pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                </div>
                <div class="spacer10px"></div>
                <div class="row">
                    <i id="spinner" class="fa fa-2x fa-fw margin-bottom center"></i>
                </div>
            }            
        </div>
    </div>
    <h3>Straps</h3>
    <p>
        @(Html.Kendo().Grid<OriginTankStrapping>()
            .Name("Grid_Strap")
            .DataSource(ds => ds
                .Ajax()
                .Model(model => model.Id(m => m.ID))
                .PageSize(Settings.DefaultPageSize)
                .Read("Straps_Read", "OriginTanks", new { originTankId = Model.ID })
                .Events(events => { events.Error("onDSErrors_STRAP"); events.RequestEnd("onDSRequestEnd_STRAP"); })
            )
            .Excel(excel => excel
                        .AllPages(true)
                        .FileName(string.Format("{0}_{1}_Strapping_{2:yyyyMMdd}.xlsx", Model.Origin.Name, Model.TankNum, DateTime.Now.Date))
                        .Filterable(true)
                    )
            .Events(e => e.DataBound("customKendoGridButtons_OnDataBound"))  //This function call is required here in order to get the excel export button to show up as desired on this grid.
            .HtmlAttributes(new { style = "height:450px;"})
            .ToolBar(command =>
            {
                //When using a toolbar template, to get the default excel button it must be included using 
                //the html that would normally be rendered by using command.Excel();
                command.Template(@<text>  
                        <a class="btn btn-xs btn-default shiny k-grid-ExportFull" href="/OriginTanks/ExportFullStrapTable?TankID=@Model.ID"><span class="k-icon k-i-excel"></span>Export Fully Calculated Table</a>
                        <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Export to Excel</a>
                    </text>);
            })
            .Pageable()
            .Navigatable()
            .Sortable()
            .Scrollable()
            .Columns(columns =>
            {
                columns.Bound(m => m.Feet)
                    .Width(60);
                columns.Bound(m => m.Inches)
                    .Width(60);
                columns.Bound(m => m.Q)
                    .Width(60);
                columns.Bound(m => m.BPQ)
                    .Width(75);
                columns.Bound(m => m.IsMinimum)
                    .ClientTemplate("#= ActiveState(data.IsMinimum) #")
                    .Width(60);
                columns.Bound(m => m.IsMaximum)
                    .ClientTemplate("#= ActiveState(data.IsMaximum) #")
                    .Width(60);
                columns.Bound(m => m.BPQ)
                        .Title("BBLS")
                        .ClientTemplate("#= calculateTotalBBLS(data.Feet, data.Inches, data.Q, data.BPQ) #")
                        .Filterable(false)  //The filtering doesn't work as expected on this template column and there really is no need to filter on this column anyway.
                        .Width(100);
                columns.Bound(m => m.CreateDate)
                    .Width(200);
                columns.Bound(m => m.CreatedByUser)
                    .Width(175);
                columns.Bound(m => m.LastChangeDate)
                    .Width(200);
                columns.Bound(m => m.LastChangedByUser)
                    .Width(200);
            })
        )
    </p>
</div>
<script>
    //Calculate the total bbls for each record (no need for this to be stored in the db)
    function calculateTotalBBLS(feet, inch, q, bpq) {
        return (bpq * (q + inch * 4 + feet * 48)).toFixed(4);
    }
</script>