﻿@using DispatchCrude.Core;
@using DispatchCrude.Models;
@model OriginTank

<script>
    function onDSErrors_STRAP(args) {
        HandleDSErrors(args, $("#Grid_Strap").data("kendoGrid"));
    }

    function onEditSelectCellContents(e) {
        // Selects the text in the currently selected cell (inline editing) to make user overwrite easier when clicking or tabbing to the next cell
        var inputName = e.container.find('input').attr("name");
        var selectedInput = e.container.find('input[name="' + inputName + '"]');
        selectedInput.select();
    }
</script>

@*This is here so that it can be set to the text value of the new tank definition that is chosen*@
@Html.HiddenFor(m => m.ID, new { @id = "TankID" })
@Html.HiddenFor(m => m.TankDescription)

<div class="container divStrapRoot col-md-12" style="min-width:520px;width:100%;height:100%;">
    <div class="row">
        <div class="form-horizontal col-md-12">
            <div class="row col-md-2 col-sm-2 pull-right">
                <a href="javascript:CancelEditTank(@Model.ID)" class="btn btn-blue shiny pull-right"><i class="glyphicon glyphicon-ban-circle"></i> Cancel </a>
            </div>
            <div class="row">
                <span class="col-md-3 col-sm-3 txtAlignRight"><span style="color:red;">*</span>@Html.LabelFor(m => m.Origin, new { @class = "control-label" })</span>
                <span>@Html.DropDownList("AvailableOrigins", null, "(Select an Origin)", new { @class = "col-md-7 col-sm-7" })</span>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-7 col-sm-7">
                    <span id="Err_OriginID" class="NullValidator"></span>                  
                </div>
            </div>
            <div class="spacer10px"></div>

            <div class="row col-md-2 col-sm-2 pull-right">
                <a href="javascript:SaveTank()" class="btn btn-blue shiny pull-right"><i class="fa fa-save"></i> Save </a>
            </div>
            <div class="row">
                <span class="col-md-3 col-sm-3 txtAlignRight"><span style="color:red;">*</span>@Html.LabelFor(m => m.TankNum, new { @class = "control-label" })</span>
                <span class="col-md-7 col-sm-7">@Html.TextBoxFor(m => m.TankNum, new { @class = "form-control" })</span>                
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-7 col-sm-7">
                    <span id="Err_" class="NullValidator"></span>
                    <span id="Err_TankNum" class="NullValidator"></span>
                </div>
            </div>
            <div class="spacer10px"></div>

            <div class="row col-md-2 col-sm-2 pull-right">                
                <i id="spinner" class="fa fa-2x fa-fw margin-bottom center"></i>
            </div>
            <div class="row">
                <span class="col-md-3 col-sm-3 txtAlignRight">@Html.LabelFor(m => m.AltTankNum, new { @class = "control-label" })</span>
                <span class="col-md-7 col-sm-7">@Html.TextBoxFor(m => m.AltTankNum, new { @class = "form-control" })</span>                
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-7 col-sm-7">
                    <span id="Err_AltTankNum" class="NullValidator"></span>
                </div>
            </div>
            <div class="spacer10px"></div>

            <div class="row">
                <span class="col-md-3 col-sm-3 txtAlignRight"><span style="color:red;">*</span>@Html.LabelFor(m => m.TankDescription, new { @class = "control-label" })</span>
                <span>@Html.DropDownList("AvailableTankDefinitions", null, "(Select a Tank Definition)", new { @class = "col-md-7 col-sm-7" })</span>                
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-7 col-sm-7">
                    <span id="Err_TankDefinitionID" class="NullValidator"></span>
                </div>                
            </div>            
        </div>
    </div>
    <div class="row">
        <h3>Straps <i class="fa fa-info-circle blue shiny" title="Click on a cell in the grid below to edit the information"></i></h3>
        <div id="StrapValidationErrors"></div>
    </div>    
    <div class="row">
        @(Html.Kendo().Grid<OriginTankStrapping>()
            .Name("Grid_Strap")
            .DataSource(ds => ds
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(m => m.ID);
                    //The following disables editing on these fields for this batch/inline type edit grid
                    model.Field(m => m.CreateDate).Editable(false);
                    model.Field(m => m.CreatedByUser).Editable(false);
                    model.Field(m => m.LastChangeDate).Editable(false);
                    model.Field(m => m.LastChangedByUser).Editable(false);
                }
                )
                .PageSize(Settings.DefaultPageSize)
                .Read("Straps_Read", "OriginTanks", new { originTankId = Model.ID })
                .Events(events => { events.Error("onDSErrors_STRAP"); })
            )
            .Events(e =>
            {
                e.DataBound("customKendoGridButtons_OnDataBound_UseDeleteButton");//This function call is required here in order to get the delete buttons to show up as desired on this grid.
                e.Edit("onEditSelectCellContents"); //This selects the contents of the selected cell when it gets focus so that the user can more easily overwrite the existing data
            })  
            .HtmlAttributes(new { style = "height:450px;" })
            .ToolBar(command =>
            {
                if (User.IsInRole("createOriginTankDefinitions")) command.Create().Text("");
            })
            .Editable(ed => {
                ed.Mode(GridEditMode.InCell);
                //ed.DisplayDeleteConfirmation(false);  We want the confirmation message for the strap grid in case the user made an accidental click.
            })
            .Pageable()
            .Navigatable(navigation => navigation.Enabled(true))
            .Sortable()
            .Scrollable()
            .Columns(columns =>
            {
                columns.Command(command => command.Destroy().Text("")).Width(50);
                columns.Bound(m => m.Feet)
                    .Width(60);
                columns.Bound(m => m.Inches)
                    .Width(60);
                columns.Bound(m => m.Q)
                    .Width(60);
                columns.Bound(m => m.BPQ)
                    .Width(75);
                columns.Template(@<text></text>)
                    .ClientTemplate("<input type='checkbox' #= IsMinimum ? checked='checked':'' # class='isMin' />")
                    .Title("Is Min?")
                    .Width(60);
                columns.Template(@<text></text>)
                    .ClientTemplate("<input type='checkbox' #= IsMaximum ? checked='checked':'' # class='isMax' />")
                    .Title("Is Max?")
                    .Width(60);
                columns.Bound(m => m.CreateDate)
                    .Width(200);
                columns.Bound(m => m.CreatedByUser)
                    .Width(175);
                columns.Bound(m => m.LastChangeDate)
                    .Width(200);
                columns.Bound(m => m.LastChangedByUser)
                    .Width(200);
            })
        )
    </div>
</div>
<script>
    //When the user selects a new tank definition from the dropdown...
    $("#AvailableTankDefinitions").on("change", function () {
        var tankDefinitionID = $(this).find(':selected').val();
        var tankDefinitionText = $(this).find(':selected').text();
        var grid = $("#Grid_Strap").data("kendoGrid");
        var ds = grid.dataSource;

        //If there are no pre-existing strap records in the grid when the user chooses a tank definition...
        if (ds.view().length == 0)
        {
            $.ajax({
                url: "/OriginTanks/GetTankDefinition",
                type: "GET",
                data: { definitionID: tankDefinitionID }
            })
            .done(function (result) {
                InitializeStrapGrid(result);
            });
        }
    });

    //Make minimum checkbox directly clickable in edit mode (telerik work around)
    //http://www.telerik.com/support/code-library/checkbox-column-and-incell-editing
    $(function () {
        $('#Grid_Strap').on('click', '.isMin', function () {
            var checked = $(this).is(':checked');
            var grid = $('#Grid_Strap').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsMinimum', checked);
        })
    })

    //Make maximum checkbox directly clickable in edit mode (telerik work around)
    //http://www.telerik.com/support/code-library/checkbox-column-and-incell-editing
    $(function () {
        $('#Grid_Strap').on('click', '.isMax', function () {
            var checked = $(this).is(':checked');
            var grid = $('#Grid_Strap').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsMaximum', checked);
        })
    })

    function InitializeStrapGrid(data) {
        var grid = $("#Grid_Strap").data("kendoGrid");
        var ds = grid.dataSource;

        //If there is a custom bottom level set (a non-zero bottom) then insert that extra record
        //as the minimum.  Otherwise, use zero as the minimum.
        if (data.CustomBottomRecord == true) {
            //insert zero record
            ds.insert({
                Feet: 0,
                Inches: 0,
                Q: 0,
                BPQ: 0.0,
                IsMinimum: false,
                IsMaximum: false
            });
            //insert custom bottom record
            ds.insert({
                Feet: data.BF,
                Inches: data.BI,
                Q: data.BQ,
                BPQ: data.BPQ,
                IsMinimum: true,
                IsMaximum: false
            });
        }
        else
        {
            //insert zero record
            ds.insert({
                Feet: 0,
                Inches: 0,
                Q: 0,
                BPQ: 0.0,
                IsMinimum: true,
                IsMaximum: false
            });
        }

        //insert the top record
        ds.insert({
            Feet: data.TF,
            Inches: data.TI,
            Q: data.TQ,
            BPQ: data.BPQ,
            IsMinimum: false,
            IsMaximum: true
        });

        //reapply the grid sort
        grid.dataSource.sort([
            { field: "Feet", dir: "desc" },
            { field: "Inches", dir: "desc" },
            { field: "Q", dir: "desc" }
        ]);
    }

    function CancelEditTank(tankID) {
        $.ajax({
            url: "/OriginTanks/TankInfo_Display",
            type: "GET",
            data: { TankID: tankID }
        })
        .done(function (result) {
            debugger;
            $(".divStrapRoot").parent().html(result);
        })
    }

    function SaveTank() {
        debugger;
        //start the spinner because this function can take a little while to complete at times
        $("#spinner").addClass("fa-spinner fa-pulse");

        // id = 0 means new tank
        var tankID = $('#TankID').val();
        var originid = $("#AvailableOrigins").val();
        var tanknum = $("#TankNum").val();
        var alttanknum = $("#AltTankNum").val();
        var tankDefinitionID = $('#AvailableTankDefinitions').children("option:selected").val() || "0"; // convert empty string to "0"
        var tankdesc = tankDefinitionID === "0" ? "" : $('#AvailableTankDefinitions').children("option:selected").text();

        $.ajax({
            url: "/OriginTanks/" + (tankID === 0 ? "Create" : "Update")
            , type: "POST"
            , data: {
                ID: tankID
                , OriginID: originid
                , TankNum: tanknum
                , AltTankNum: alttanknum
                , TankDescription: tankdesc
                , TankDefinitionID: tankDefinitionID
            }
            , success: function (data) {
                // always initially clear errors (they will be repopulated below if they return)
                $("#Err_OriginID").html("");
                $("#Err_").html("");
                $("#Err_TankNum").html("");
                $("#Err_AltTankNum").html("");
                $("#Err_TankDefinitionID").html("");

                //On actual true success...
                if (data.Valid) {
                    //now move on to the checking and saving of the strap grid
                    SaveTankStrapGrid(data.tankID);
                }

                //If there were errors on tank save we need to stop showing the spinner
                $("#spinner").removeClass("fa-spinner fa-pulse");

                // Now display the error messages. The following script will display the last
                // message related to the field.
                $.each(data.Errors, function (key, value) {
                    if (value != null) {
                        $("#Err_" + key).html(value[value.length - 1].ErrorMessage);
                    }
                });
            }
            //Handle other types of errors...
            , error: function (xhr) {
                //Do we really need this?
                //alert(xhr.responseText);
                //alert("Critical Error!. Failed to call the server.");
            }
        })
    }

    function SaveTankStrapGrid(tankID) {
        debugger;
        var grid = $("#Grid_Strap").data("kendoGrid");

        var definitionId = $('#AvailableTankDefinitions').children("option:selected").val();

        //get the new and the updated records
        var currentData = grid.dataSource.data();
        var updatedRecords = [];
        var newRecords = [];

        for (var i = 0; i < currentData.length; i++) {
            if (currentData[i].isNew()) {
                //this record is new
                newRecords.push(currentData[i].toJSON());
            } else if (currentData[i].dirty) {
                updatedRecords.push(currentData[i].toJSON());
            }
        }

        //these records are deleted
        var deletedRecords = [];
        for (var i = 0; i < grid.dataSource._destroyed.length; i++) {
            deletedRecords.push(grid.dataSource._destroyed[i].toJSON());
        }

        var data = {
            tankID: tankID //Also send origin tank ID
            , tankDefinitionId: definitionId //Also send origin tank defintion ID
            , updatedStraps: updatedRecords
            , deletedStraps: deletedRecords
            , newStraps: newRecords
        };

        $.ajax({
            url: "/OriginTanks/Straps_UpdateCreateDelete",
            data: data,
            type: "POST",
            error: function () {
                //Is this needed?
                //Handle the server errors using the approach from the previous example
                //alert("There was an error, check it out.")
            },
            success: function (data) {
                if (data.Valid) {
                    grid.dataSource._destroyed = [];

                    //Get the currently selected row in Grid_tanks so that we can reselect it after the refresh
                    var gridTanks = $("#Grid_Tanks").data("kendoGrid");
                    var selectedRow = gridTanks.dataSource.getByUid(gridTanks.select().data("uid"));

                    //Refresh the tank grid (both calls are required for full refresh to happen)
                    gridTanks.dataSource.read();
                    gridTanks.refresh();

                    //It is possible we got here without a previously selected row, if so, we cannot reselect a row that didn't exist
                    if (typeof selectedRow != 'undefined') {
                        if (selectedRow.id > 0) {
                            //Find the new uid of the row that was selected (uid is re-generated ever read()
                            var rowID = $("#" + selectedRow.id);
                            var newRowUID = rowID.closest("tr").attr("data-uid");

                            //Reselect the Grid_tanks row now that the datasource has been refreshed
                            gridTanks.select('tr[data-uid="' + newRowUID + '"]');

                            //This global variable is used by onDSRequestEnd_DISPLAY() to re-select the selected row in grid_tanks because it gets "lost"
                            //if we only do it here like I was trying to do originally.  oddly, it is still required here (just above)
                            //to select the row in order to work properly by the time we get to onDSRequestEnd_DISPLAY().                            
                            global_SelectedTankID = selectedRow.id;
                        }
                    }
                    else  // If there was no previously selected row, just redisplay the details of this tank
                    {
                        //Show display partial view of this tank
                        CancelEditTank(data.TankID);
                    }
                }

                //If there are validation errors (fake success)...
                // Display the messages.
                $("#StrapValidationErrors").html(data.Errors);
            }
        })
    }

</script>