﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("GetTicketTypes", "TableMx", null, FormMethod.Post, new { @data_ajax = "false" }))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Test Data (GetTicketTypes)</li>
        
        <li>
            <input type="submit" value="Get" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}