﻿@using DispatchCrude.Core;
@model DispatchCrude.ViewModels.FilterViewModel<DispatchCrude.ViewModels.AllocationDestinationShipperViewModel>
@{
    int i = 0;
    string destlabels = "";
    string production = "";
    string remaining = "";
    string excess = "";
    decimal max = 1000;
}
<div class="leftdashboardpanel">
    <div class="well with-border">
        @using (Html.BeginForm("Index", "Dashboard"))
        {
            @Html.LabelFor(m => m.ShipperID)<br />
                    @Html.DropDownList("ShipperID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                    @Html.LabelFor(m => m.RegionID)<br />
                    @Html.DropDownList("RegionID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                    @Html.LabelFor(m => m.TerminalID)<br />
                    if (Converter.ToInt32(Profile.GetPropertyValue("TerminalID")) > 0) //user is locked to a terminal
                    {
                        @Html.DropDownList("TerminalID", null, htmlAttributes: new { @class = "form-control", disabled=true })<br />
                    }
                    else
                    {
                        @Html.DropDownList("TerminalID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />
                    }

                    @Html.LabelFor(m => m.DestinationID)<br />
                    @Html.DropDownList("DestinationID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                    @Html.LabelFor(m => m.ProductGroupID)<br />
                    @Html.DropDownList("ProductGroupID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })<br />

                    @Html.LabelFor(m => m.DateFilterName)<br />
                    @Html.DropDownList("DateFilterName", null, htmlAttributes: new { @class = "form-control" })<br />

                    @Html.LabelFor(m => m.UomID)<br />
                    @Html.DropDownList("UomID", null, htmlAttributes: new { @class = "form-control" })<br />

                    <div class="spacer20px"></div>
                    <div class="center"><input type="submit" value="Filter" class="btn btn-blue shiny"></div>
        }
    </div>
</div>
<div class="dashboardcontent">
    <h4>
        Allocation vs. Production
        <span class="pull-right">
            <a class="btn btn-xs" href="javascript:genPDF()"><i class="fa fa-file-pdf-o"></i></a>
        </span>
    </h4>
    <div id="horizonal-chart" class="chart chart-xl"></div>
    <br />
    <br />
    <table class="table table-border table-condensed">
        <tr>
            <th>Shipper</th>
            <th>Destination</th>
            <th>Product Group</th>
            <th class="text-right">Target</th>
            <th class="text-right"># Loads</th>
            <th class="text-right">Production</th>
            <th class="text-right">Remaining</th>
            <th class="text-right">Days Left</th>
            <th class="text-right">Per Day</th>
        </tr>
        @foreach (var item in Model.results)
        {
            <tr>
                <td>@item.Shipper</td>
                <td>@item.Destination</td>
                <td>@item.ProductGroup</td>
                <td class="text-right">@item.Target.ToString("#,###")</td>
                <td class="text-right">@item.TicketCount</td>
                <td class="text-right">@item.TotalGross.ToString("#,##0")</td>
                <td class="text-right">
                    @item.Remaining.ToString("#,###")
                    @if (item.AllocationExceeded())
                {
                        <span class="label label-danger" data-toggle="tooltip" title="Exceeded">&nbsp;!&nbsp;</span>
                    }
                </td>
                <td class="text-right">@item.DaysLeft.ToString("#,###")</td>
                <td class="text-right">@item.DailyUnitsToHitAllocationTarget.ToString("#,###")</td>
            </tr>

            // Populate javascript for flot graph
            destlabels += "[" + i + ", '" + item.Destination.Replace("'", "\\'") + "'],";
            if (item.Production > 0) { production += "[" + item.Production.ToString("0") + ", " + i + "],"; }
            if (item.Remaining > 0 || item.Excess > 0) { remaining += "[" + item.Remaining.ToString("0") + ", " + i + "],"; }
            if (item.Excess > 0) { excess += "[" + item.Excess.ToString("0") + ", " + i + "],"; }
            max = Math.Max(max, item.Production + item.Remaining + item.Excess);
            i++;
        }
    </table>
</div>
<script>
    $(window).bind("load", function () {

        InitiateHorizonalChart.init();
    });

    var InitiateHorizonalChart = function () {
        return {
            init: function () {
                var gridbordercolor = "#eee";

                // Set up our data array
                var production_data = [@Html.Raw(production)];
                var remaining_data = [@Html.Raw(remaining)];
                var excess_data = [@Html.Raw(excess)];

                // Setup labels for use on the Y-axis
                var tickLabels = [@Html.Raw(destlabels)];

                var allocation_data = [
                    { label: "Production", data: production_data, color: "#5F8B95" },
                    { label: "Remaining", data: remaining_data, color: "#E3A653" },
                    { label: "Excess", data: excess_data, color: "#BA4D51" },
                ];

                $.plot($("#horizonal-chart"), allocation_data,
                {
                    series: {
                        stack: true,
                        lines: { show: false },
                        bars: { show: true, barWidth: 0.8, horizontal: true }
                    },
                    bars: {
                        fillColor: { colors: [{ opacity: 0.8 }, { opacity: 1 }] },
                        barWidth: 0.5,
                        lineWidth: 1,
                        borderWidth: 0,
                        horizontal: true,
                    },
                    yaxis: {
                        ticks: tickLabels,
                    },
                    xaxis: {
                        min: 0.0,
                        max: Math.ceil(@max / 1000) * 1000, // round up to nearest 1000
                    },
                    grid: {
                        show: true,
                        hoverable: true,
                        clickable: true,
                        tickColor: gridbordercolor,
                        borderWidth: 0,
                        borderColor: gridbordercolor,
                    },
                    tooltip: true,
                    tooltipOpts: {
                        defaultTheme: false,
                        content: "<b>%s</b>: <span>%x</span>",
                    },
                    legend: {
                        sorted: "descending",
                    }
                }
                );
            }
        };
    }();
</script>
<script>
    $(document).ready(function() {
        //refreshRegions();
        //refreshDestinations();
    });

    $("#ShipperID").change(function () {
        refreshRegions();
        refreshDestinations();
    });

    $("#RegionID").change(function () {
        refreshDestinations();
    });

    $("#TerminalID").change(function () {
        refreshDestinations();
    });

    function refreshRegions()
    {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Regions/getRegionsJSON/",
            data: {
                "shipperid": $("#ShipperID").val(),
            },
            success: function (data) {
                $("#RegionID").html('<OPTION>(ALL)</OPTION>');
                $.each(data, function (id, option) {
                    $("#RegionID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#RegionID").val("");
    }

    function refreshDestinations()
    {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getDestinationsJSON/",
            data: {
                "shipperid": $("#ShipperID").val(),
                "regionid": $("#RegionID").val(),
                "terminalid": $("#TerminalID").val()
            },
            success: function (data) {
                $("#DestinationID").html('<OPTION>(ALL)</OPTION>');
                $.each(data, function (id, option) {
                    $("#DestinationID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#DestinationID").val("");
    }
</script>
