﻿@{
    ViewBag.Title = "_eLog";
    ViewBag.LogDate = "12/1/2015";
//    ViewBag.Data
}

<div class="widget">
    <div class="widget-header ">
        <span class="widget-caption">Driver Log @ViewBag.LogDate</span>
        <div class="widget-buttons">
            <a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div id="elog" class="chart chart-lg"></div>
    </div>
</div>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.tooltip.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.stack.js"></script>
<script src="~/scripts/beyondadmin/charts/flot/jquery.flot.resize.js"></script>

<script>
    OFFDUTY = 3.5;
    SLEEPER = 2.5;
    DRIVING = 1.5;
    ONDUTY = 0.5;

    var InitiateStackedChart = function () {
    return {
        init: function () {
            var gridbordercolor = "#eee";
            var d1 = [];
            d1.push([0, OFFDUTY]);
            d1.push([4, ONDUTY]);
            d1.push([5, DRIVING]);
            d1.push([9.5, OFFDUTY]);
            d1.push([11, ONDUTY]);
            d1.push([12, DRIVING]);
            d1.push([17, OFFDUTY]);
            d1.push([24, OFFDUTY]); // must include 24 to complete graph (should match prev value or will show peak)


            var data1 = [
                {
                    /*label: "Windows Phone",*/
                    data: d1,
                    color: themeprimary /* themethirdcolor*/
                }
            ];

            var stack = 0,
                bars = false,
                lines = true,
                steps = true;

            function plotWithOptions() {
                $.plot($("#elog"), data1, {
                    series: {
                        stack: stack,
                        lines: {
                            lineWidth: 1,
                            show: lines,
                            fill: false,
                            steps: steps
                        },
                        bars: {
                            show: bars,
                            barWidth: 0.4
                        }
                    }
                    ,
                    xaxis: {
                        color: gridbordercolor,
                        ticks: [[0, "M"], [0.5, ""], [1, "1"], [1.5, ""], [2, "2"], [2.5, ""], [3, "3"], [3.5, ""], [4, "4"], [4.5, ""], [5, "5"], [5.5, ""], [6, "6"], [6.5, ""], [7, "7"], [7.5, ""], [8, "8"], [8.5, ""], [9, "9"], [9.5, ""], [10, "10"], [10.5, ""], [11, "11"], [11.5, ""], [12, "N"],
                                [13, "1"], [13.5, ""], [14, "2"], [14.5, ""], [15, "3"], [15.5, ""], [16, "4"], [16.5, ""], [17, "5"], [17.5, ""], [18, "6"], [18.5, ""], [19, "7"], [19.5, ""], [20, "8"], [20.5, ""], [21, "9"], [21.5, ""], [22, "10"], [22.5, ""], [23, "11"], [23.5, ""], [24, "M"]]
                    },
                    yaxis: {
                        color: gridbordercolor,
                        ticks: [[0, ""], [0.5, "On Duty"], [1, ""], [1.5, "Driving"], [2, ""], [2.5, "Sleeper"], [3, ""], [3.5, "Off Duty"], [4, ""]]
                    },
                    grid: {
                        hoverable: true,
                        clickable: false,
                        borderWidth: 0,
                        aboveData: false
                    },
                    legend: {
                        noColumns: 3
                    },
                });
            }

            $(".stackControls input").click(function (e) {
                e.preventDefault();
                stack = $(this).val() == "With stacking" ? true : null;
                plotWithOptions();
            });
            $(".graphControls input").click(function (e) {
                e.preventDefault();
                bars = $(this).val().indexOf("Bars") != -1;
                lines = $(this).val().indexOf("Lines") != -1;
                steps = $(this).val().indexOf("steps") != -1;
                plotWithOptions();
            });

            plotWithOptions();
        }
    };
    }();
</script>
<script type="text/javascript">
    $(window).bind("load", function () {
        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');



        InitiateStackedChart.init();
    });
</script>