﻿@model IEnumerable<DispatchCrude.Models.Order>
@{
    ViewBag.Title = "_RecentOrders";
}

<!--
<div class="widget">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <i class="widget-icon fa fa-tags themesecondary"></i>
        <span class="widget-caption themesecondary">Recent Orders</span>
    </div>
    <div class="widget-body  no-padding">
        <div class="tickets-container">
            <ul class="tickets-list">
                @foreach(var item in Model)
                {
                <li class="ticket-item">
                    <div class="row">
                        <div class="ticket-user col-lg-6 col-sm-12">
                            @item.OrderNum
                        </div>
                        <div class="ticket-time  col-lg-4 col-sm-6 col-xs-12">
                            <div class="divider hidden-md hidden-sm hidden-xs"></div>
                            <i class="fa fa-clock-o"></i>
                            <span class="time">@item.DueDate</span>
                        </div>
                        <div class="ticket-type  col-lg-2 col-sm-6 col-xs-12">
                            <span class="divider hidden-xs"></span>
                            <span class="type">@item.Status.Name</span>
                        </div>
                        <div class="ticket-state bg-palegreen">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>

    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-4 col-xs-4">

-->
<div class="orders-container">
    <div class="orders-header">
        <h6>Latest Orders</h6>
    </div>
    <ul class="orders-list">
        @foreach(var item in Model)
        {
            <li class="order-item">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                        <div class="item-booker">@item.OrderNum</div>
                        <div class="item-time">
                            <i class="fa fa-calendar"></i>
                            <span>@item.DueDate</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                        <div>
                            @item.Status.Name
                        </div>
                    </div>
                </div>
                <a class="item-more" href="/Orders/Details/@item.ID">
                    <i></i>
                </a>
            </li>
        }            
    </ul>
    <div class="orders-footer">
        <a class="show-all" href="/Orders/"><i class="fa fa-angle-down"></i> Show All</a>
        <div class="help">
            <a href=""><i class="fa fa-question"></i></a>
        </div>
    </div>
</div>
