﻿@model IEnumerable<DispatchCrude.Models.DriverLocation>
    
<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-6">
        @Html.Action("MyRecentOrders")
    </div>
</div>
<div class="row">
    @{
        ViewBag.Percent = 42;
        ViewBag.Allocation = 50000;
        ViewBag.SoFar = 21002;
    }

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="databox radius-bordered databox-shadowed databox-graded">
            <div class="databox-left bg-orange">
                <div class="databox-piechart">
                    <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="@ViewBag.Percent" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#fa8872"><span class="white font-90">@(ViewBag.Percent)%</span></div>
                </div>
            </div>
            <div class="databox-right">
                <span class="databox-number orange">@ViewBag.SoFar</span>
                <div class="databox-text darkgray">TOTAL ALLOCATION: @ViewBag.Allocation</div>
                <div class="databox-stat orange radius-bordered">
                    <i class="stat-icon icon-lg fa fa-tasks"></i>
                </div>
            </div>
        </div>
    </div>
</div>
