﻿@{
    Layout = "~/Views/Shared/_RazorLayout.cshtml";
}
@using DispatchCrude.Core;

<style type="text/css">
    .kendoDatePicker
    {
        width: 110px;
    }
</style>
<div id="sidebar" class="sidebar sidebarFilter">
    <div class="Entry">
        <label for="shipperid" class="Entry" >Shipper</label>
        <select id="shipperid" style="width:100%;" >
            @Html.Raw(DispatchCrude.Controllers.JsonDataController.GetOptionListData("shipper"))
        </select>
    </div>
    <div class="Entry" >
        <div class="Entry floatLeft">
            <label for="startdate" class="Entry" >Start Date</label>
            @(Html.Kendo().DatePicker()
                                .Name("startdate")
                                .Value(DateTime.Now.Date.AddDays(1 - DateTime.Now.Day))
                                .Format("M/d/yyyy")
                                .HtmlAttributes(new { @class = "kendoDatePicker" })
            )
        </div>
        <div class="Entry floatRight">
            <label for="enddate" class="Entry" >End Date</label>
            @(Html.Kendo().DatePicker()
                                .Name("enddate")
                                .Value(DateTime.Now.Date.AddDays(-DateTime.Now.Day).AddMonths(1))
                                .Format("M/d/yyyy")
                                .HtmlAttributes(new { @class = "kendoDatePicker" })
            )
        </div>
    </div>
    <div class="Entry" >
        <div class="Entry floatLeft" >
            <label for="includeapproved" class="Entry" >Include Previously Approved?</label>
            <input id="includeapproved" type="checkbox" value="false" />
        </div>
        <div class="Entry floatRight" >
            <button id="refresh" >Refresh</button>
        </div>
    </div>
</div>
<div id="gridArea" style="height:100%;" >
    @(Html.Kendo().Grid<DispatchCrude.Models.OrderApprovalRO>()
        .Name("ApproveGrid")
        .HtmlAttributes(new { style = "height: 99%; min-height: 99%;" })
        .Mobile(MobileMode.Auto)
        .Columns(columns =>
        {
            columns.Command(cmd => cmd.Custom("Approve").Click("approveorder")).Width(80);
            columns.Command(cmd => cmd.Custom("Edit").Click("editorder")).Width(80);
            columns.Bound(c => c.OrderNum).Title("#").Width(70).Filterable(true);
            columns.Bound(c => c.OrderDateStr).Title("Date").Width(80);
            columns.Bound(c => c.Shipper).Width(110);
            columns.Bound(c => c.Carrier).Width(110);
            columns.Bound(c => c.Driver).Width(110);
            columns.Group(g => g.Title("Origin")
                .Columns(origin =>
                {
                    origin.Bound(c => c.Origin).Title("Name").Width(150);
                    origin.Bound(c => c.OriginMinutes).Title("Wait Min.").Width(80);
                    //origin.Bound(c => c.OriginWaitBillableMinutes).Title("Bill Min.").Width(80);
                })
            );
            columns.Group(g => g.Title("Destination")
                .Columns(origin =>
                {
                    origin.Bound(c => c.Destination).Title("Name").Width(150);
                    origin.Bound(c => c.DestMinutes).Title("Wait Min.").Width(80);
                    //origin.Bound(c => c.DestinationWaitBillableMinutes).Title("Bill Min.").Width(80);
                })
            );
        })
        //.Pageable(pager => pager.PageSizes(Settings.MvcGridPageSizes).Refresh(true))
        .Sortable()
        .Resizable(resize => resize.Columns(true))
        .Filterable(filterable => filterable
            .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
            .Operators(operators => operators
                .ForString(str => str
                    .Clear()
                    .Contains("Contains")
                    .DoesNotContain("Does not contain")
                    .StartsWith("Starts with")
                    .EndsWith("Ends with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to")
                )
            )
        )
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Ajax()        
            .Model(model =>
                {
                    model.Id("ID");
                })
            .PageSize(50)
            .Read(read => read.Action("Read", "OrderApprove").Data("additionalData"))
        )
    )
</div>
<script type="text/javascript">
    function approveorder(e) {
        action(e, 'approveorder');
    }
    function editorder(e) {
        action(e, 'editorder');
    }
    function action(e, method) {
        e.preventDefault();
        debugger;
        var id = this.dataItem($(e.currentTarget).closest("tr")).id;
        var url = "/orderapprove/" + method + "/" + id;
        $.ajax({
            type: "POST",
            url: url,
        })
        .done(function () {
            debugger;
            // refresh the grid to remove the just completed order
            refreshGrid();
            // open a new window at this order
            url = "/orderapprove/index/" + id;
            window.open(url, '_blank');
        })
        .fail(function () { alert("order " + method + " failure") })
    }
    function additionalData() {
        debugger;
        var shipperid = $("#shipperid").val();
        var start = $("#startdate").val();
        var end = $("#enddate").val();
        var includeApproved = $("#includeapproved").val();

        return {
            shipperid: shipperid,
            start: start,
            end: end,
            includeApproved: includeApproved,
        };
    }
    function refreshGrid() {
        // refresh the grid to hide the just updated order
        debugger;
        //if ($(".k-i-refresh").length > 0) {
        //    $(".k-i-refresh").trigger('click');
        //} else {
            $('#ApproveGrid').data('kendoGrid').dataSource.read();
        //}
    }
    $(function () {
        $("#shipperid").kendoDropDownList();
        //$(".kendoDatePicker").kendoDatePicker({}).data("kendoDatePicker");
        $("#refresh").kendoButton({
            click: function (e) {
                refreshGrid();
            }
        });
    });
    /* kendo code - example: http://jsbin.com/UhufAgI/1/edit?html,output */
    $(".kendoDatePicker").kendoValidator({
        rules: {
            dateValidation: function (e) {
                //Get the DatePicker instance
                var dp = e.data("kendoDatePicker");

                //Get the DatePicker value (the input parsed by the widget)
                var dpValue = dp.value();

                //Get the DatePicker input as is - no parsing whatsoever
                var dpUserInput = dp.element.val();

                if (!dpValue && dpUserInput) {
                    dp.value(null);
                    return false;
                }
                return true;
            }
        }
    });
</script>