﻿@model DispatchCrude.Models.CommodityPurchasePricebook
@using DispatchCrude.Models;
@{
    ViewBag.Title = "Commodity Pricing";
    ViewBag.Subtitle = (Model.ID != 0) ? "Edit Pricebook" : "Create Pricebook"; 
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
    </div>
}

    <div class="well with-header inline-block">
        @if (Model.ID != 0)
        {
            <div class="header bordered-yellow">Edit Pricebook</div>
        }
        else
        {
            <div class="header bordered-blue">Create Pricebook</div>
        }        
        

        @using (Html.BeginForm())
        {
            <table>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)

                <tr>
                    <td class="txtAlignRight">
                        <strong>Order Start Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.OrderStartDate)
                            @Html.DisplayFor(model => model.OrderStartDate)
                        }
                        else
                        {
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.OrderStartDate, null, new { @class = "form-control date-picker", data_date_format = "mm/dd/yyyy" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.OrderStartDate, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Order End Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.OrderEndDate, null, new { @class = "form-control date-picker", data_date_format = "mm/dd/yyyy" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.OrderEndDate, "", new { @class = "text-danger" })
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Producer:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.ProducerID)
                            @((Model.Producer == null) ? "ALL" : Model.Producer.Name)
                        }
                        else
                        {
                            @Html.DropDownList("ProducerID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProducerID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Operator:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.OperatorID)
                            @((Model.Operator == null) ? "ALL" : Model.Operator.Name)
                        }
                        else
                        {
                            @Html.DropDownList("OperatorID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Product:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.ProductID)
                            @((Model.Product == null) ? "ALL" : Model.Product.Name)
                        }
                        else
                        {
                            @Html.DropDownList("ProductID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Product Group:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.ProductGroupID)
                            @((Model.ProductGroup == null) ? "ALL" : Model.ProductGroup.Name)
                        }
                        else
                        {
                            @Html.DropDownList("ProductGroupID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductGroupID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Origin:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.OriginID)
                            @((Model.Origin == null) ? "ALL" : Model.Origin.Name)
                        }
                        else
                        {
                            @Html.DropDownList("OriginID", null, "-- ALL --", htmlAttributes: new { @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.OriginID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>State:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.OriginStateID)
                            @((Model.OriginState == null) ? "ALL" : Model.OriginState.FullName)
                        }
                        else
                        {
                            @Html.DropDownList("OriginStateID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OriginStateID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Region:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.OriginRegionID)
                            @((Model.OriginRegion == null) ? "ALL" : Model.OriginRegion.Name)
                        }
                        else
                        {
                            @Html.DropDownList("OriginRegionID", null, "-- ALL --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OriginRegionID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>

                <tr>
                    <td class="txtAlignRight">
                        <strong>Index:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.CommodityIndexID)
                            @((Model.CommodityIndex == null) ? "ALL" : Model.CommodityIndex.ShortName)
                        }
                        else
                        {
                            @Html.DropDownList("CommodityIndexID", null, "-- ALL --", htmlAttributes: new { @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.CommodityIndexID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Commodity Method:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.CommodityMethodID)
                            @((Model.CommodityMethod == null) ? "ALL" : Model.CommodityMethod.ShortName)
                        }
                        else
                        {
                            @Html.DropDownList("CommodityMethodID", null, "-- ALL --", htmlAttributes: new { @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.CommodityMethodID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Index Start Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.IndexStartDate)
                            @Html.DisplayFor(model => model.IndexStartDate)
                        }
                        else
                        {
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.IndexStartDate, null, new { @class = "form-control date-picker", data_date_format = "mm/dd/yyyy" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.IndexStartDate, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr id="IndexEndDateRow">
                    <td class="txtAlignRight">
                        <strong>Index End Date:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.IndexEndDate)
                            @Html.DisplayFor(model => model.IndexEndDate)
                        }
                        else
                        {
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.IndexEndDate, null, new { @class = "form-control date-picker", data_date_format = "mm/dd/yyyy" })
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.IndexEndDate, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Settlement Units:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.SettlementFactorID)
                            @((Model.Producer == null) ? "ALL" : Model.SettlementFactor.Name)
                        }
                        else
                        {
                            @Html.DropDownList("SettlementFactorID", null, "-- Select Units --", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SettlementFactorID, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Deduct:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @if (ViewBag.Locked)
                    {
                        <td colspan="2">
                            @Html.HiddenFor(model => model.Deduct)
                            @Html.HiddenFor(model => model.DeductType)
                            @Html.DisplayFor(model => model.DeductText)
                            <div class="spacer10px"></div>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.EditorFor(model => model.Deduct, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.DeductType, Model.TypeSelectList(Model.DeductType), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Deduct, "", new { @class = "text-danger" })
                            <div class="spacer10px"></div>
                        </td>
                    }
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Premium:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @if (ViewBag.Locked)
                    {
                        <td colspan="2">
                            @Html.HiddenFor(model => model.Premium)
                            @Html.HiddenFor(model => model.PremiumType)
                            @Html.DisplayFor(model => model.PremiumText)
                            <div class="spacer10px"></div>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.EditorFor(model => model.Premium, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.PremiumType, Model.TypeSelectList(Model.PremiumType), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Premium, "", new { @class = "text-danger" })
                            <div class="spacer10px"></div>
                        </td>

                    }
                </tr>
                <tr>
                    <td class="txtAlignRight">
                        <strong>Premium Description:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td colspan="2">
                        @if (ViewBag.Locked)
                    {
                            @Html.HiddenFor(model => model.PremiumDesc)
                            @Html.DisplayFor(model => model.PremiumDesc)
                        }
                        else
                        {
                            @Html.EditorFor(model => model.PremiumDesc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PremiumDesc, "", new { @class = "text-danger" })
                        }
                        <div class="spacer10px"></div>
                    </td>
                </tr>
            </table>
        <div class="center">
            <div class="spacer20px"></div>
            <input type="submit" name="btnAdd" value="Save" class="btn btn-blue shiny">
            <a href="~/CommodityPricing/Pricebook" class="btn btn-blue shiny">Cancel</a>
        </div>
        }
</div>
@section scripts
{
    <script>

        @if (!ViewBag.Locked) {
            <text>$("#OriginID").select2();</text>
        }
        $('.date-picker').datepicker(); // having trouble using kendo datepicker so defaulting to bootstrap/jquery's 


        var PICK = @((int) CommodityMethod.TYPE.PICK);

        $(document).ready(hideIndexEndDate);
        $("#CommodityMethodID").change(hideIndexEndDate);

        // Hide index end date when single date needed (not a range)
        function hideIndexEndDate()
        {debugger;
            var selectedItem = $("#CommodityMethodID").val();
            if (selectedItem == PICK)
            {
                $("#IndexEndDateRow").hide();
            }
            else
            {
                $("#IndexEndDateRow").show();
            }
        };
    </script>
}