﻿@using DispatchCrude.Core;
@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Commodities";
    ViewBag.Subtitle = "Methods";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Commodities, "Tab_Pricing")        
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPricing, "Button_Methods")
            </div>

            @(Html.Kendo().Grid<DispatchCrude.ViewModels.CommodityMethodViewModel>()
                .Name("grid")
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(m => m.ID))
                    .Read(read => read.Action("CommodityMethods", "CommodityPricing"))
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Commodity_Pricing_Methods.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    command.Excel();
                })
                //.Editable(editable => editable.Mode(GridEditMode.PopUp))
                .Events(e => e.Edit("onEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resize => resize.Columns(true))
                .Columns(columns =>
                {
                    columns.Bound(q => q.Name)
                        .Width(100);
                    columns.Bound(q => q.ShortName)
                        .Width(100);
                    columns.Bound(q => q.Description)
                        .Width(250);
                    columns.Bound(q => q.TradeDaysOnly)
                        .ClientTemplate("#= ActiveState(data.TradeDaysOnly) #")
                        .Width(100);
                })
            )
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onEdit(e) {    //Place popup create vs. edit code here        
        if (!e.model.isNew()) {
            //Do edit mode stuff:
        }
        else {
            //Do create mode stuff:     
            $(".k-window-title").html("Create"); //change the window title to create
        }
    }
</script>