﻿@model IEnumerable<DispatchCrude.Models.CommodityPrice>
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Commodities";
    ViewBag.Subtitle = "Prices";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Commodities, "Tab_Pricing")        
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPricing, "Button_Prices")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(m => m.ID);
                            model.Field(m => m.CommodityIndex).DefaultValue(new CommodityIndex() { Uom = new Uom() });
                        })
                        .PageSize(Settings.DefaultPageSize)
                        .Sort(sort => { if (Request.QueryString.Keys.Count == 0)
                            {
                                sort.Add("CommodityIndex.ShortName").Ascending();
                                sort.Add("PriceDate").Ascending();
                            }
                        }) // Initial Sort
                        .Read(read => read.Action("CommodityPrices_Read", "CommodityPricing"))
                        .Create(create => create.Action("CommodityPrices_Create", "CommodityPricing"))
                        .Update(update => update.Action("CommodityPrices_Update", "CommodityPricing"))
                        //.Destroy(destroy => destroy.Action("CommodityIndex_Destroy", "CommodityPricing"))
                        .Events(events => events.Error("onDSErrors").RequestEnd("onDSRequestEnd"))

                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Commodity_Pricing_Prices.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createCommodityPricing")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_CommodityPrice"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Locked)
                        .Title("Locked?")
                        .ClientTemplate("#= ActiveState(data.Locked) #")
                        .Width(100);
                    columns.Bound(m => m.PriceDate)
                        .Format("{0:MM/dd/yyyy}")
                        .Width(100);
                    columns.Bound(m => m.IndexPrice)
                        .Format("{0:C2}")
                        .Width(100);
                    columns.Bound(m => m.CommodityIndex.ShortName)
                        .Title("Index (Short Name)")
                        .Width(100);
                    columns.Bound(m => m.CommodityIndex.Uom.Abbrev)
                        .Title("Unit of Measure")
                        .Width(100);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("CommodityPricing")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("CommodityPricing")" />
            @*<input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("CommodityPricing")" />*@
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>