﻿@model IEnumerable<DispatchCrude.Models.CommodityPurchasePricebook>
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;
@{
    ViewBag.Title = "Commodities";
    ViewBag.Subtitle = "Pricebook";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">        
            @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Commodities, "Tab_Pricing")        
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabPricing, "Button_Pricebook")
            </div>

            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
                </div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
                </div>
            }
            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
                </div>
            }

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(dataSource => dataSource
                    .Server()
                    .Model(model =>
                    {
                        model.Id(q => q.ID);
                    })
                    .Read(read => read.Action("PurchasePricebooks", "CommodityPricing"))
                    .Create(create => create.Action("PurchasePricebook_Create", "CommodityPricing"))
                    .Update(update => update.Action("PurchasePricebook_Update", "CommodityPricing"))
                    //.Destroy(destroy => destroy.Action("PurchasePricebook_Destroy", "CommodityPricing"))
                    .PageSize(Settings.DefaultPageSize)
                )
                .RowAction(row =>
                {
                    if (row.DataItem.ID.ToString() == Request.QueryString["pricebook"])
                    {
                        row.HtmlAttributes["style"] = "background:#99ff99";
                    }
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .ToolBar(command =>
                {
                    if (User.IsInRole("createCommodityPricing")) command.Create().Text("");                    
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Sortable()
                //.Groupable()
                //.HtmlAttributes(new { style = "height: 800px;" })
                .Scrollable()
                //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CommodityPurchasePricebook"))    
                .Columns(columns =>
                {
                    columns.Bound(q => q.ID)
                        .Filterable(false)
                        .Sortable(false)
                        .Template(
                                @<text>
                                    <a href="@Url.Action("EditPricebook", new { id = item.ID })" class="btn btn-xs btn-default shiny">
                                        <img src="~/images/edit.png" title="Edit" />
                                    </a>
                                </text>)
                        .Title("<a href=\"/CommodityPricing/EditPricebook/0\" class=\"btn btn-xs btn-default shiny\">" +
                                " <span class=\"glyphicon glyphicon-plus\" title=\"Add Pricebook\"/>" +
                                "</a>")  // Joe, this doesn't make sense...the add button should not go to the edit function. It should be using it's own function.
                        .Width(50);
                    columns.Bound(q => q.Locked)        
                        .Filterable(false)
                        .Sortable(false)
                        .Width(70);
                    columns.Bound(q => q.OrderStartDate)
                        .Format("{0:MM/dd/yyyy}")
                        .Width(120);
                    columns.Bound(q => q.OrderEndDate)
                        .Format("{0:MM/dd/yyyy}")
                        .Width(120);
                    columns.Bound(q => q.Producer.Name)
                        .Title("Producer")
                        .Template(@<text>@((item.Producer != null) ? item.Producer.Name : "ALL")</text>)
                        .Width(150);
                    columns.Bound(q => q.Operator.Name)
                        .Title("Operator")
                        .Template(@<text>@((item.Operator != null) ? item.Operator.Name : "ALL")</text>)
                        .Width(150);
                    columns.Bound(q => q.Product.Name)
                        .Title("Product")
                        .Template(@<text>@((item.Product != null) ? item.Product.Name : "ALL")</text>)
                        .Width(150);
                    columns.Bound(q => q.ProductGroup.Name)
                        .Title("Product Group")
                        .Template(@<text>@((item.ProductGroup != null) ? item.ProductGroup.Name : "ALL")</text>)
                        .Width(150); 
                    columns.Bound(q => q.Origin.Name)
                        .Title("Origin")
                        .Template(@<text>@((item.Origin != null) ? item.Origin.Name : "ALL")</text>)
                        .Width(200); 
                    columns.Bound(q => q.OriginState.FullName)
                        .Title("State")
                        .Template(@<text>@((item.OriginState != null) ? item.OriginState.FullName : "ALL")</text>)
                        .Width(200); 
                    columns.Bound(q => q.OriginRegion.Name)
                        .Title("Region")
                        .Template(@<text>@((item.OriginRegion != null) ? item.OriginRegion.Name : "ALL")</text>)
                        .Width(150); 
                    columns.Bound(q => q.CommodityIndex.ShortName)
                        .Title("Index")
                        .Width(100);
                    columns.Bound(q => q.CommodityMethod.ShortName)
                        .Title("Method")
                        .Width(100);
                    columns.Bound(q => q.IndexStartDate)
                        .Format("{0:MM/dd/yyyy}")
                        .Width(100);
                    columns.Bound(q => q.IndexEndDate)
                        .Format("{0:MM/dd/yyyy}")
                        .Width(100);
                    columns.Bound(q => q.SettlementFactor.Name)
                        .Title("Settlement Units")
                        .Width(100);
                    columns.Bound(q => q.Deduct)
                        .Width(100);
                    columns.Bound(q => q.DeductType)
                        .Width(100);
                    columns.Bound(q => q.Premium)
                        .Width(100);
                    columns.Bound(q => q.PremiumType)
                        .Width(100);
                    columns.Bound(q => q.PremiumDesc)
                        .Width(100);
                })            
            )
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>