﻿@model IEnumerable<DispatchCrude.Models.DispatchMessage>
@using DispatchCrude.Core
                    <div class="messages-contact">
                        <div class="contact-avatar">
                            <i class="fa fa-user fa-4x"></i>
                            @*<img src="assets/img/avatars/divyia.jpg" />*@
                        </div>
                        <div class="contact-info">
                            <div class="contact-name">@ViewBag.Name</div>
                            <div class="contact-status">
                                <div class="@ViewBag.Status"></div>
                                <div class="status">@ViewBag.Status</div>
                            </div>
                            <div class="last-chat-time">
                                @ViewBag.LastChat
                            </div>
                            <div class="back">
                                <i class="fa fa-arrow-circle-left"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="messages-list">
                @foreach (var item in Model)
                {
                    if (item.From == User.Identity.Name) // from me
                    {
                        <li class="message">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Me</div>
                                <div class="message-time">
                                    @(DateHelper.FunDate(item.MessageDateUTC))
                                    @(item.MessageDate.ToString("h:mm tt"))
                            </div>
                            </div>
                            <div class="message-body">
                                @item.Message
                            </div>
                        </li>
                    }
                    else if (item.To == User.Identity.Name) // reply to me
                    {
                        <li class="message reply">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">@item.From</div>
                                <div class="message-time">
                                    @(DateHelper.FunDate(item.MessageDateUTC))
                                    @(item.MessageDate.ToString("h:mm tt"))
                                </div>
                            </div>
                            <div class="message-body">
                                @item.Message
                            </div>
                        </li>
                    }
                    else // reply from someone else
                    {
                        <li class="message reply">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">@(item.From == ViewBag.Username ? item.To : item.From)</div>
                                <div class="message-time">
                                    @(DateHelper.FunDate(item.MessageDateUTC))
                                    @(item.MessageDate.ToString("h:mm tt"))
                                </div>
                            </div>
                            <div class="message-body">
                                @item.Message
                            </div>
                        </li>
                    }
                }
                    </ul>
                @using (Html.BeginForm("AddMessage", "Account", FormMethod.Post, new { id = "messageForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("To", (string)ViewBag.Username)

                    <div class="send-message">
                        <span class="input-icon icon-right">
                            <textarea rows="4" name="Message" class="form-control messagearea" placeholder="Type your message"></textarea>
                            @*<i class="fa fa-camera themeprimary"></i>*@
                        </span>
                    </div>
                }
<script>
var position = (readCookie("rtl-support") || location.pathname == "/index-rtl-fa.html" || location.pathname == "/index-rtl-ar.html") ? 'right' : 'left';
$('.chatbar-messages .messages-list').slimscroll({
    position: position,
    start: 'bottom',
    size: '4px',
    color: themeprimary,
    height: $(window).height() - 250,
});
</script>
