﻿@model DispatchCrude.Models.DispatchBlast

@{
    ViewBag.Title = "Send Blast";
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["success"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["error"]
    </div>
}

@using (Html.BeginForm("SendBlast", "DispatchMessaging", FormMethod.Post, new { id = "blastForm" } ))
{
    @Html.AntiForgeryToken()

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Send Dispatch Message(s)</div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.CarrierID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CarrierID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DriverGroupID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("DriverGroupID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DriverGroupID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DriverID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DriverID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.TerminalID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("TerminalID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TerminalID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.RegionID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("RegionID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RegionID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.StateID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("StateID", null, "(ALL)", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.Message): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.TextArea("Message", "", new { @Value = "", @class = "form-control", @style = "width:500px" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="#" class="btn btn-blue shiny" onclick="javascript:go(this.form)">
                        <i class="fa fa-send"></i>Send
                    </a>
                </td>
            </tr>
        </table>
    </div>
}
<!-- Modal -->
<div id="messageModal" class="modal fade modal-blue" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send Message</h4>
            </div>
            <div class="modal-body">
                <div>
                    <h5>This message will be sent to <mark id="send_count">*</mark> users.  Do you wish to continue?</h5>
                </div>
                <div>
                    <a href="#" class="btn btn-blue shiny" onclick="javascript:send()">Send</a>
                    <button type="button" class="btn btn-default shiny" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    function go(dispatchform) {
        $.ajax({
            url: '/DispatchMessaging/AffectedUsers',
            type: "POST",
            data: {
                "CarrierID": $("#CarrierID").val(),
                "DriverGroupID": $("#DriverGroupID").val(),
                "DriverID": $("#DriverID").val(),
                "TerminalID": $("#TerminalID").val(),
                "RegionID": $("#RegionID").val(),
                "StateID": $("#StateID").val()
            }
        })
        .done(function (result) {
            $("#send_count").html(result);
            $("#messageModal").modal("toggle");
        })
    }
    function send()
    {
        $("#messageModal").modal("toggle");
        $("#blastForm").submit();
    }
</script>
