﻿@model IEnumerable<DispatchCrude.Models.Contract>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Business Rules";
    ViewBag.SubTitle = "Contracts";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_BusinessRules, "Tab_Contracts")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("ContractNumber").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Contracts"))
                    .Read(read => read.Action("Read", "Contracts"))
                    .Update(update => update.Action("Update", "Contracts"))
                    .Destroy(update => update.Action("Delete", "Contracts"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Contracts.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createContracts")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Contracts"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.ContractNumber)
                        .Width(150);
                    columns.Bound(model => model.PrintDescription)
                        .Title("Description")
                        .ClientTemplate("#=ellipseDiv(data.PrintDescription)#")
                        .Width(150);
                    columns.Bound(d => d.Shipper.Name)
                        .Title("Shipper")
                        .ClientTemplate("#=ellipseDivDrill(data, 'Shipper.Name')#")
                        .Width(250);
                    columns.Bound(d => d.ProductGroup.Name)
                        .Title("Product Group")
                        .ClientTemplate("#=ellipseDivDrill(data, 'ProductGroup.Name')#")
                        .Width(160);
                    columns.Bound(d => d.Producer.Name)
                        .Title("Producer")
                        .ClientTemplate("#=ellipseDivDrill(data, 'Producer.Name')#")
                        .Width(250);
                    columns.Bound(model => model.Units)
                        .Width(120);
                    columns.Bound(d => d.Uom.Abbrev)
                        .Title("Uom")
                        .ClientTemplate("#=ellipseDivDrill(data, 'Uom.Abbrev')#")
                        .Width(100);
                    columns.Bound(model => model.EffectiveDate)
                        .ClientTemplate("#if(data.EffectiveDate != ''){# #=kendo.toString(kendo.parseDate(data.EffectiveDate), \'M/d/yyyy\')# #}#")
                        .Width(150);
                    columns.Bound(model => model.EndDate)
                        .ClientTemplate("#if(data.EndDate != ''){# #=kendo.toString(kendo.parseDate(data.EndDate), \'M/d/yyyy\')# #}#")
                        .Width(150);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Contracts")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Contracts")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Contracts")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>