﻿@model DispatchCrude.ViewModels.FilterViewModel<Hos>
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;

@section head{
    <script src="~/scripts/jsPDF/jsPDF.js"></script>
    <script src="~/scripts/jsPDF/html2canvas.js"></script>
}

@{
    ViewBag.Title = "Compliance";
    ViewBag.SubTitle = "HOS Daily Report";
    int StartStatus = ViewBag.StartStatus ?? -1;
    int EndStatus = StartStatus;
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_HOS")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_HOS, "Button_DailyReport")
            </div>

            <div class="leftpanel">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                        <li class="tab-green">
                            <a data-toggle="tab" href="#Export" aria-expanded="true">Export</a>
                        </li>
                    </ul>

                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">

                            @using (Html.BeginForm("Daily", "HOS", FormMethod.Get))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DriverID)
                                    @Html.DropDownList("DriverID", null, "-- Select Driver --", htmlAttributes: new { @class = "btn-xs", @style = "width:100%" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StartDate, "Date")<br />
                                    @Html.EditorFor(m => m.StartDate)
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(m => m.CustomFlag, "Show Original?")
                                    @Html.EditorFor(m => m.CustomFlag, "Switch")
                                </div>*@
                                <div class="center">
                                    <button id="filterbtn" type="submit" class="btn btn-blue shiny">Refresh</button>
                                </div>
                            }
                        </div>

                        <div id="Export" class="tab-pane">
                            <p>
                                Export PDF reports of HOS daily logs for a driver.  Users can export a single day HOS report
                                or select a date range (1 month max) and export all HOS reports into a ZIP file
                            </p>
                            <div class="center">
                                <a class="btn btn-sm btn-blue shiny" @(Model.DriverID == null ? "disabled" : "") href="/HOS/PrintLog/?DriverID=@Model.DriverID&Date=@(Model.StartDate.Value.ToString("yyyy-MM-dd"))">
                                    <i class="fa fa-file-pdf-o"></i> Export @(Model.StartDate.Value.ToString("M/d"))
                                </a>
                            </div>

                            <hr>

                            @using (Html.BeginForm("ExportLogs", "HOS"))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DriverID)
                                    @Html.DropDownList("DriverID", null, htmlAttributes: new { @class = "form-control input-sm" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StartDate)
                                    @(Html.Kendo().DatePicker()
                            .Name("Start")
                            .Value(Model.StartDate)
                            .Max(DateTime.Today.AddDays(-1)))
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.EndDate)
                                    @(Html.Kendo().DatePicker()
                            .Name("End")
                            .Value(Model.StartDate)
                            .Max(DateTime.Today.AddDays(-1)))
                                </div>
                                <div class="center">
                                    <button type="submit" class="btn btn-sm btn-blue shiny">
                                        <i class="fa fa-file-zip-o"></i> Export All
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>




            <div id="gridArea" class="tabbable" style="box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);">
                @if (Model.DriverID == null)
                {
                    // show blank
                }
                else
                {
                    <script src="~/scripts/beyondadmin/charts/flot/jquery.flot.js"></script>
                    <script src="~/scripts/beyondadmin/charts/flot/jquery.flot.tooltip.js"></script>
                    <script src="~/scripts/beyondadmin/charts/flot/jquery.flot.stack.js"></script>
                    <script src="~/scripts/beyondadmin/charts/flot/jquery.flot.resize.js"></script>
                    <script type="text/javascript">
                        $(window).bind("load", function () {
                            /*Sets Themed Colors Based on Themes*/
                            themeprimary = getThemeColorFromCss('themeprimary');
                            themesecondary = getThemeColorFromCss('themesecondary');
                            themethirdcolor = getThemeColorFromCss('themethirdcolor');
                            themefourthcolor = getThemeColorFromCss('themefourthcolor');
                            themefifthcolor = getThemeColorFromCss('themefifthcolor');

                            debugger;
                            elog@(Model.DriverID)@(Model.StartDate.Value.ToString("yyyyMMdd"))();
                        });
                    </script>


                    <div id="elog">
                        @Html.Action("eLog", new { DriverID = Model.DriverID, LogDate = Model.StartDate.Value, ShowOriginal = Model.CustomFlag, ShowDetails = true, ShowNavigation = false })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
