﻿@model DispatchCrude.Models.Hos

@{
    ViewBag.Title = "HOS Daily Report";
    ViewBag.Subtitle = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        
    <div class="well with-header inline-block">
        <div class="header bordered-blue">Update HOS Entry</div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UID)
    
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DriverID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.HiddenFor(model => model.DriverID)
                    @ViewBag.Driver
                    <div class="spacer10px"></div>
                </td>
            </tr>

            @if (1 == 2)
            { //Hide these columns and fields because they are not for/editable by the end user
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.ELDUserName): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.HiddenFor(model => model.ELDUserName)
                    @Model.ELDUserName
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DriverTimeZoneOffset): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.HiddenFor(model => model.DriverTimeZoneOffset)
                    @Model.DriverTimeZoneOffset
                    <div class="spacer10px"></div>
                </td>
            </tr>
            }
            @if (Model.CoDriverID != null)
            {
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.CoDriverID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.HiddenFor(model => model.CoDriverID)
                    @ViewBag.CoDriver
                    <div class="spacer10px"></div>
                </td>
            </tr>
            }

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.HosDriverStatusID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("HosDriverStatusID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HosDriverStatusID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.HosEventTypeID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("HosEventTypeID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HosEventTypeID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    Lat / Lon: &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <table class="width100">
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.Lat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Lat, "", new { @class = "text-danger" })
                                <div class="spacer10px"></div>
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Lon, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Lon, "", new { @class = "text-danger" })
                                <div class="spacer10px"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.LocationDescription): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">
                    @Html.TextBoxFor(model => model.LocationDescription, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.LocationDescription, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.PersonalUse): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.PersonalUse, "Switch")
                    @Html.ValidationMessageFor(model => model.PersonalUse, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.YardMove): &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.YardMove, "Switch")
                    @Html.ValidationMessageFor(model => model.YardMove, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.LogDate): &nbsp; &nbsp; &nbsp; &nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.LogDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LogDate, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.LogTimeZoneID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("LogTimeZoneID", null, "Not recorded", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LogTimeZoneID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    <span style="color:red;">*</span>
                    @Html.LabelFor(model => model.Notes): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="2">                    
                    @Html.TextArea("Notes", "", new { @Value = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                    <style>
                        .whitebackgroundoverride {background-color:#FFF !important;}
                    </style>
                    <script>
                        $("#Notes").addClass('whitebackgroundoverride');
                    </script>
                </td>
            </tr>
            @if (1 == 2)
            { //Hide these columns and fields because they are not for/editable by the end user
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.HosEventCode): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.HosEventCode)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DistanceSinceLastValidCoordinates): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.DistanceSinceLastValidCoordinates)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.EventDataCheckValue): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventDataCheckValue)
                    @if (Model.isOriginal)
                    {
                        <span class="fa fa-check text-success" title="ELD entry is certified original"></span>
                    }
                    else
                    {
                        <span class="fa fa-warning text-danger" title="ELD entry was altered"></span>
                    }
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.EventSequenceNumber): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventSequenceNumber)
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.Geolocation): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.Geolocation)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.VIN): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.VIN)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.EngineHours): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.EngineHours)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.VehicleMiles): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.VehicleMiles)
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DataDiagnosticEventIndicator): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.DataDiagnosticEventIndicator)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.MalfunctionIndicator): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.MalfunctionIndicator)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DiagnosticCodeID): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.DiagnosticCodeID)
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.ELDIdentifier): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.ELDIdentifier)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.ELDAuthenticationValue): &nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.EditorFor(model => model.ELDAuthenticationValue)
                    <div class="spacer10px"></div>
                </td>
            </tr>
            }
            <tr>
                <td></td>
                <td>
                    <a href="~/HOS/Daily?DriverID=@(Model.DriverID)&StartDate=@(Model.LogDate.Date.ToString("yyyy-MM-dd"))&CustomFlag=false" class="btn btn-blue shiny">Cancel</a>
                    <input type="submit" value="@((User.Identity.Name == (Model.LastChangedByUser ?? Model.CreatedByUser)) ? "Save" : "Propose Change")" class="btn btn-blue shiny" @(Model.isEditable ? "" : "disabled=\"disabled\"")/>
                </td>
            </tr>
        </table>
    </div>
}
