﻿@using DispatchCrude.Extensions;
@{
    ViewBag.Title = "Imports";
    ViewBag.SubTitle = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Imports, "Tab_ImportExecute")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div id="ic-container">
                <div id="ic-innercontainer">
                    <div class="Entry">
                        <label for="importCenterID" class="Entry">Import Mapping to use</label>
                        <input id="importCenterID" name="importCenterID" class="importCenterID" type="hidden" />
                        <button id="btnExportSample" class="kendoButton" onclick="doAction('exportSample');" disabled >Export Sample XLSX file</button>
                    </div>
                    <div class="spacer10px"></div>
                    <div class="Entry">
                        <label for="dataFile" class="Entry">Data File to to import</label>
                        <form>
                            <input type="file" name="dataFile" id="dataFile" />
                            <div class="spacer5px"></div>
                            @(Html.Kendo().CheckBox()
                                        .Name("FirstRowHeader")
                                        .Checked(true)
                                        .Label("My data file has a header row")
                            )
                        </form>
                    </div>
                    <div class="spacer10px"></div>
                    <div class="Entry">
                        <button id="btnExecuteImport" class="kendoButton" onclick="doAction('executeImport');" disabled>Run Import</button>
                    </div>
                    <div class="spacer20px"></div>
                    <form id="executeResults">
                        <div class="roundedDiv">
                            <label>Success Count</label><input id="SuccessCount" type="number" name="SuccessCount" data-bind="value: SuccessCount" class="k-textbox" disabled /><br />
                            <label>Error Count</label><input type="number" name="ErrorCount" data-bind="value: ErrorCount" class="k-textbox" disabled /><br />
                            <label>Warning Count</label><input type="number" name="WarningCount" data-bind="value: WarningCount" class="k-textbox result_number" disabled /><br />
                            <label>General Error</label><textarea name="GeneralError" data-bind="value: GeneralError" class="NullValidator" disabled></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #ic-innercontainer {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .importCenterID {
        width: 300px;
    }
    #btnExportSample {
        margin-left: 20px;
    }
    #dataFile {
        width: 300px;
    }
    #executeResults {
        display: none; /*initially hide this (will be displayed when appropriate)*/
    }
    label {
        font-weight: bold;
        position:relative;
        line-height:2.2;
        /*display: block;*/
    }
    .roundedDiv {
        padding: 10px;
        padding-top: 15px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid;
    }
    .roundedDiv label {
        width:10em;
    }
    .roundedDiv result_number {
        width:15em;
        text-align: right;
    }
    .roundedDiv textarea {
        text-align: left;
        width: 30em;
        height: 150px;
    }
</style>
<script type="text/javascript">
    /**************  START UP code **********************/
    $(function () {
        $(".kendoButton").kendoButton();

        $(".importCenterID").select2({
            width: 400
            , data: retrieveJSON("/importcenter/read", "Data")
            , formatSelection: function (data, container) {
                // show <RootObject>: <Import Mapping Name> when selected
                return data.RootObject + ": " + data.text;
            }
        }).on("change", onImportCenterID_change);

        $("#dataFile").kendoUpload({
            enabled: false
            , multiple: false
            , async: {
                saveUrl: "/importcenter/UpdateDataFile"
                , autoUpload: true
            }
            , localization: {
                select: "Browse..."
            }
            , validation: {
                allowedExtensions: [".xlsx", ".csv"]
                , maxFileSize: 4000000
            }
            , complete: dataFile_Complete
            , upload: onDataFileUpload
        });
    })

    /************* event handlers *********************/
    function onImportCenterID_change(e) {
        $("#dataFile").data("kendoUpload").enable(true);
        // enable the Export Sample button if a sample is available
        $("#btnExportSample").data("kendoButton").enable($("#importCenterID").select2("data").HasSample);
        // hide the results form until we execute an import again
        hideExecuteResults();
    };
    function dataFile_Complete(e) {
        $("#btnExecuteImport").data("kendoButton").enable(true);
    }
    function onDataFileUpload(e) {
        e.data = { firstRowHeader: $("#FirstRowHeader").prop("checked"), rootObject: $("#importCenterID").select2("data").RootObject };
    }

    /************* logic - methods ********************/
    function doAction(action) {
        switch (action) {
            case "executeImport":
                if (!$("#importCenterID").val()) return;
                $.ajax({
                    type: "POST",
                    url: "/importcenter/executeImport"
                    , dataType: "json"
                    , data: $("#importCenterID").select2("data")
                    , success: function (results) {
                        // display the results
                        showExecuteResults(results);
                        if (!results.GeneralError) {
                            setTimeout(function () {
                                // retrieve the just downloaded data (as excel)
                                window.location.href = "/importcenter/executeexport";
                            }, 50);
                        }
                    }
                });
                break;
            case "exportSample":
                if (!$("#importCenterID").val()) return;
                window.location.href = "/importcenter/inputFileExport/" + $("#importCenterID").val();
                break;
        }
    };

    function hideExecuteResults() {
        $("#executeResults").hide("slow");
    }
    function showExecuteResults(results) {
        $("#executeResults").kendoValidator();
        kendo.bind($("#executeResults"), results);
        $("#executeResults").show();
    }

</script>
