﻿@model IEnumerable<DispatchCrude.Models.OrderTicket>

@Html.Hidden("OrderID", (int) ViewBag.OrderID)

<table class="table table-condensed table-striped">
    <tr>
    @if (ViewBag.editable)
    {
        <th width="100">
            <a href="~/Tickets/Edit/0?orderid=@ViewBag.OrderID" class="btn btn-xs btn-default shiny" title="Add">
                <span class="glyphicon glyphicon-plus" />
            </a>
        </th>
    }
    else
    {
        <th width="50"></th>
    }
        <th>Ticket #</th>
        <th>Tank</th>
        <th>Gross @ViewBag.UOM</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
    @if (ViewBag.editable) 
    {
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-xs btn-default shiny" title="Edit">
                <img src="~/images/edit.png" />
            </a>
            <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-xs btn-default shiny" title="Delete">
                <img src="~/images/delete.png" />
            </a>
        </td>
    }
    else
    {
        <td>
            <a href=/Tickets/Details/@item.ID class="btn btn-xs btn-default shiny" title="Details">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        </td>
    }
        <td>
            @item.CarrierTicketNum
            @if (item.Rejected) { <span class="glyphicon glyphicon-ban-circle" data-toggle="tooltip" title="Rejected" /> }
            @if (item.Deleted) { <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Deleted" /> }
        </td>
        <td>
            @item.OriginTankText
        </td>
        <td>@string.Format("{0:" + ViewBag.UOMFormat + "}", item.GrossUnits)</td>
    </tr>
}
    <tr>
        <td></td>
        <td><strong>TOTAL</strong></td>
        <td></td>
        <td><strong>@string.Format("{0:" + ViewBag.UOMFormat + "}", ViewBag.TotalGross)</strong></td>
    </tr>
</table>
