﻿@model IEnumerable<DispatchCrude.Models.OrderTicket>

@Html.Hidden("OrderID", (int)ViewBag.OrderID)

<table class="table table-condensed table-striped">
    <tr>
    @if (ViewBag.editable)
    {
        <th width="100">
            <a href="~/Tickets/Edit/0?orderid=@ViewBag.OrderID" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-plus whitelink" />
            </a>
        </th>
    }
    else
    {
        <th width="50"></th>
    }
        <th>Ticket #</th>
        <th>Net @ViewBag.UOM</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
        @if (ViewBag.editable)
        {
            <td>
                <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-xs btn-warning">
                    <span class="glyphicon glyphicon-pencil whitelink" />
                </a>
                <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-xs btn-danger">
                    <span class="glyphicon glyphicon-remove whitelink" />
                </a>
            </td>
        }
        else
        {
            <td>
                <a href=/Tickets/Details/@item.ID class="btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-list-alt whitelink"></span>
                </a>
            </td>
        }

            <td>
                @item.CarrierTicketNum
                @if (item.Rejected) { <span class="glyphicon glyphicon-ban-circle" data-toggle="tooltip" title="Rejected" /> }
                @if (item.Deleted) { <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Deleted" /> }

            </td>
            <td>@string.Format("{0:" + ViewBag.UOMFormat + "}", item.NetUnits)</td>
        </tr>
    }
    <tr>
        <td></td>
        <td><strong>TOTALS</strong></td>
        <td><strong>@string.Format("{0:" + ViewBag.UOMFormat + "}", ViewBag.TotalNet)</strong></td>
    </tr>
</table>



