﻿@model DispatchCrude.Models.OrderTicket

@{
    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrderTicket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarrierTicketNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarrierTicketNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BOLNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BOLNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TicketTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TicketTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastChangeDateUTC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastChangeDateUTC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastChangeDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastChangeDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastChangedByUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastChangedByUser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDateUTC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDateUTC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedByUser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedByUser)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-danger" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
