﻿@model DispatchCrude.Models.OrderTicket
@using DispatchCrude.Models;
@{
    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "Ticket Details";
    string UOMFormat = "{0:" + ViewBag.UOMFormat + "}";
}
@ViewBag.Error
<h2>
    Ticket #@Model.CarrierTicketNum
    @if (User.IsInRole("editOrders") && !Model.Deleted && !Model.Order.Settled && !Model.Order.Deleted)
    {
        <a class="btn btn-blue shiny" href="~/Tickets/Edit/@Model.ID">
            <span class="whitelink">Edit</span>
        </a>
    }
</h2>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="well with-header panel-container">
            <div class="header panel-header bordered-blue">Basic Info</div>
            <div class="panel-body">
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DispatchConfirmNum):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.DispatchConfirmNum) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OrderID):</div>
                    <div class="panel-body-right-col"><a href="~/Orders/Details/@Model.OrderID">@Html.DisplayFor(model => model.Order.OrderNum)</a> &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.TicketTypeID):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.TicketType.Name) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Active)?:</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.Active) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.FromMobileApp):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.FromMobileApp) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.BOLNum):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.BOLNum) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OriginTankText):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.OriginTankText) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.IsStrapped)?:</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.IsStrapped) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Rejected)?:</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.Rejected) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.RejectReasonID):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.RejectReasonID) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.RejectNotes):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.RejectNotes) &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="well with-header panel-container">
            <div class="header panel-header bordered-blue">Product Info</div>
            <div class="panel-body">
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductObsGravity):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductObsGravity) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductObsTemp):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductObsTemp) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductBSW):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductBSW) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.Gravity60F):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.Gravity60F) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductObsSpecificWeight):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductObsSpecificWeight) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductHighTemp):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductHighTemp) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ProductLowTemp):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ProductLowTemp) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">Opening Gauge:</div>
                    <div class="panel-body-right-col">
                        @Html.DisplayFor(model => model.OpeningGaugeFeet) ft &nbsp;
                        @Html.DisplayFor(model => model.OpeningGaugeInch) in &nbsp;
                        @Html.DisplayFor(model => model.OpeningGaugeQ) q &nbsp;
                    </div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">Closing Gauge:</div>
                    <div class="panel-body-right-col">
                        @Html.DisplayFor(model => model.ClosingGaugeFeet) ft &nbsp;
                        @Html.DisplayFor(model => model.ClosingGaugeInch) in &nbsp;
                        @Html.DisplayFor(model => model.ClosingGaugeQ) q &nbsp;
                    </div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">Bottom:</div>
                    <div class="panel-body-right-col">
                        @Html.DisplayFor(model => model.BottomFeet) ft &nbsp;   @*This should probably be hidden*@
                        @Html.DisplayFor(model => model.BottomInches) in &nbsp;
                        @Html.DisplayFor(model => model.BottomQ) q &nbsp;   @*This should probably be hidden*@
                    </div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">Unit Of Measure:</div>
                    <div class="panel-body-right-col">@ViewBag.UOM</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.MeterFactor):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.MeterFactor) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.OpenMeterUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.OpenMeterUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CloseMeterUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.CloseMeterUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.GrossUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.GrossUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.GrossStdUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.GrossStdUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.NetUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.NetUnits)</div>
                </div>
                @if (Model.TicketTypeID == (int)TicketType.TYPE.Propane_With_Scale)
                {
                    // reset UOM formatting for additional weights (not the same significnat digits)
                    UOMFormat = "{0:0.000}";
                }
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.WeightGrossUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.WeightGrossUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.WeightTareUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.WeightTareUnits)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.WeightNetUnits):</div>
                    <div class="panel-body-right-col">@String.Format(UOMFormat, Model.WeightNetUnits)</div>
                </div>

                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.ScaleTicketNum):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.ScaleTicketNum)</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.SealOff):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.SealOff) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.SealOn):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.SealOn) &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="well with-header panel-container">
            <div class="header panel-header bordered-blue">Audit Info</div>
            <div class="panel-body">
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CreateDate):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.CreateDateUTC) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.CreatedByUser):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.CreatedByUser) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.LastChangeDate):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.LastChangeDateUTC) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.LastChangedByUser):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.LastChangedByUser) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DeleteDate):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeleteDateUTC) &nbsp;</div>
                </div>
                <div class="panel-row">
                    <div class="panel-body-left-col">@Html.DisplayNameFor(model => model.DeletedByUser):</div>
                    <div class="panel-body-right-col">@Html.DisplayFor(model => model.DeletedByUser) &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

