﻿@model DispatchCrude.Models.OrderTicket

@{
    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "FullEdit";
}
@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        @Html.ValidationSummary(false)
    </div>
}
@ViewBag.Success
@ViewBag.Message


<div id="gridArea" style="height:100%">
    <h2>FullEdit</h2>

    @Html.ValidationSummary(false, null, new { @class = "text-danger" })

    @using (Html.BeginForm("Edit","Tickets"))
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <h2>OrderTicket</h2>

            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.UID)
            @Html.HiddenFor(model => model.OrderID)

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.OrderID)
                </div>
                <div class="col-md-3">
                    <a href="~/Orders/Details/@Model.OrderID">@ViewBag.OrderNum</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.TicketTypeID)
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("TicketTypeID", null, "-- Select Ticket Type --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CarrierTicketNum)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.CarrierTicketNum, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BOLNum)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.BOLNum, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.OriginTankID)
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("OriginTankID", null, "-- Select Tank --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.TankNum) @Html.Label("/ Meter ID")
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.TankNum, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductObsGravity)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ProductObsGravity, new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductObsTemp)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductObsTemp, new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductObsSpecificWeight)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductObsSpecificWeight, new { @class = "form-control", @type = "number", step = "0.0001", placeholder = "0.0000" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductBSW)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductBSW, new { @class = "form-control", @type = "number", step = "0.001", placeholder = "0.000" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductHighTemp)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductHighTemp, new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ProductLowTemp)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ProductLowTemp, new { @class = "form-control", @type = "number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Opening Gauge")
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.OpeningGaugeFeet, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">ft</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.OpeningGaugeInch, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">in</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.OpeningGaugeQ, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">q</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Closing Gauge")
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ClosingGaugeFeet, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">ft</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ClosingGaugeInch, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">in</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ClosingGaugeQ, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">q</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.Label("Bottom")
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.BottomFeet, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">ft</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.BottomInches, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">in</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.BottomQ, new { @class = "form-control", @type = "number", step = "1", placeholder = "0" })
                        <span class="input-group-addon">q</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.MeterFactor)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.MeterFactor, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.OpenMeterUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.OpenMeterUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.CloseMeterUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.CloseMeterUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.GrossUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.GrossUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.GrossStdUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.GrossStdUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.NetUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.NetUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DispatchConfirmNum)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.DispatchConfirmNum, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ScaleTicketNum)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ScaleTicketNum, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.WeightGrossUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.WeightGrossUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.WeightTareUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.WeightTareUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.WeightNetUnits)
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.WeightNetUnits, new { @class = "form-control" })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.SealOff)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SealOff, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.SealOn)
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SealOn, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Rejected)
                </div>
                <div class="col-md-1">
                    @Html.EditorFor(model => model.Rejected)
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("RejectReasonID", null, "-- Select Reason --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.RejectNotes)
                </div>
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.RejectNotes, new { @class = "form-control" })
                </div>
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

