﻿@model DispatchCrude.Models.OrderTicket

@{
    ViewBag.Title = "Dispatch";
    ViewBag.Subtitle = "Ticket Add/Edit - Order #" + @ViewBag.OrderNum;
    string UOMFormat = "{0:" + ViewBag.UOMFormat + "}";
}

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()) || ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        @Html.ValidationSummary(false)
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.UID)
    @Html.HiddenFor(m => m.UomID)
    @Html.HiddenFor(m => m.OrderID)
    @Html.HiddenFor(m => m.TicketTypeID)

    <div class="well with-header inline-block">
        <div class="header bordered-blue">Order #@ViewBag.OrderNum</div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.CarrierTicketNum, "Ticket #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CarrierTicketNum, new { @class = "form-control required" })
                    <div class="spacer10px"></div>
                </td>
                <td></td>
                <td>
                    <div class="center">
                        <strong>Ticket Type:</strong> @ViewBag.TicketType
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.BOLNum, "BOL #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.BOLNum, new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.DispatchConfirmNum, "Shipper PO"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextBoxFor(m => m.DispatchConfirmNum, new { @class = "form-control @shipper_po_required" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
        @if (Model.MeterRunTankRequired())
        {
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.OriginTankID, "Tank #"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("OriginTankID", null, "-- Select Tank --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>

        }
        else
        {
	    <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.TankNum, "Meter ID"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
	            @Html.TextBoxFor(m => m.TankNum, new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
        }
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.MeterFactor):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.MeterFactor, new { @class = "form-control" })                        
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                   @Html.LabelFor(m => m.OpenMeterUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.OpenMeterUnits, UOMFormat, new { @class = "form-control qtyfield", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.CloseMeterUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.CloseMeterUnits, UOMFormat, new { @class = "form-control qtyfield", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
        @if (Model.MeterRunTempsRequired())
        {
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ProductHighTemp):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductHighTemp, "{0:0.0}", new { @class = "form-control productfield", @type="number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ProductLowTemp):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductLowTemp, "{0:0.0}", new { @class = "form-control productfield", @type="number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
        }
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ProductObsTemp, "Obs Temp"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductObsTemp, "{0:0.0}", new { @class = "form-control productfield", @type="number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon">&deg;F</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ProductObsGravity):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductObsGravity, "{0:0.0}", new { @class = "form-control productfield required", @type = "number", step = "0.1", placeholder = "0.0" })
                        <span class="input-group-addon"></span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.ProductBSW, "BS&W"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductBSW, "{0:0.000}", new { @class = "form-control productfield required", @type = "number", step = "0.001", placeholder = "0.000" })
                        <span class="input-group-addon">%</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(m => m.NetUnits):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.NetUnits, UOMFormat, new { @class = "form-control", @type = "number", step = ViewBag.UOMStep, placeholder = ViewBag.UOMFormat })
                        <span class="input-group-addon">@ViewBag.UOM</span>
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.Label("Seals"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">OFF</span>
                        @Html.TextBoxFor(m => m.SealOff, new { @class = "form-control" })
                    </div>
                    <div class="spacer10px"></div>
                </td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">ON</span>
                        @Html.TextBoxFor(m => m.SealOn, new { @class = "form-control" })
                    </div>
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.Rejected, "Rejected?"):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Rejected)
                    <div class="spacer10px"></div>
                </td>
                <td colspan="2">
                    @Html.DropDownList("RejectReasonID", null, "-- Select Reason --", htmlAttributes: new { @class = "form-control" })
                    <div class="spacer10px"></div>
                </td>
            </tr>

            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.RejectNotes):&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.RejectNotes, new { @class = "form-control" })
                </td>
            </tr>


            <tr>
                <td colspan="4" class="center">
                    <div class="spacer20px"></div>

                    @if (Model.Rejected)
                    {
                        <button type="submit" id="saveticket" class="btn btn-black">Reject Ticket</button>
                    }
                    else
                    {
                        <button type="submit" id="saveticket" class="btn btn-blue shiny">Complete Ticket</button>
                    }
                    &nbsp;&nbsp;<a class="btn btn-blue shiny" href="~/Orders/Edit/@Model.OrderID">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}
<script>
    // This switches the Complete/Reject button
    $("#Rejected").click(function () {
        $("#saveticket").toggleClass("btn-blue btn-black")
        $("#saveticket").toggleClass(" shiny")
        $("#saveticket").text(function (i, text) {
            return text == "Complete Ticket" ? "Reject Ticket" : "Complete Ticket";
        })
    });

    var gross = null;

    $(function () 
    {
        $(".qtyfield").change(function () {
            UpdateGSV_NSV_Int();
        });

        $(".productfield").change(function () {
            UpdateGSV_NSV_Int();
        });
    });

    function UpdateGSV_NSV_Int() 
    {
        if ($("#OpenMeterUnits").val() && $("#CloseMeterUnits").val())
            gross = $("#CloseMeterUnits").val() - $("#OpenMeterUnits").val();
        else
            gross = null;

        UpdateGSV_NSV(gross,
                        $("#ProductObsTemp").val(),
                        $("#ProductHighTemp").val(),
                        $("#ProductLowTemp").val(),
                        $("#ProductObsGravity").val(),
                        $("#ProductBSW").val(),
                        @ViewBag.UomSigFigs);
    }

    function UpdateGSV_NSV(grossUnits, temp, opentemp, closetemp, grav, bsw, sigfigs) 
    {
        $.ajax({
            type: "POST",
            url: "/Tickets/GetGSV_NSV?grossunits=" + grossUnits + "&temp=" + temp + "&opentemp=" + opentemp + "&closetemp=" + closetemp + "&grav=" + grav + "&bsw=" + bsw + "&sigfig=" + sigfigs,
            success: function (data, result) {
                debugger;
                //$("#GrossStdUnits").val(data.gsv);
                $("#NetUnits").val(data.nsv);
            }
        });
    };
</script>
