﻿@model IEnumerable<DispatchCrude.Models.TruckMaintenance>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Truck Maintenance";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Maintenance")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabMaintenance, "Button_TruckMaintenance")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    //.Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => {
                        if (Request.QueryString.Keys.Count == 0) {
                            sort.Add("Truck.Carrier.Name").Ascending();
                            sort.Add("Truck.IDNumber").Ascending();
                        }
                    }) // Initial Sort
                    .Create(create => create.Action("Create", "TruckMaintenance"))
                    .Read(read => read.Action("Read", "TruckMaintenance"))
                    .Update(update => update.Action("Update", "TruckMaintenance"))
                    .Destroy(update => update.Action("Delete", "TruckMaintenance"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Truck_Maintenance.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.                    
                    ev.Cancel("onPopupCancelCustom");  // Actions when canceling the popup editor
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createTruckMaintenance")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => {
                    ed.Mode(GridEditMode.PopUp).TemplateName("Popup_TruckMaintenance");
                    ed.DisplayDeleteConfirmation(true);  //These records have no delete date fields so the delete confirmation needs to be on
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Truck.Carrier.CarrierType.Name)
                        .ClientTemplate("#= ellipseDivDrill(data, 'Truck.Carrier.CarrierType.Name') #")
                        .Width(150);
                    columns.Bound(m => m.Truck.Carrier.Name)
                        .Title("Carrier")
                        .ClientTemplate("#= ellipseDivDrill(data, 'Truck.Carrier.Name') #")
                        .Width(250);
                    columns.Bound(m => m.Truck.IDNumber)
                        .ClientTemplate("#= ellipseDivDrill(data, 'Truck.IDNumber') #")
                        .Width(100);
                    columns.Bound(m => m.Truck.VIN)
                        .ClientTemplate("#= ellipseDivDrill(data, 'Truck.VIN') #")
                        .Width(160);
                    columns.Bound(m => m.TruckTrailerMaintenanceTypeID)
                        .ClientTemplate("#= ellipseDivDrill(data, 'TruckTrailerMaintenanceType.Name') #")
                        .Width(200);
                    columns.Bound(m => m.DocName)
                        .Title("Document")
                        .ClientTemplate(@"
                                    #if(data.DocName){#
                                        <div class='showEllipsis' data-placement='bottom' title='#=data.DocName#'>
                                            <a href='/TruckMaintenance/Download/#=data.ID#'><span class='glyphicon glyphicon-download-alt' title='Download' /></a>
                                            &nbsp;&nbsp;
                                            #=data.DocName#
                                        </div>
                                    #}#")
                        .Width(200);
                    columns.Bound(m => m.MaintenanceDate)
                        .ClientTemplate("#if(data.MaintenanceDate){# #=kendo.toString(data.MaintenanceDate, \'M/d/yyyy\')# #}#")
                        .Width(130);
                    columns.Bound(m => m.Cost)
                        .ClientTemplate("#if(data.Cost){# #=kendo.toString(data.Cost, 'c')# #}#")
                        .Width(100);
                    columns.Bound(m => m.Notes)
                        .ClientTemplate("#= ellipseDiv(data.Notes) #")
                        .Width(200);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("TruckMaintenance")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("TruckMaintenance")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("TruckMaintenance")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onPopupCancelCustom(e)
    {
        /* Clear any document that was uploaded */
        $.ajax({
            url: "/TruckMaintenance/ClearDocument",
            type: "GET",
            success: function (result) { }
        });
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>