﻿@model DispatchCrude.Models.HosPolicy
@using DispatchCrude.Models;

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };
</script>

<div class="popup-editor-container" style="width:750px;">    
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>    

    <div class="editor-label">
        <span class="NullValidator">*</span>@Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { style = "width:200px;height:40px" })
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_OnDutyWeeklyLimit)" ></i>
        @Html.LabelFor(model => model.OnDutyWeeklyLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.OnDutyWeeklyLimit)
        @Html.ValidationMessageFor(model => model.OnDutyWeeklyLimit)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DrivingWeeklyLimit)" ></i>
        @Html.LabelFor(model => model.DrivingWeeklyLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DrivingWeeklyLimit)
        @Html.ValidationMessageFor(model => model.DrivingWeeklyLimit)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_OnDutyDailyLimit)" ></i>
        @Html.LabelFor(model => model.OnDutyDailyLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.OnDutyDailyLimit)
        @Html.ValidationMessageFor(model => model.OnDutyDailyLimit)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DrivingDailyLimit)" ></i>
        @Html.LabelFor(model => model.DrivingDailyLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DrivingDailyLimit)
        @Html.ValidationMessageFor(model => model.DrivingDailyLimit)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DrivingBreakLimit)" ></i>
        @Html.LabelFor(model => model.DrivingBreakLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DrivingBreakLimit)
        @Html.ValidationMessageFor(model => model.DrivingBreakLimit)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_PersonalDailyLimit)" ></i>
        @Html.LabelFor(model => model.PersonalDailyLimit)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PersonalDailyLimit)
        @Html.ValidationMessageFor(model => model.PersonalDailyLimit)
    </div>


    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_ShiftIntervalDays)" ></i>
        @Html.LabelFor(model => model.ShiftIntervalDays)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ShiftIntervalDays)
        @Html.ValidationMessageFor(model => model.ShiftIntervalDays)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_WeeklyReset)"></i>
        @Html.LabelFor(model => model.WeeklyReset)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WeeklyReset)
        @Html.ValidationMessageFor(model => model.WeeklyReset)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DailyReset)" ></i>
        @Html.LabelFor(model => model.DailyReset)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DailyReset)
        @Html.ValidationMessageFor(model => model.DailyReset)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_SleeperBreak)" ></i>
        @Html.LabelFor(model => model.SleeperBreak)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SleeperBreak)
        @Html.ValidationMessageFor(model => model.SleeperBreak)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DrivingBreak)" ></i>
        @Html.LabelFor(model => model.DrivingBreak)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DrivingBreak)
        @Html.ValidationMessageFor(model => model.DrivingBreak)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_SleeperBerthSplitTotal)" ></i>
        @Html.LabelFor(model => model.SleeperBerthSplitTotal)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SleeperBerthSplitTotal)
        @Html.ValidationMessageFor(model => model.SleeperBerthSplitTotal)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_SleeperBerthSplitMinimum)" ></i>
        @Html.LabelFor(model => model.SleeperBerthSplitMinimum)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SleeperBerthSplitMinimum)
        @Html.ValidationMessageFor(model => model.SleeperBerthSplitMinimum)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_WarnLogoff)" ></i>
        @Html.LabelFor(model => model.WarnLogoff)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WarnLogoff)
        @Html.ValidationMessageFor(model => model.WarnLogoff)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_ForceLogoff)" ></i>
        @Html.LabelFor(model => model.ForceLogoff)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ForceLogoff)
        @Html.ValidationMessageFor(model => model.ForceLogoff)
    </div>

    <div class="editor-label">
        <i class="fa fa-info-circle blue shiny" data-toggle="tooltip" title="@(HosPolicy.HELP_DriverAppLogRetentionDays)" ></i>
        @Html.LabelFor(model => model.DriverAppLogRetentionDays)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DriverAppLogRetentionDays)
        @Html.ValidationMessageFor(model => model.DriverAppLogRetentionDays)
    </div>
</div>