﻿@model DispatchCrude.Models.ChangePasswordModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
}

@if (TempData["success"] != null)
{
    <script>
        $(document).ready(function () {
            Notify('@TempData["success"]', 'top-right', '5000', 'success', 'fa-check-circle white', true);
        })
    </script>
}

<div class="widget col-lg-6">
    <div class="widget-header bordered-bottom bordered-blue">
        <span class="widget-caption">Change Password</span>
    </div>
    <div class="widget-body">
        <div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePassword" })) {
            @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class="form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @*@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })*@
                    <input type="password" class="width100 form-control" name="NewPassword"                           
                           data-bv-stringlength="true"
                           data-bv-stringlength-min="6"
                           data-bv-stringlength-message="The password must be more than 6 characters long"
                           data-bv-identical="true"
                           data-bv-identical-field="ConfirmPassword"
                           data-bv-identical-message="The passwords do not match" />
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
                    <input type="password" class="width100 form-control" name="ConfirmPassword"
                           data-bv-identical="true"
                           data-bv-stringlength="true"
                           data-bv-stringlength-min="6"
                           data-bv-stringlength-message="The password must be more than 6 characters long"
                           data-bv-identical-field="NewPassword"
                           data-bv-identical-message="The passwords do not match" />
                </div>
                <button type="submit" class="btn btn-blue shiny">Change Password</button>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#changePassword").bootstrapValidator(
            {
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            });

    });
</script>


