﻿@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed.
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Home", "Index", "Home", null, new { data_ajax = "false" } )</li>
</ul>