﻿@model DispatchCrude.Models.LoginModel

@{
    ViewBag.Title = "My Account";
}

<div class="leftpanel">
    <div class="well with-header">
        <div class="header bordered-blue">Account Options: <strong>@User.Identity.Name</strong></div>
        <div class="center">
            @Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-blue shiny" })
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Log off", "LogOff", null, new { @class = "btn btn-blue shiny" })
        </div>
    </div>
</div>