﻿@model DispatchCrude.Models.LoginModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="animated fadeIn col-lg-6 col-lg-offset-3">    
    <div class="widget login-form">
        <div class="login-logo center">
            <img src="~/images/login_logo.png" />
        </div>
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">Log In</span>
        </div>
        <div class="widget-body">
            <div id="horizontal-form">

                @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"])

                    if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger fade in">
                               @Html.ValidationSummary()
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label no-padding-right" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name" })                            
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label no-padding-right" })
                        <div class="col-sm-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            @Html.CheckBoxFor(m => m.Terms)
                            <span>By checking this box, I acknowledge that I have read and accept the <a href="~/Content/EULA/DC_EULA_and_Terms.pdf">EULA & Terms and Conditions.</a></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-blue shiny">Log in</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>