﻿@model DispatchCrude.Models.LoginModel

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["SiteTitle"];
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="animated fadeIn col-lg-6 col-lg-offset-3">    
    <div class="widget login-form">        
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption">Switch User</span>
        </div>
        <div class="widget-body">
            <div class="alert alert-info fade in">
                <i class="fa-fw fa fa-info"></i> <i> User switching is restricted to users of your same security tier or lower.</i>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.errorMessage))
            {
                if (ViewBag.errorType == "ERROR")
                {
                    <div class="alert alert-danger fade in">
                        <i class="fa-fw fa fa-times"></i> @ViewBag.errorMessage
                    </div>
                }

                if (ViewBag.errorType == "WARNING")
                {
                    <div class="alert alert-warning fade in">
                        <i class="fa-fw fa fa-warning"></i> @ViewBag.errorMessage
                    </div>
                }
            }

            <div id="horizontal-form">

                @using (Html.BeginForm("SwitchUser", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.Hidden("ReturnUrl", Request.UrlReferrer.PathAndQuery) // Request.QueryString["ReturnUrl"])
                    @*@Html.ValidationSummary()*@


                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label no-padding-right" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User name" })
                            <p class="help-block">Please enter the username of the user to impersonate.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-blue shiny">Switch User</button>
                            <span class="btn btn-blue shiny">
                                @*@Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "html-action-link-btn" })*@
                                @if (string.IsNullOrEmpty(ViewBag.ReturnUrl))
                                {
                                    <a href="@Request.UrlReferrer.PathAndQuery" class="html-action-link-btn">Cancel</a>
                                }
                                else
                                {
                                    <a href="@ViewBag.ReturnUrl" class="html-action-link-btn">Cancel</a>
                                }                                
                            </span>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>