﻿@model int
<style type="text/css">
    .k-upload-selected {
        display: none;
    }
</style>
<script type="text/javascript">
    function cmdProcess_Click(e) {
        //debugger;
        var btnUpload = $(".k-upload-selected");
        if (btnUpload) btnUpload.click();
    }
    function onUploadUpload(e) {
        debugger;
        e.data = { id: "@Model", exportFileName: $("#outputFile").val() };
    }
    function onUploadCancel(e) {
        debugger;
    }
    function onUploadSuccess(e) {
        debugger;
        // initiate a postback to retrieve the results
        $("#retrieve_result")[0].click();
        // close this window
        $("#cmdProcess").closest(".k-window-content").data("kendoWindow").close();
    }
    function onUploadError(e) {
        debugger;
        var errorList = e.XMLHttpRequest.response.split('\n');
        var errorsHtml = '<p>Errors</p><ul>';
        for (var i = 0; i < errorList.length; i++) {
            errorsHtml += '<li>' + errorList[i] + '</li>';
        }
        errorsHtml += "</ul><div class='spacer20px'></div>";
        $("#errorList").empty().append(errorsHtml); // "<text>" + errors + "</text><div class='spacer20px'></div>");
    }
</script>
<a id="retrieve_result" href="/importcentergroup/ExecuteResult"></a>
<table style="width: 100%;">
    <tr>
        <td>Input File (*.xlsx | *.csv)</td>
        <td>
            @(Html.Kendo().Upload()
            .Name("importFiles")
            .Multiple(false)
            .Async(a => a
                .Save("ExecuteImportGroup", "ImportCenterGroup")
                .AutoUpload(false)
            )
            .Messages(m => m.Select("Select File to Import"))
            .Events(events => events
                .Cancel("onUploadCancel")
                .Success("onUploadSuccess")
                .Error("onUploadError")
            //    .Progress("onProgress")
            //    .Remove("onRemove")
            //    .Select("onSelect")
            //    .Complete("onComplete")
                .Upload("onUploadUpload")
            )
        )
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td>Output File Name (no extension)</td>
        <td>@Html.Kendo().TextBox().Name("outputFile").HtmlAttributes(new { style = "width: 100%;" })</td>
    </tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td colspan="2"><div id="errorList" class="NullValidator"></div></td></tr>
    <tr>
        <td></td>
        <td>
            @(Html.Kendo().Button()
                .Name("cmdProcess")
                .Content("Run Now")
                .HtmlAttributes(new { type = "button" })
                .Events(ev => ev.Click("cmdProcess_Click")))
        </td>
    </tr>
</table>