﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports";
    ViewBag.SubTitle = "Report Email Subscriptions";
}
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

<style>
    /* required to ensure the buttons pre-format are too large to fit the table cell, which causes a big, and annoying flicker */
    .k-button-icontext {
        padding-left: 0px !important;
        padding-right: 0px !important;
        min-width: 24px !important;
        width: 24px !important;
    }
    .k-textarea {
        width: 100%;
        min-height: 80px;
        resize: vertical !important;
    }
</style>
@Html.AntiForgeryToken()
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Reports, "Tab_Subscriptions")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="fillParentVertical">
                <div id="grid" class="MVCGridRepaint" style="height: 800px;" ></div>
            </div>
        </div>
    </div>
</div>

<script>
var baseUrl = "/reportemailsubscription/",
    userReports = retrieveJSON(baseUrl + "userreports");
$(function () {
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: baseUrl + "read"
            , update: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "update" }
            , destroy: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "delete" }
            , create: { type: "POST", headers: verificationTokenHeader(), url: baseUrl + "update" }
            , parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    //debugger;
                    return options.models[0];
                }
                else if (operation != "read" && options.models) {
                    debugger;
                    var data = options.models[0];
                    // need to post dates in ISO format (which isn't the format the kendo dataSource submits by default)
                    data.ExecuteTime = kendo.toString(new Date(data.ExecuteTime), "yyyy-MM-ddTHH:mm:ss");
                    // convert any \r\n sequences in EmailAddressCSV back to "," symbol
                    data.EmailAddressCSV = data.EmailAddressCSV.replace(/\n/g, ",").replace(/\r/g, "");
                    return data;
                }
            }
        },
        batch: true,
        schema: {
            data: "Data",
            errors: "Errors",
            model: {
                id: "ID",
                fields: {
                    ID: { editable: false, defaultValue: 0 },
                    UserReportID: {
                        type: "number",
                        validation: {
                            // the only way I could figure out how to make this a require field
                            custom: function (input) {
                                // TELERIK: WHY IS THIS CALLED FOR OTHER FIELDS??
                                //debugger;
                                if (input.attr("data-bind") === "value:UserReportID") {
                                    input.attr("data-custom-msg", "Report must be selected");
                                    return input.val() > 0;
                                }
                                return true;
                            }
                        }
                    },
                    Name: { validation: { required: true } },
                    UserName: {
                        editable: @HttpContext.Current.User.IsInRole("editEmailSubscription").ToString().ToLower(),
                        validation: { required: { message: "Required" } },
                        defaultValue: "@User.Identity.Name"
                    },
                    Sun: { type: "boolean", defaultValue: true },
                    Mon: { type: "boolean", defaultValue: true },
                    Tue: { type: "boolean", defaultValue: true },
                    Wed: { type: "boolean", defaultValue: true },
                    Thu: { type: "boolean", defaultValue: true },
                    Fri: { type: "boolean", defaultValue: true },
                    Sat: { type: "boolean", defaultValue: true },
                    ExecuteTime: { type: "date", validation: { required: { message: "Required" } }, defaultValue: null },
                    EmailAddressCSV: { validation: { required: { message: "At least 1 email recipient is required" } } },
                }
            }
        },
        serverSorting: false,
        error: function(e) {
            debugger;
            var msg = isArray(e.errors) ? e.errors.join("\r\n") : e.errors;
            alert("Error: " + msg); // TODO: show a better error when this occurs
            // reload the grid from the database (clear whatever error was introduced by the user)
            $('#grid').data('kendoGrid').dataSource.read();
        },
        pageSize: @Settings.DefaultPageSize,
    });
    $("#grid").kendoGrid({
        dataSource: dataSource
        , pageable: {
            refresh: true
            , pageSizes: true
            , buttonCount: 5
        }
        , toolbar: [{ name: "create", text: "&nbsp;" }]
        , filterable: true
        , editable: "inline"
        , sortable: { mode: "multiple", allowUnsort: true }
        , resizable: true
        , scrollable: true
        , dataBound: customKendoGridButtons
        , edit: customKendoInlineButtons
        , cancel: customKendoGridButtons_Delay
        , columns: [
            { command: [{name: "edit", text:{edit: "&nbsp;", update: "&nbsp;", cancel: "&nbsp;"} }, {name: "destroy", text: "&nbsp;"}], title: "&nbsp;", width: "70px" },
            { field: "ID", editable: "false", width: "45px" },
            { field: "UserReportID", title: "Report", width: "230px", editor: userReportEditor, template: "#=findUserReport(UserReportID)#", },
            { field: "Name", title: "Export File Name", width: "150px" },
            { field: "UserName", title: "User Name", width: "120px" },
            { field: "Sun", title: "Sun", width: "40px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Sun', Sun)#" },
            { field: "Mon", title: "Mon", width: "45px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Mon', Mon)#" },
            { field: "Tue", title: "Tue", width: "40px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Tue', Tue)#" },
            { field: "Wed", title: "Wed", width: "46px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Wed', Wed)#" },
            { field: "Thu", title: "Thu", width: "43px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Thu', Thu)#" },
            { field: "Fri", title: "Fri", width: "40px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Fri', Fri)#" },
            { field: "Sat", title: "Sat", width: "40px", filterable: false, editor: checkboxEditor, template: "#= checkboxTemplate('Sat', Sat)#" },
            { field: "ExecuteTime", title: "Time", width: "120px", editor: timeEditor, template: "#= executeTime(ExecuteTime)#" },
            { field: "EmailAddressCSV", title: "Recipients", width: "250px", editor: emailAddressCsvEditor, template: "#= emailAddressCsvFormat(EmailAddressCSV,'<br>')#" },
        ]
    });
});

function isArray(obj) {
    return obj && obj.constructor === Array;
};
//function intNumberEditor(container, options) {
//    $('<input id="txt' + options.field + '" data-bind="value:' + options.field + '" />')
//        .appendTo(container)
//        .kendoNumericTextBox({ format: "#", min: 0, max: 23 });
//};
function executeTime(value) {
    //debugger;
    var date = kendo.parseDate(value);
    return date ? kendo.toString(date, "t") : null;
}
function timeEditor(container, options) {
    //debugger;
    var value = options.model.get(options.field);
    var dtp = $('<input required name="' + options.field + '" data-bind="value:' + options.field + '" />')
        .appendTo(container)
        .kendoTimePicker({
            interval: 60
        }).data("kendoTimePicker");
    if (value) dtp.value(value);
    $('<span class="k-invalid-msg" data-for=' + options.field + '>Required</span>').appendTo(container);
};
function userReportEditor(container, options) {
    $('<input id="ddlUserReport" required name="' + options.field + '" data-value-field="ID" data-text-field="Name" data-bind="value:' + options.field + '" />')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: true,
            optionLabel: "(Select)",
            valuePrimitive: true,
            dataSource: new kendo.data.DataSource({ type: "json", data: userReports
        }),
    });
    $('<span class="k-invalid-msg" data-for=' + options.field + '></span>').appendTo(container);
};
function checkboxEditor(container, options) {
    //debugger;
    var checked = options.model.get(options.field) ? "checked" : "";
    $('<input name="' + options.field + '" type="checkbox" checked="' + checked + '" />')
        .appendTo(container);
}
function checkboxTemplate(name, checked) {
    //debugger;
    return '<input name="' + name + '" type="checkbox" ' + (checked ? 'checked="checked" ' : ' ') + 'disabled="disabled" />';
}
function emailAddressCsvFormat(data, delim) {
    return data.replace(/,/g, delim);
}
function emailAddressCsvEditor(container, options) {
    $("<textarea type='text' class='k-textarea' name='EmailAddressCSV' required='required' data-required-msg='At least 1 email recipient is required' />")
        .appendTo(container);
    // we have to allow the grid to create this control and add the data-bind attibute, then use a timer to later update the text with \r\n for the , symbols - to get 1 email address per line
    var value = emailAddressCsvFormat(options.model.get(options.field), "\r\n");
    setTimeout(function() {
        debugger;
        $(".k-textarea[name='EmailAddressCSV']").val(value);
    }, 100)
}
function findUserReport(id) {
    return arrayFindValueByKey(userReports, id);
};

</script>
<script>
    //This sizeContent() is required at this point in order to properly size the Kendo UI grid to the tab container it sits in
    $(document).ready(function () {
        sizeContent()
    });
</script>