﻿@model IEnumerable<DispatchCrude.Models.PdfExportType>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "PDF Export Types";
}
<div class="tabbable TabRepaint">
    @*<ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Imports, "Tab_PdfExportType")
    </ul>*@
    <div class="tab-content">
        <div class="tab-pane in active">
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(model => model.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Update", "PdfExportType"))
                    .Read(read => read.Action("Read", "PdfExportType"))
                    .Update(update => update.Action("Update", "PdfExportType"))
                    .Destroy(update => update.Action("Delete", "PdfExportType"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Pdf Export Types.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    //ev.Edit("onPopupEdit"); // This just changes the popup's title (Create/Edit). If additional functionality is needed, create a custom function on this page.
                    ev.Edit("onEdit"); 
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createPdfExportType")) command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_PdfExportType"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(model => model.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(model => model.Name)
                        .Width(300);
                    columns.Bound(model => model.CreateDate)
                        .Width(200);
                    columns.Bound(model => model.CreatedByUser)
                        .Width(175);
                    columns.Bound(model => model.LastChangeDate)
                        .Width(200);
                    columns.Bound(model => model.LastChangedByUser)
                        .Width(200);
                    columns.Bound(model => model.DeleteDate)
                        .Width(200);
                    columns.Bound(model => model.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("PdfExportType")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("PdfExportType")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("PdfExportType")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    function onEdit(e) {
        //If the model sent to the popup is not new (is an existing record),
        if (e.model.isNew()) {
            //Do create mode stuff:
            $(".k-window-title").html("Create"); // Change the window title to create
        }
        else {
            //Do edit mode stuff:
            if (e.model.IsSystem) { // don't think this check is working.  if name is disabled anyway what's the point of editing this record???
                $("#Name").attr("readonly", true);
                $("#Name").addClass("k-state-disabled");
            }
        }
    }
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/jsonSupport.js" type="text/javascript"></script>
<script src="~/scripts/kendoExcelExportHelper.js" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>