﻿@model DateTime?
@using DispatchCrude.Core;

@if (Model.HasValue)
{
    // get the local time zone from the profile
    string myTimeZone = DispatchCrudeHelper.GetProfileTimeZone(HttpContext.Current);
    string myTZ = DispatchCrudeHelper.GetProfileTimeZoneAbbrev(HttpContext.Current);

    DateTime? LocalDateTime = DateHelper.ToLocal(Model.Value, myTimeZone); ;


    // Build the HTML for the tooltip
    string html = "Local: " + LocalDateTime + " " + myTZ + "<br />";

    // if an additional Time Zone was sent add it to the tooltip
    if (ViewData["tzid"] != null && (int)ViewData["tzid"] != 0)
    {
        html += ViewData["tzname"] + ": " +
                DateHelper.ToLocal(Model.Value, Converter.SplitCamelCase(DispatchCrude.Models.TimeZone.GetName((int)ViewData["tzid"]))) + " " +
                DispatchCrude.Models.TimeZone.GetAbbrev((int)ViewData["tzid"]) + "<br />";
    }
    else if (ViewData["tzoffset"] != null && (int)ViewData["tzoffset"] != 0)
    {
        string tzabbr = "xxx"; // need to check daylight savings to determine time zone
        html += ViewData["tzname"] + ": " +
                Model.Value.AddHours((int)ViewData["tzoffset"]) + " " +
                tzabbr + "<br />";

    }
    html += "UTC: " + Model;
    html += "<br />User: " + ViewData["LastChangedByUser"];

    <text>
        <span class="glyphicon glyphicon-time datetooltip inline" title="@html" data-html="true" data-toggle="tooltip"></span>
    </text>
}