﻿<div style="width: 50%;min-width: 350px;margin-left:auto; margin-right:auto;">
@using (Html.BeginForm("GoBack", "OrderAudit", null, FormMethod.Post, new { @data_ajax = "true" }))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">GoBack (test page)</li>
        <li data-role="header">Please enter an order id:</li>
        
        <li data-role="fieldcontain">
            @Html.Label("id")
            @Html.TextBox("id")            
        </li>

        <li>
            <input type="submit" value="Go Back" />
        </li>
    </ul>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}