﻿@model System.Data.DataTable
@using DispatchCrude.Core;

<div id="gridArea" style="height:100%" >
    @(Html.Kendo().Grid<dynamic>()
        .Name("AuditGrid")
        .Mobile(MobileMode.Auto)
        .Columns(columns =>
        {
            columns.Command(cmd => cmd.Custom("Done").Click("done")).Width(80);
            columns.Command(cmd => cmd.Custom("Go Back").Click("goback")).Width(80);
            columns.Bound("OrderNum").Title("Order #").Width(70);
            columns.Bound("Rejected").Width(75);
            columns.Bound("Tickets").Width(80);
            columns.Bound("DispatchConfirmNum").Title("Disp Conf #").Width(90);
            columns.Bound("Errors").Width(80).HtmlAttributes(new { style = "color: red;" });
            columns.Bound("Customer").Title("Shipper").Width(120);
            columns.Bound("Carrier").Width(120);
            columns.Bound("Driver").Width(120);
            columns.Bound("Origin").Width(150);
            columns.Bound("OriginDistance").Title("DTP").Width(90);
            columns.Bound("OriginGrossUnits").Title("GOV").Width(80);
            columns.Bound("OriginNetUnits").Title("NSV").Width(80);
            columns.Bound("Destination").Width(150);
            columns.Bound("DestDistance").Title("DTP").Width(90);
        })
        .Pageable(pager => pager.PageSizes(Settings.MvcGridPageSizes)
                                .Refresh(true))
        .Sortable()
        .Editable(ed=>ed.Mode(GridEditMode.PopUp))
        .Filterable(filterable => filterable
            .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
            .Operators(operators => operators
                .ForString(str => str
                    .Clear()
                    .Contains("Contains")
                    .DoesNotContain("Does not contain")
                    .StartsWith("Starts with")
                    .EndsWith("Ends with")
                    .IsEqualTo("Is equal to")
                    .IsNotEqualTo("Is not equal to")
                )
            )
        )
        .Groupable()
        .HtmlAttributes(new { style = "height: 99%;" })
        .Scrollable()
        .DataSource(dataSource => dataSource
            .Ajax()        
            .Model(model =>
                {
                    model.Id("ID");
                })
            .PageSize(50)
            .Read(read => read.Action("Read", "OrderAudit"))
            .Update(update => update.Action("Update", "OrderAudit"))
        )
    )
</div>
<script type="text/javascript">
    function done(e) {
        e.preventDefault();
        debugger;
        var id = this.dataItem($(e.currentTarget).closest("tr")).id;
        var url = "/orderaudit/done/" + id;
        $.ajax({
            type: "POST",
            url: url,
        })
        .done(function () {
            // refresh the grid to remove the just completed order
            refreshGrid();
        })
        .fail(function () { alert("failure marking order DONE") })
    }
    function goback(e) {
        e.preventDefault();
        debugger;
        var id = this.dataItem($(e.currentTarget).closest("tr")).id;
        var url = "/orderaudit/goback/" + id;
        $.ajax({
            type: "POST",
            url: url,
        })
        .done(function () {
            // refresh the grid to remove the just removed order
            refreshGrid();
            // open a new window at this order
            url = "/orders/index/" + id;
            window.open(url, '_blank');
        })
        .fail( function() { alert("failure reverting order") })
    }
    function refreshGrid() {
        // refresh the grid to hide the just removed order
        if ($(".k-i-refresh").length > 0) {
            $(".k-i-refresh").trigger('click');
        }
    }
</script>