﻿@model IEnumerable<DispatchCrude.Models.Uom>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Locations";
    ViewBag.SubTitle = "Units of Measure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Locations, "Tab_Products")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabProducts, "Button_UOM")
            </div>

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(u => u.Active).IsEqualTo(true))
                    .Model(model => model.Id(m => m.ID))
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "Uoms"))
                    .Read(read => read.Action("Read", "Uoms"))
                    .Update(update => update.Action("Update", "Uoms"))
                    .Destroy(update => update.Action("Delete", "Uoms"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("UnitsOfMeasure.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                    {
                        if (User.IsInRole("createUnitsOfMeasure")) command.Create().Text("");
                        command.Excel();
                    })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Uom"); ed.DisplayDeleteConfirmation(false); })
                .Events(e =>
                {
                    e.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality
                    e.Edit("onEdit");  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(u => u.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(u => u.Name)
                        .ClientTemplate("<text>#= data.Name #<text>")
                        .Width(250);
                    columns.Bound(u => u.UomTypeID)
                        .Title("Uom Type")
                        .EditorTemplateName("_UomTypeDDL")
                        .ClientTemplate("#= data.UomType ? data.UomType.Name : '' #")
                        .Filterable(false)
                        .Width(150);
                    columns.Bound(u => u.Abbrev)
                        .Width(150);
                    columns.Bound(u => u.GallonEquivalent)
                        .Width(200);
                    columns.Bound(u => u.SignificantDigits)
                        .Title("Significant Digits &nbsp;<i class='fa fa-question-circle'></i>")
                        .HeaderHtmlAttributes(new { @title = "This is the number of decimals to print/show when displaying volumes or weights of this unit of measure." })
                        .Width(200);
                    columns.Bound(u => u.CreateDate)
                        .Width(200);
                    columns.Bound(u => u.CreatedByUser)
                        .Width(175);
                    columns.Bound(u => u.LastChangeDate)
                        .Width(200);
                    columns.Bound(u => u.LastChangedByUser)
                        .Width(200);
                    columns.Bound(u => u.DeleteDate)
                        .Width(200);
                    columns.Bound(u => u.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("UnitsOfMeasure")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("UnitsOfMeasure")" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("UnitsOfMeasure")" />
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="validationMessageTemplate">
    # if (messages.length) { #
    # for (var i = 0; i < messages.length; ++i) { #
    <li>#= messages[i] #</li>
    # } #
    # } #
</script>

<script type="text/javascript">
    $(document).ready(function () {

        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });

    // grid assumes a delete/destroy operation simply removes the record, which might not be the case (since is undeletable), so force "rebind"
    function onDSRequestEnd(e) {
        debugger;
        if (e.type == "destroy") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function onDSErrors(args) {
        debugger;
        if (args.errors) {
            var grid = $("#grid").data("kendoGrid");
            var validationTemplate = kendo.template($("#validationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    debugger;
                    var renderedTemplate = validationTemplate({ field: propertyName, messages: this.errors });
                    /* append these errors to the <ul class="gridErrors> */
                    grid.editable.element.find(".gridErrors").append(renderedTemplate);
                });
            });
        }
    }

    function onEdit(e) {    //Place popup create vs. edit code here
        if (!e.model.isNew()) {
            //Do edit mode stuff:
        }
        else {
            //Do create mode stuff:
            $(".k-window-title").html("Create"); //change the window title to create
        }
    }

    //Display gallon equivalent number to precision specified in significant digits column
    function FormatAsDecimal(number, decimals) {
        return Number(number).toFixed(decimals);
    }
</script>
@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
