﻿
<div style="height:100%;">
@{ using (Html.BeginForm("History", "Orders", FormMethod.Get ))
   {
       <div class="leftpanel">
           <div class="well with-header">
               <div class="header bordered-green">History</div>
               @Html.Label("Order #")
               &nbsp;
               @Html.TextBox("OrderNum")
               <div class="spacer10px"></div>
               <div class="center">
                   <input type="submit" class="btn btn-blue shiny" value="View Order History" />
               </div>
           </div>
        </div>
   }
}
</div>
