﻿@model IEnumerable<DispatchCrude.Models.DispatchContact>
                <div class="chatbar-contacts">
                    <div class="contacts-search">
                    @using (Html.BeginForm("Index", "DispatchMessaging", FormMethod.Get, new { id = "messagesearch" }))
                    {
                        <input type="text" name="searchstring" class="searchinput" placeholder="Search Contacts" />
                        <i class="searchicon fa fa-search"></i>
                        <div class="searchhelper">Search Your Contacts and Chat History</div>
                    }
                    </div>
                    <ul class="contacts-list">
                        <li class="contact-menu">
                            <div>
                                <a href="~/DispatchMessaging/Index/?searchstring=">Advanced search</a><br>
                                <a href="~/DispatchMessaging/SendBlast">Bulk send</a>
                            </div>
                        </li>
                        @foreach (var item in Model)
                        {
                            <li class="contact" id="@item.UserName">
                                <div class="contact-avatar">
                                    <i class="fa fa-user fa-3x"></i>
                                    @*<img src="assets/img/avatars/divyia.jpg" />*@
                                </div>
                                <div class="contact-info">
                                    <div class="contact-name">@item.FullName</div>
                                    <div class="contact-status">
                                        <div class="@(item.online ? "online" : "offline" )"></div>
                                        <div class="status">@(item.online ? "online" : "offline" )</div>
                                    </div>
                                    <div class="last-chat-time">
                                        @(item.LastChat().Value.ToString("M/d @ h:mm tt"))
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="chatbar-messages" style="display: none;">

                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    @*<div class="messages-contact">
                        <div class="contact-avatar">
                            <i class="fa fa-user fa-4x"></i>
                            <img src="assets/img/avatars/divyia.jpg" />
                        </div>
                        <div class="contact-info">
                            <div class="contact-name">XXX</div>
                            <div class="contact-status">
                                <div class="online"></div>
                                <div class="status">online</div>
                            </div>
                            <div class="last-chat-time">
                                a moment ago
                            </div>
                            <div class="back">
                                <i class="fa fa-arrow-circle-left"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="messages-list">
                    </ul>
                    <div class="send-message">
                        <span class="input-icon icon-right">
                            <textarea rows="4" class="form-control" placeholder="Type your message"></textarea>
                            <i class="fa fa-camera themeprimary"></i>
                        </span>
                    </div>*@
                </div>

<script>
    $(".contact").click(function () {
        user = this.id

        $.ajax({
            url: "/DispatchMessaging/Messages",
            type: "GET",
            data: { username: user }
        })
        .done(function(result) {
            $(".chatbar-messages").html(result);

            $('.page-chatbar .chatbar-messages .back').on('click', function (e) {
                $('.page-chatbar .chatbar-contacts').show();
                $('.page-chatbar .chatbar-messages').hide();
            });

            $('.messagearea').keydown(function (event) {
                if (event.keyCode == 13) {
                    postMessage(this.form);
                    return false;
                }
            });
        })

    })
    var position = (readCookie("rtl-support") || location.pathname == "/index-rtl-fa.html" || location.pathname == "/index-rtl-ar.html") ? 'right' : 'left';
    $('.chatbar-messages .messages-list').slimscroll({
        position: position,
        start: 'bottom',
        size: '4px',
        color: 'black',
        height: $(window).height() - 250,
    });



    function postMessage(messageform) {
        $.ajax({
            url: '/DispatchMessaging/AddMessage',
            type: "POST",
            data: $("#messageForm").serialize()
        })
        .done(function (result) {
            $(".chatbar-messages").html(result);
            $('.page-chatbar .chatbar-messages .back').on('click', function (e) {
                $('.page-chatbar .chatbar-contacts').show();
                $('.page-chatbar .chatbar-messages').hide();
            });

            $('.messagearea').keydown(function (event) {
                if (event.keyCode == 13) {
                    postMessage(this.form);
                    return false;
                }
            });
        })
    }
</script>