﻿@**************************************************************************************************@
@*  Used specifically for the login page                                                          *@
@**************************************************************************************************@
<!DOCTYPE html>
<!--Head-->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>@ViewBag.Title - DC 2.0</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <!--Basic Styles-->
    @*Styles.Render("~/css/bootstrap")*@
    <link href="~/Content/beyondadmin/bootstrap.min.css" rel="stylesheet">
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />


    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @*Styles.Render("~/css/beyond")*@
    <link href="~/Content/beyondadmin/beyond.min.css" rel="stylesheet">
    <link href="~/Content/beyondadmin/demo.min.css" rel="stylesheet">
    <link href="~/Content/beyondadmin/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/beyondadmin/typicons.min.css" rel="stylesheet">
    <link href="~/Content/beyondadmin/weather-icons.min.css" rel="stylesheet">
    <link href="~/Content/beyondadmin/animate.min.css" rel="stylesheet">
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    @*Scripts.Render("~/bundles/skin")*@
    <script src="~/scripts/beyondadmin/skins.min.js"></script>

    <!-- Custom DC stylesheet including overrides -->
    <link href="~/Content/dispatchcrude.css" rel="stylesheet">
    @RenderSection("head", required: false)
</head>
<!--Head Ends-->
<html>
<!--Body-->
<body>
    <!--Basic Scripts-->
    @*Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/scripts/beyondadmin/jquery.min.js"></script>
    <script src="~/scripts/beyondadmin/bootstrap.min.js"></script>
    <script src="~/scripts/beyondadmin/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/scripts/jquery-migrate-1.2.1.min.js"></script>

    <!--Beyond Scripts-->
    @*Scripts.Render("~/bundles/beyond")*@
    <script src="~/scripts/beyondadmin/beyond.min.js"></script>
    @RenderBody()


    <!--Page Related Scripts-->
    @*RenderSection("PageScripts", required: false)*@
    @RenderSection("scripts", required: false)
</body>
<!--  /Body -->
</html>