﻿@model DispatchCrude.ViewModels.FilterViewModel<DispatchCrude.ViewModels.ComplianceViewModel>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Compliance";
    ViewBag.Subtitle = "Compliance Report";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Compliance, "Tab_Summary")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active tab-blue">
                            <a data-toggle="tab" href="#Filters" aria-expanded="true">Filters</a>
                        </li>
                    </ul>

                    <div id="leftTabs" class="tab-content">
                        <div id="Filters" class="tab-pane active">

                            @using (Html.BeginForm())
                            {
                                <div>@Html.LabelFor(m => m.CustomFilter, "Category")</div>
                                <div>
                                    @Html.DropDownList("CustomFilter", null, "(ALL)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>@Html.LabelFor(m => m.CarrierID)</div>
                                <div>
                                    @Html.DropDownList("CarrierID", null, "(ALL)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>@Html.LabelFor(m => m.DriverID)</div>
                                <div>
                                    @Html.DropDownList("DriverID", null, "(ALL)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>@Html.LabelFor(m => m.TruckID)</div>
                                <div>
                                    @Html.DropDownList("TruckID", null, "(ALL)")
                                </div>
                                <div class="spacer10px"></div>
                                <div>@Html.LabelFor(m => m.TrailerID)</div>
                                <div>
                                    @Html.DropDownList("TrailerID", null, "(ALL)")
                                </div>
                                <div class="spacer20px"></div>
                                <div class="center">
                                    <button id="filterbtn" type="submit" class="btn btn-blue shiny">Refresh</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-7">

                @(Html.Kendo().Grid(Model.results)
                    .Name("grid")
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(Settings.DefaultPageSize)
                        .Group(g => g.Add(c => c.Carrier))
                        .Read(read => read.Action("Read", "Compliance").Data("getParameters"))
                        .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                    )
                    .Excel(excel => excel
                        .AllPages(true)
                        .FileName("Compliance_Report-" + DateTime.Today.ToString("yyyyMMdd") + ".xlsx")
                        .Filterable(true)
                    )
                    .Events(ev =>
                    {
                        ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This calls Kevin's custom excel functionality                    
                    })
                    .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                    .ToolBar(command =>
                    {
                        command.Excel();
                    })
                    //.Editable()
                    .Pageable(pager => pager
                        .PageSizes(Settings.MvcGridPageSizes)
                        .Refresh(true)
                    )
                    .Sortable()
                    .Scrollable()
                    .Groupable()
                    .Filterable(filterable => filterable
                        .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                        .Operators(operators => operators
                            .ForString(str => str
                                .Clear()
                                .Contains("Contains")
                                .DoesNotContain("Does not contain")
                                .StartsWith("Starts with")
                                .EndsWith("Ends with")
                                .IsEqualTo("Is equal to")
                                .IsNotEqualTo("Is not equal to")
                            )
                        )
                    )
                    .Resizable(resizable => resizable.Columns(true))
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Category)
                            .Width(90);
                        columns.Bound(c => c.Carrier)
                            .ClientTemplate("#= ellipseDiv(data.Carrier) #")
                            .Width(130);
                        columns.Bound(c => c.ItemName)
                            .Title("Name / #")
                            .ClientTemplate("#= ellipseDiv(data.ItemName) #")
                            .Width(130);
                        columns.Bound(c => c.ComplianceType)
                            .ClientTemplate("#= getComplianceLink(data.ComplianceType, data.Category, data.ItemID) #")
                            .Width(130);
                        columns.Bound(c => c.Missing)
                            .Title("Missing?")
                            .ClientTemplate("#= ActiveState(data.Missing) #")
                            .Width(85);
                        columns.Bound(c => c.ExpiredNow)
                            .Title("Expired?")
                            .ClientTemplate("#= ActiveState(data.ExpiredNow) #")
                            .Width(85);
                        columns.Bound(c => c.ExpiredNext30)
                            .Title("Next 30")
                            .ClientTemplate("#= ActiveState(data.ExpiredNext30) #")
                            .Width(80);
                        columns.Bound(c => c.ExpiredNext60)
                            .Title("Next 60")
                            .ClientTemplate("#= ActiveState(data.ExpiredNext60) #")
                            .Width(80);
                        columns.Bound(c => c.ExpiredNext90)
                            .Title("Next 90")
                            .ClientTemplate("#= ActiveState(data.ExpiredNext90) #")
                            .Width(80);
                        columns.Bound(c => c.MissingDocument)
                            .Title("Needs Doc?")
                            .ClientTemplate("#= ActiveState(data.MissingDocument) #")
                            .Width(100);
                    })
                )

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();

        //Initializes select2 dropdowns
        $("#CustomFilter").select2();
        $("#CarrierID").select2();
        $("#DriverID").select2();
        $("#TruckID").select2();
        $("#TrailerID").select2();
        //this makes the dropdowns with:100% without the unwanted "double box" effect produced by the "form-control" class
        $(".select2-container").addClass("width100");
    });


    $("#CarrierID").change(function () {
        refreshDrivers();
        refreshTrucks();
        refreshTrailers();
    });

    function refreshDrivers() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getDrivers/",
            data: {
                "carrierid": $("#CarrierID").val(),
                "ActiveOnly" : false
            },
            success: function (data) {
                $("#DriverID").html('<OPTION>(ALL)</OPTION>');
                $.each(data, function (id, option) {
                    $("#DriverID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#DriverID").val("");
    }

    function refreshTrucks() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getTrucks/",
            data: {
                "carrierid": $("#CarrierID").val(),
                "ActiveOnly": false
            },
            success: function (data) {
                $("#TruckID").html('<OPTION>(ALL)</OPTION>');
                $.each(data, function (id, option) {
                    $("#TruckID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#TruckID").val("");
    }

    function refreshTrailers() {
        debugger;
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Support/getTrailers/",
            data: {
                "carrierid": $("#CarrierID").val(),
                "ActiveOnly": false
            },
            success: function (data) {
                $("#TrailerID").html('<OPTION>(ALL)</OPTION>');
                $.each(data, function (id, option) {
                    $("#TrailerID").append($('<OPTION></OPTION>').val(option.ID).html(option.Name));
                });
            },
            // error:
        });
        $("#TrailerID").val("");
    }

    function getParameters() {
        //This gets the filter values for the grid from the left panel filters
        return {
            CustomFilter: $("#CustomFilter").val()
            , CarrierID: $("#CarrierID").val()
            , DriverID: $("#DriverID").val()
            , TruckID: $("#TruckID").val()
            , TrailerID: $("#TrailerID").val()
        };
    }

    function getComplianceLink(type, category, name) {
        return "<div class='showEllipsis' data-placement='bottom' title='" + type + "'><a href=/" + category + "Compliance/?" + category + "ID=" + name + ">" + type + "</a></div>";
    }
</script>


@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>