﻿@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<iframe id="helpdocs" src="~/HelpDocuments/Index.html" width="100%" >
    IFrames not supported - HELP will not be available
</iframe>


<script>
    //Resize iframe height when page size change
    $(window).resize(function () {
        setIframeHeight(document.getElementById('helpdocs'));
    });

    //Resize iframe height when page loads initially
    $(window).load(function () {
        setIframeHeight(document.getElementById('helpdocs'));
    });

    //Set the height of the helpdocs iframe
    //Edited from source: http://www.456bereastreet.com/archive/201112/how_to_adjust_an_iframe_elements_height_to_fit_its_content/
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            var header = 60;
            var padding = $("#helpdocs").parent().css("padding-top");
            padding = padding.substring(0, padding.length - 2);  //padding comes back as ##px so we chop off the "px" in order to use it for the math below

            if (iframeWin.document.body) {
                iframe.height = window.innerHeight - header - (padding * 2);
            }
        }
    };
</script>