﻿@using DispatchCrude.Models;

@model PdfExport

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.Deleted)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };    

</script>
<style>
    .k-widget.k-window {
        width: 500px !important;
    }
    .editor-label {
        width: 110px !important;
    }
    .editor-field {
        width: 350px !important;
    }
    .k-widget, .k-textbox {
        width: 100% !important;
    }
</style>
<div class="popup-editor-container">
    @Html.ValidationSummary(true)
    <ul class="gridErrors NullValidator"></ul>

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.PdfExportTypeID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PdfExportTypeID, new { activeOnly = false, Table = "PdfExportType" })
    </div>

    <div class="editor-label">
        <span style="color:red;">*</span>@Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        <span id="docReqStar" style="color:red;">*</span>@Html.LabelFor(model => model.WordDocument)
    </div>
    <div class="editor-field">
        @(Html.Kendo().Upload()
        .Name("Document")
        .Multiple(false)
        .Messages(m => m.Select("Browse..."))
        .HtmlAttributes(new { accept = ".doc, .docx" })
        .Async(a => a.Save("SaveDocument", "PdfExport").AutoUpload(true))
        .Events(e => e.Upload("onUpload"))
        )
    </div>
</div>