﻿@model System.Data.DataTable
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Tools";
    ViewBag.SubTitle = "Undelete Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Tools, "Tab_UndeleteOrders")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid<dynamic>()
                .Name("UndeleteGrid")
                .Events(e => e
                    .DataBound("customKendoGridButtons")
                )
                .Mobile(MobileMode.Auto)
                .Columns(columns =>
                {
                    columns.Command(cmd => cmd.Custom("Undelete").Click("undelete")).Width(60);
                    columns.Bound("OrderNum").Title("Order #").Width(100);
                    columns.Bound("Status").Title("Status").Width(100);
                    columns.Bound("DeleteDate").Title("Deleted").Width(170).Format("{0:M/d/yyyy}");
                    columns.Bound("DeletedByUser").Title("Deleted By").Width(110);
                    columns.Bound("Rejected").Width(100);
                    columns.Bound("DispatchConfirmNum").Title("Shipper PO #").Width(130);
                    columns.Bound("JobNumber").Title("Job #").Width(100);
                    columns.Bound("ContractNumber").Title("Contract #").Width(120);
                    columns.Bound("Customer").Title("Shipper").Width(175);
                    columns.Bound("Carrier").Width(180);
                    columns.Bound("OriginDriver").Title("Driver").Width(180);
                    columns.Bound("Origin").Width(350);
                    columns.Bound("OriginGrossUnits").Title("GOV").Width(80);
                    columns.Bound("OriginNetUnits").Title("NSV").Width(80);
                    columns.Bound("Destination").Width(350);
                })
                .Pageable(pager => pager.PageSizes(Settings.MvcGridPageSizes)
                                        .Refresh(true))
                .Sortable()
                .Resizable(resize => resize.Columns(true))
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Groupable()
                .HtmlAttributes(new { style = "height: 800px;", @class = "MVCGridRepaint" })
                .Scrollable(s => s.Height("auto"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id("ID");
                        model.Field<string>("OrderNum");
                        model.Field<string>("Status");
                        model.Field<DateTime>("DeleteDate");
                        model.Field<string>("DeletedByUser");
                        model.Field<bool>("Rejected");
                        model.Field<string>("DispatchConfirmNum");
                        model.Field<string>("JobNumber");
                        model.Field<string>("ContractNumber");
                        model.Field<string>("Customer");
                        model.Field<string>("Carrier");
                        model.Field<string>("OriginDriver");
                        model.Field<string>("Origin");
                        model.Field<int>("OriginGrossUnits");
                        model.Field<int>("OriginNetUnits");
                        model.Field<string>("Destination");

                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Read(read => read.Action("Read", "OrderUndelete"))
                )
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    function undelete(e) {
        e.preventDefault();
        debugger;
        var id = this.dataItem($(e.currentTarget).closest("tr")).id;
        var url = "/orderundelete/undelete/" + id;
        $.ajax({
            type: "POST",
            url: url,
        })
        .done(function () {
            // refresh the grid to remove the just completed order
            refreshGrid();
            alert("Order successfully undeleted!");
        })
        .fail(function () { alert("Failure undeleting order!") })
    }
    function refreshGrid() {
        // refresh the grid to hide the just undeleted order
        if ($(".k-i-refresh").length > 0) {
            $(".k-i-refresh").trigger('click');
        }
    }
</script>
