﻿@{
    ViewBag.Title = "Welcome";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>

<div id="wrapper">
    <img id="logo" src="~/images/logo_spinner.png" />
    <h1>Welcome!</h1>
    @if (User.IsInRole("Driver"))
    {
        <h3>
            Driver accounts are configured for mobile app access only.
        </h3>
    }
    else if (User.IsInRole("Gauger"))
    {
        <h3>
            Gauger accounts are configured for mobile app access only.
        </h3>
    }
    <h3>
        If you need assistance, please contact the Help Desk at <b>1 (812) 303-4357</b>.
    </h3> 
</div>
    

<script>
    $(document).ready(function () {
        // Remove text "LandingPage" from the url just to keep things looking clean on initial login        
            RegexReplaceUrl(/LandingPage/, "");
    });
</script>
