﻿@model IEnumerable<DispatchCrude.ViewModels.DCGroupViewModel>
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Security";
    ViewBag.SubTitle = "Group Management";    
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Security, "Tab_Groups")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(group => group.Active).IsEqualTo(true))
                    .Model(model =>
                    {
                        model.Id(m => m.Id);
                        model.Field(m => m.Id).DefaultValue(new Guid());
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("GroupName").Ascending(); } }) // Initial Sort
                    .Create(create => create.Action("Create", "DCGroups"))
                    .Read(read => read.Action("Read", "DCGroups"))
                    .Update(update => update.Action("Update", "DCGroups"))
                    .Destroy(update => update.Action("Delete", "DCGroups"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Groups.xlsx")
                    .Filterable(true)
                )
                .Events(ev =>
                {
                    ev.ExcelExport("kendoGridExportHelper.ExcelExport");  // This line/function call is only needed when you need to replace an ID in the export with the actual display value (state ID in this grid)
                    ev.Edit("onPopupEdit"); //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                })
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    if (User.IsInRole("createGroups")) command.Create().Text("");  //Read only if user does not have manage permission
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Popup_Group"); ed.DisplayDeleteConfirmation(false); })
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(group => group.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(group => group.GroupName)
                        .Title("Name")
                        .Width(250);
                    columns.Bound(group => group.UserCount)
                        .Title("Users")
                        .ClientTemplate("#if(data.UserCount != null){#<div title='Details'><a href='DCGroups/GroupDetails/#=data.Id#'><span class='glyphicon glyphicon-list-alt' /> #=data.UserCount#</a></div>#}#")
                        .Width(100);
                    columns.Bound(group => group.Description)
                        .Title("Description")
                        .ClientTemplate("#= ellipseDiv(data.Description) #")
                        .Width(600);
                    columns.Bound(group => group.CreateDate)
                        .Width(200);
                    columns.Bound(group => group.CreatedByUser)
                        .Width(175);
                    columns.Bound(group => group.LastChangeDate)
                        .Width(200);
                    columns.Bound(group => group.LastChangedByUser)
                        .Width(200);
                    columns.Bound(group => group.DeleteDate)
                        .Width(200);
                    columns.Bound(group => group.DeletedByUser)
                        .Width(200);
                })
            )
            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="@UserSupport.Allow.Create.OnPage("Groups")" />
            <input id="allowEdit" type="hidden" value="@UserSupport.Allow.Edit.OnPage("Groups")" alt="DCGroups/GroupDetails/" />
            <input id="allowDelete" type="hidden" value="@UserSupport.Allow.Delete.OnPage("Groups")" />
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>

@* These scripts need to be included on every Kendo MVC grid page. They include extra "default" grid functions *@
<script src="~/scripts/kendoExcelExportHelper.js?ver=2.1" type="text/javascript"></script>
<script src="~/scripts/kendoGridErrors.js" type="text/javascript"></script>