﻿@model DispatchCrude.Models.TrailerMaintenance

@*These hidden fields are required for updating to work properly*@
@Html.HiddenFor(model => model.ID)

@* NOTE: This script section must be at the top of the page for the pop-up to function properly. It cannot be moved to the bottom of the page. *@
<script>
    $(function () {
        /* Use DC style buttons instead of default Kendo buttons - NOTE: you can't use the inline comment syntax here
        (TELERIK seems to "minify" the text so everything following becomes a comment) */
        customKendoPopupButtons();
    });

    /* this function must be defined before it is referenced so this script block needs to be at the top of the file */
    function onUpload(e) {
        /* since the upload is not "bound" to the model, we need to manually inform kendo that the data is changed (dirty)
        so hitting "Save" will submit to the server */
        var grid = $("#grid").data("kendoGrid");
        var id = $("#ID").val();
        grid.dataSource.get(id).dirty = true;
    };    
</script>
<style>
    div.popup-editor-container {
        width: 500px;
    }
</style>
<div class="popup-editor-container">
    <div class="popup-editor-column">
        @Html.ValidationSummary(true)
        <ul class="gridErrors NullValidator"></ul>
        
        @*<div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.Trailer.CarrierID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Trailer.CarrierID, new { activeOnly = false })
        </div>*@

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.TrailerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TrailerID, new { activeOnly = false/*, cascade = "CarrierID"*/ })
        </div>

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.MaintenanceDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaintenanceDate)
        </div>

        <div class="editor-label">
            <span style="color:red;">*</span>@Html.LabelFor(model => model.TruckTrailerMaintenanceTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TruckTrailerMaintenanceTypeID, new { activeOnly = false, Table = "TrailerMaintenanceType"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Notes, new { style = "width:235px;height:40px" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Document)
        </div>
        <div class="editor-field">
            @(Html.Kendo().Upload()
                .Name("Document")
                .Multiple(false)
                .Messages(m => m.Select("Browse..."))
                .HtmlAttributes(new { accept = ".pdf, .jpg, .png, .bmp" })
                .Async(a => a.Save("SaveDocument", "TrailerMaintenance").AutoUpload(true))
                .Events(e => e.Upload("onUpload"))
            )
        </div>
    </div>
</div>