﻿@model IEnumerable<DispatchCrude.Models.DriverScheduleStatus>
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    ViewBag.Title = "Resources";
    ViewBag.SubTitle = "Scheduling Statuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Resources, "Tab_Drivers")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">
            <div class="well speedButtonContainer">
                @NavigationHelper.PrintButtonArray(NavigationHelper.ButtonSet_TabDrivers, "Button_SchedulingStatuses")
            </div>
            @(Html.Kendo().Grid(Model)
                .Name("grid")
                .DataSource(ds => ds
                    .Ajax()
                    .Filter(filter => filter.Add(m => m.Active).IsEqualTo(true))
                    .Model(model =>
                    {
                        model.Id(f => f.ID);
                        model.Field(f => f.OnDuty).DefaultValue(false);
                        model.Field(f => f.Utilized).DefaultValue(true);
                    })
                    .PageSize(Settings.DefaultPageSize)
                    .Sort(sort => { if (Request.QueryString.Keys.Count == 0) { sort.Add("Name").Ascending(); } }) // Initial Sort
                    .Read(read => read.Action("Read", "DriverSchedulingStatus"))
                    .Create(create => create.Action("Update", "DriverSchedulingStatus"))
                    .Update(update => update.Action("Update", "DriverSchedulingStatus"))
                    .Destroy(update => update.Action("Delete", "DriverSchedulingStatus").Data("destroyData"))
                    .Events(events => { events.Error("onDSErrors"); events.RequestEnd("onDSRequestEnd"); })
                )
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName("Driver Scheduling Status List.xlsx")
                    .Filterable(true)
                )
                .HtmlAttributes(new { style = "height:800px;", @class = "MVCGridRepaint" })
                .ToolBar(command =>
                {
                    //TODO: if (User.IsInRole("createShippers"))
                    command.Create().Text("");
                    command.Excel();
                })
                .Editable(ed => { ed.Mode(GridEditMode.PopUp).TemplateName("Editor_DriverScheduleStatus"); ed.DisplayDeleteConfirmation(false); })
                .Events(e => e.Edit("onPopupEdit"))  //This is required for conditional changing of the popup (like "create" or "edit" in the window title)
                .Pageable(pager => pager
                    .PageSizes(Settings.MvcGridPageSizes)
                    .Refresh(true)
                )
                .Sortable()
                .Scrollable()
                .Filterable(filterable => filterable
                    .Extra(true)   //This extended "filterable" section of code makes the contains filter the default string filter for these grids
                    .Operators(operators => operators
                        .ForString(str => str
                            .Clear()
                            .Contains("Contains")
                            .DoesNotContain("Does not contain")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            .IsEqualTo("Is equal to")
                            .IsNotEqualTo("Is not equal to")
                        )
                    )
                )
                .Resizable(resizable => resizable.Columns(true))
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate("#= rowCommandsUndelete(data) #").Title("&nbsp;").Width(100);
                    columns.Bound(m => m.Active)
                        .Title("Active?")
                        .ClientTemplate("#= ActiveState(data.Active) #")
                        .Width(85);
                    columns.Bound(m => m.Name)
                        .ClientTemplate("<text>#= data.Name #<text>")
                        .Width(250);
                    columns.Bound(m => m.Abbrev)
                        .ClientTemplate("<text>#= data.Abbrev #<text>")
                        .Width(100);
                    columns.Bound(m => m.OnDuty)
                        .ClientTemplate("#= ActiveState(data.OnDuty) #")
                        .Width(100);
                    columns.Bound(m => m.Utilized)
                        .ClientTemplate("#= ActiveState(data.Utilized) #")
                        .Width(100);
                    columns.Bound(m => m.CreateDate)
                        .Width(200);
                    columns.Bound(m => m.CreatedByUser)
                        .Width(175);
                    columns.Bound(m => m.LastChangeDate)
                        .Width(200);
                    columns.Bound(m => m.LastChangedByUser)
                        .Width(200);
                    columns.Bound(m => m.DeleteDate)
                        .Width(200);
                    columns.Bound(m => m.DeletedByUser)
                        .Width(200);
                })
            )

            @*These inputs are required for create/edit/deactivate permissions functionality*@
            <input id="allowCreate" type="hidden" value="true" @*TODO: @UserSupport.Allow.Create.OnPage("DriverScheduleStatuses")"*@ />
            <input id="allowEdit" type="hidden" value="true" @*TODO: @UserSupport.Allow.Edit.OnPage("DriverScheduleStatuses")"*@ />
            <input id="allowDelete" type="hidden" value="true" @*TODO@UserSupport.Allow.Delete.OnPage("DriverScheduleStatuses")"*@ />

        </div>
    </div>
</div>

<script src="~/scripts/kendoGridUndelete.js"></script>
<script src="~/scripts/kendoGridErrors.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // customKendoGridButtons() fixes the look of the add new button and
        // excel export button that were not addressed directly in the grid above
        customKendoGridButtons();
    });
</script>
