﻿@model IEnumerable<DispatchCrude.Models.Order>
@using DispatchCrude.Core;

<ul class="availableloads list-inline" style="width:100%;height:115px;overflow:auto;overflow-x:scroll;white-space:nowrap;"
    ondrop="unassign(event)" ondragover="allowDrop(event)">
    @foreach (var item in Model)
    {
        int traveltime = (item.Route != null) ? Math.Max(item.Route.getECOT(), 150) : 150; // pad to at least 150 for card spacing

        <li id="order@(item.ID)" 
            @if (!User.IsInRole("editDispatchBoard")) { <text> class="list-group-item order locked available unaccepted" </text> }
            else { <text> class="list-group-item order available unaccepted" draggable="true" ondragstart="drag(event)"</text> }
            style="width:@(traveltime)px;height:100%"
            data-id=@item.ID
            data-duedate=@(item.DueDate.ToString("yyyyMMdd"))
            data-priority=@(item.Priority.PriorityNum)
            data-ecot=@(item.Route.getECOT())
            data-olat=@(item.Origin.LAT ?? "0")
            data-olon=@(item.Origin.LON ?? "0")
            data-dlat=@(item.Destination.LAT ?? "0")
            data-dlon=@(item.Destination.LON ?? "0")>
            <div class="traveltime text-muted text-center" style="position:absolute;left:0px;bottom:20px;"></div>
            <div class="returntrip text-muted text-center" style="position:absolute;right:0px;bottom:20px;"></div>
            <div class="details">
                <div>
                    <strong>@(item.OrderNum)</strong>
                    <span class="pull-right label label-info">@(item.Status.Name)</span>
                </div>

                <div style="overflow:hidden;text-overflow:ellipsis">
                    <span title="@item.Origin.Name">@item.Origin.Name</span>
                </div>
                <div style="overflow:hidden;text-overflow:ellipsis">
                    <i class="fa fa-arrow-right"></i>
                    <span title="@item.Destination.Name">@item.Destination.Name</span>
                </div>

                <div>
                    @item.DueDate.ToString("M/d") 
                    #@item.Priority.PriorityNum 
                    ECOT @DateHelper.TimeFromMinutes(item.Route.getECOT())
                </div>
            </div>
        </li>
    }
</ul>
