﻿@model DispatchCrude.Models.Order

@{
    ViewBag.Title = "Order Accept";
    ViewBag.Subtitle = "#" + @ViewBag.OrderNum;
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    
    <div class="well with-header inline-block">
        <div class="header bordered-blue">Acceptance Details - #@ViewBag.OrderNum</div>
        <div class="center">
            <h4>
                @ViewBag.Origin
                @if (ViewBag.OriginH2S)
                {
                    <span class="label label-danger">H2S</span>
                }
                <span class="glyphicon glyphicon-arrow-right"></span>
                @ViewBag.Destination
            </h4>
        </div>
        <div class="spacer20px"></div>
        <table>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.TruckID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("TruckID", null, "-- Select Truck --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TruckID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.TrailerID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("TrailerID", null, "-- Select Trailer --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TrailerID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.Trailer2ID)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.DropDownList("Trailer2ID", null, "-- Select Trailer --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Trailer2ID, "", new { @class = "text-danger" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td class="txtAlignRight">
                    @Html.LabelFor(model => model.DispatchNotes)&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    @Html.TextAreaFor(model => model.DispatchNotes, new { @readonly = true, style = "width:450px;height:80px" })
                    <div class="spacer10px"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="center">
                    <div class="spacer20px"></div>
                    <input type="submit" value="Accept" class="btn btn-blue shiny" />
                    <a href="~/Orders/Details/@Model.ID" class="btn btn-default shiny">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
}
