﻿@model DispatchCrude.ViewModels.FilterViewModel<DispatchCrude.Models.DriverPlusLoc>
@using DispatchCrude.Extensions;
@using DispatchCrude.Models;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "Planner";
    DateTime curday = (Model.EndDate.HasValue) ? Model.EndDate.Value : DateTime.Today;
    bool forToday = curday == DateTime.Today;
}
<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_Planner")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="staticContent">
            @using (Html.BeginForm("DispatchBoard", "Orders", FormMethod.Post, new { id = "filterForm" }))
            {
                <div class="row" id="filterrow">
                        <div class="col-md-3">
                            <span>
                                Date
                                @Html.EditorFor(m => Model.StartDate)
                                @Html.EditorFor(m => Model.EndDate)
                            </span>
                        </div>
                        <div class="col-md-6">
                            <table class="padded">
                                <tr>
                                    <td>Product Group</td>
                                    <td>
                                        @Html.DropDownList("ProductGroupID", null, "(ALL)", htmlAttributes: new { @class = "input-xs form-control" })
                                    </td>
                                    <td>Terminal</td>
                                    <td>
                                        @if (Converter.ToInt32(Profile.GetPropertyValue("TerminalID")) > 0) //user is locked to a terminal
                                        {
                                            @Html.DropDownList("TerminalID", null, htmlAttributes: new { @class = "input-xs form-control", disabled=true })                                            
                                        }
                                        else
                                        {
                                            @Html.DropDownList("TerminalID", null, "(ALL)", htmlAttributes: new { @class = "input-xs form-control" })
                                        }                                        
                                    </td>
                                    <td>Carrier</td>
                                    <td>
                                        @Html.DropDownList("CarrierID", null, "(ALL)", htmlAttributes: new { @class = "input-xs form-control" })
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button id="filterbtn" type="submit" class="btn btn-sm btn-blue shiny">Filter</button>
                                            <a href="#" class="btn btn-sm btn-blue shiny resizeclick" data-toggle="collapse" data-target="#filter-config" title="Additional filter options">
                                                <span class="fa fa-filter"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="row collapse resizeSection" id="filter-config">
                                <div class="col-md-8 col-md-offset-1">
                                    <table class="padded" style="width:90%">
                                        <tr>
                                            <td>Region</td>
                                            <td>@Html.DropDownList("RegionID", null, "(ALL)", htmlAttributes: new { @class = "input-xs form-control" })</td>
                                        </tr>
                                        <tr>
                                            <td>Driver Shift</td>
                                            <td>@Html.EditorFor(m => m.DriverShiftType)</td>
                                        </tr>
                                        <tr>
                                            <td>Driver</td>
                                            <td>@Html.DropDownList("DriverID", null, "(ALL)", htmlAttributes: new { @class = "input-xs form-control" })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    <div class="col-md-2">
                         @if (User.IsInRole("editDispatchBoard"))
                         {
                            <div class="btn-group">
                                <a href="#" class="btn btn-blue shiny" id="savebtn" onclick="autoFill()">
                                    <i class="fa fa-random"></i>Suggested Dispatch
                                </a>
                                <a href="#" class="btn btn-blue shiny resizeclick" data-toggle="collapse" data-target="#autofill-config" title="Configure settings">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                            <div class="row collapse resizeSection" id="autofill-config">
                                <table class="padded" style="width:130%"> <!-- spill into under submit button -->
                                    <tr>
                                        <td>Include already dispatched</td>
                                        <td>@Html.EditorFor(m => m.CustomFlag, "Switch")</td>
                                    </tr>
                                    <tr>
                                        <td>Allow Overscheduling</td>
                                        <td>@Html.EditorFor(m => m.CustomFlag2, "Switch")</td>
                                    </tr>
                                    <tr>
                                        <td>Optimization</td>
                                        <td>@Html.DropDownList("CustomFilter", null, htmlAttributes: new { @class = "input-xs form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td>Sort Preference</td>
                                        <td>@Html.DropDownList("CustomFilter2", null, htmlAttributes: new { @class = "input-xs form-control" })</td>
                                    </tr>
                                </table>
                            </div>
                         }
                    </div>
                    <div class="col-md-1">
                         @if (User.IsInRole("editDispatchBoard"))
                         {
                            <a href="#" class="btn btn-blue shiny" id="savebtn" onclick="go()" title="Save changes">
                                <i class="fa fa-save"></i>Submit
                            </a>
                         }
                    </div>
                </div>
            }


            @using (Html.BeginForm("ProcessBoard", "Orders", FormMethod.Post, new { id = "dispatchForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RegionID)
                @Html.HiddenFor(m => m.CustomFlag)
                @Html.HiddenFor(m => m.CustomFlag2)
                @Html.HiddenFor(m => m.CustomFilter)
                @Html.HiddenFor(m => m.CustomFilter2)
                @Html.HiddenFor(m => m.TerminalID)
                @Html.HiddenFor(m => m.CarrierID)
                @Html.HiddenFor(m => m.DriverID)
                @Html.HiddenFor(m => m.StartDate)
                @Html.HiddenFor(m => m.EndDate)
                @Html.HiddenFor(m => m.ProductGroupID)
                @Html.HiddenFor(m => m.DriverShiftType)
            }
                <div class="row no-pad">
                    <div class="col-md-12">
                        <div class="availableOrders">
                            <div style="overflow:hidden;padding:0px 18px;margin:10px 0px;height:100px">
                                <button id="panleft" class="panner btn btn-xs btn-blue shiny" style="left:-5px;top:40px;position:absolute;z-index:200"><i class="fa fa-caret-left"></i></button>
                                @Html.Action("DispatchBoard_AvailableOrders", new { carrierid = Model.CarrierID, regionid = Model.RegionID, terminalid = Model.TerminalID, startdate = Model.StartDate, enddate = Model.EndDate })
                                <button id="panright" class="panner btn btn-xs btn-blue shiny" style="right:5px;top:40px;position:absolute;z-index:200"><i class="fa fa-caret-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="expand scrollable Repaint" style="overflow:auto">
                @foreach (var item in Model.results)
                {
                    Driver driver = item.driver;

                    decimal lat = item.eligibility.Lat ?? 0;
                    decimal lon = item.eligibility.Lon ?? 0;
                    bool fromTerminal = false;
                    if ((!forToday || lat == 0 || lon == 0) && driver.Terminal != null)
                    {
                        lat = driver.Terminal.Lat ?? 0;
                        lon = driver.Terminal.Lon ?? 0;
                        fromTerminal = true;
                    }

                    <div class="row no-pad" style="border: 1px #808080 solid">
                        <div class="col-md-12" style="@(item.eligibility.DriverScore > 0 ? "" : "background-color:#F1D0D0;")">
                            <div class="col-md-2">
                                @if (User.IsInRole("viewDriverMaintenance"))
                                {
                                    <a href="~/Drivers/Details/@driver.ID">
                                        @driver.FullName (@driver.IDNumber)
                                    </a>
                                }
                                else
                                {
                                    <text>@driver.FullName (@driver.IDNumber)<br></text>
                                }
                                <br>

                                @if (User.IsInRole("viewCarrierMaintenance"))
                                {
                                    <a href="~/Site/TableMaint/Carriers.aspx?id=@driver.CarrierID">
                                        @Html.DisplayFor(model => driver.Carrier.Name)
                                    </a>
                                }
                                else
                                {
                                    @Html.DisplayFor(model => driver.Carrier.Name)
                                }
                                <br>

                                <div id="driverstatus@(driver.ID)">
                                     @item.eligibility.CurrentWorkload Load@(item.eligibility.CurrentWorkload == 1 ? "" : "s")
                                    (@DateHelper.TimeFromMinutes(item.eligibility.CurrentECOT))<br>
                                    @if (!string.IsNullOrEmpty(item.eligibility.getMessage()))
                                    {
                                        <span class="label label-danger"><b>@item.eligibility.getMessage()</b></span><br>
                                    }
                                </div>

                                @if (fromTerminal == false && lat != 0 && lon != 0)
                                {
                                    <a href="/Drivers/Map?id=@driver.ID" target="_blank"><i class="fa fa-globe"></i></a>
                                }
                                HOS Hours Left:
                                <span title="Driving">@DateHelper.FormatDuration(item.eligibility.DrivingHoursLeft)</span> /
                                <span title="On Duty">@DateHelper.FormatDuration(item.eligibility.OnDutyHoursLeft)</span> /
                                <span title="Weekly On Duty">@DateHelper.FormatDuration(item.eligibility.WeeklyOnDutyHoursLeft)</span>
                            </div>
                            <div id="driverloads@(driver.ID)" class="col-md-10 driverrow @(item.eligibility.DriverScore > 0 ? "eligible" : "")"
                                 data-id=@driver.ID
                                 data-driverscore=@(item.eligibility.DriverScore)
                                 data-drivingleft="@(item.eligibility.DrivingHoursLeft*60)"
                                 data-ondutyleft="@(item.eligibility.OnDutyHoursLeft*60)"
                                 data-weeklyondutyleft="@(item.eligibility.WeeklyOnDutyHoursLeft*60)"
                                 data-dlat=@(lat)
                                 data-dlon=@(lon)
                                 data-homelat=@(item.driver.Terminal != null ? item.driver.Terminal.Lat : 0)
                                 data-homelon=@(item.driver.Terminal != null ? item.driver.Terminal.Lon : 0)>
                                @Html.Action("DispatchBoard_DriverOrders", new { driverid = driver.ID, regionid = Model.RegionID, lat = lat, lon = lon, driverscore = item.eligibility.DriverScore, fromTerminal = fromTerminal, startdate = Model.StartDate, enddate = Model.EndDate })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPI"])"></script>
<script src="~/scripts/maps.js?ver=1.1"></script>
<script>
    var originalDriver = null;
    var originalPrevOrder = null;
    var originalNextOrder = null;

    var forToday = @(forToday ? "true" : "false");

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        // get ID of dragged order
        ev.dataTransfer.setData("id", ev.target.id);

        // set prev and next orders of the original location
        originalDriver = $("#" + ev.target.id).closest(".driverrow").attr("id");
        originalPrevOrder = $("#" + ev.target.id).prev().attr("id");
        originalNextOrder = $("#" + ev.target.id).next().attr("id");
    }


    function dispatch(ev) {
        //ev.preventDefault();
        ev.stopPropagation();
        var orderid = ev.dataTransfer.getData("id");
        var nearestorder = ev.target.closest(".order");
        var nearbyorders = ev.target.closest(".driverloads")
        dispatchOrder(orderid, nearestorder, nearbyorders);
    }

    function dispatchOrder(orderid, nearestorder, nearbyorders) {
        if (nearestorder != null) {
            if ($(nearestorder).hasClass("delivered")) {
                Notify("Cannot move an order that has already been delivered!", "top-right", "8000", "danger", "fa-warning", true);
                return;
            }

            if ($(nearestorder).hasClass("locked")) {
                Notify("Cannot bump an order that is currently picked up!", "top-right", "8000", "danger", "fa-warning", true);
                return;
            }

            if (orderid == nearestorder.id) {
                return; // bumping self, no need to continue
            }

            // insert into current location
            if (nearestorder.id == originalNextOrder) {
                if ($(nearestorder).hasClass("locked") == false && $("#" + orderid).data("duedate") < $(nearestorder).data("duedate")) {
                    Notify("Orders must be sequenced by due date!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }

                if ($(nearestorder).hasClass("locked") == false && $("#" + orderid).data("duedate") == $(nearestorder).data("duedate") && $("#" + orderid).data("priority") < $(nearestorder).data("priority")) {
                    Notify("Orders with the same due date must be sequenced by priority!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }

                $(nearestorder).after(document.getElementById(orderid)); // treat as swap
            }
            else {
                if ($(nearestorder).prev() != null && $(nearestorder).prev().hasClass("locked") == false && $(nearestorder).prev().data("duedate") > $("#" + orderid).data("duedate")
                    || $("#" + orderid).data("duedate") > $(nearestorder).data("duedate")) {
                    Notify("Orders must be sequenced by due date!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }

                if ($(nearestorder).prev() != null && $(nearestorder).prev().hasClass("locked") == false && $(nearestorder).prev().data("duedate") == $("#" + orderid).data("duedate") && $(nearestorder).prev().data("priority") > $("#" + orderid).data("priority")
                    || $("#" + orderid).data("duedate") == $(nearestorder).data("duedate") && $("#" + orderid).data("priority") > $(nearestorder).data("priority")) {
                    Notify("Orders with the same due date must be sequenced by priority!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }

                $(nearestorder).before(document.getElementById(orderid)); // bump order
            }
        }
        else {
            if (nearbyorders.parentElement.id == originalDriver && originalNextOrder == null) {
                return; // end of the list same driver, no need to continue
            }

            var lastorder = nearbyorders.lastElementChild;
            if (lastorder != null) {
                // check last in list
                if ($(lastorder).hasClass("locked") == false && $(lastorder).data("duedate") > $("#" + orderid).data("duedate")) {
                    Notify("Orders must be sequenced by due date!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }

                if ($(lastorder).hasClass("locked") == false && $(lastorder).data("duedate") == $("#" + orderid).data("duedate") && $(lastorder).data("priority") > $("#" + orderid).data("priority")) {
                    Notify("Orders with the same due date must be sequenced by priority!", "top-right", "8000", "danger", "fa-warning", true);
                    return;
                }
            }

            // empty list or after last order
            nearbyorders.appendChild(document.getElementById(orderid));
        }

        // update travel time of current order
        var previousorder = $("#" + orderid).prev().attr("id");
        updateTravelTime(orderid, previousorder);

        // update travel time of bumped order
        if (nearestorder != null) {
            updateTravelTime(nearestorder.id, orderid);
        }

        // update travel time of original next order (prev spot) if it's not from the available orders
        if (originalNextOrder != null && $("#" + originalNextOrder).parent().hasClass("driverloads")) {
            if (nearestorder == null || originalNextOrder != nearestorder.id)  // check that it's not the order that was bumped
            {
                updateTravelTime(originalNextOrder, originalPrevOrder);
            }
        }

        // flag record for saving
        $("#" + orderid).addClass("needsSave"); // sully

        // Update new and old driver ECOT and status
        updateDriverStatus($("#" + orderid).closest(".driverrow"));
        if (originalDriver != null) 
            updateDriverStatus("#" + originalDriver);
    }

    function unassign(ev) {
        //ev.preventDefault();
        ev.stopPropagation();
        var data = ev.dataTransfer.getData("id");
        if (originalDriver == null) {
            return; // was already unassigned, no need to continue
        }

        var nearestorder = ev.target.closest(".order");
        if (nearestorder != null) {
            if (data == nearestorder.id) {
                return; // bumping self, no need to continue
            }

            // insert into current location
            if (nearestorder.id == originalNextOrder) {
                $(nearestorder).after(document.getElementById(data)); // treat as swap
            }
            else {
                $(nearestorder).before(document.getElementById(data)); // bump order
            }
            clearTravelTime(nearestorder.id);
        }
        else {
            // empty list or after last order
            ev.target.closest(".availableloads").appendChild(document.getElementById(data));
        }

        // clear travel time of current order
        clearTravelTime(data);

        // update travel time of original next order (prev spot) if it's not from the available orders
        if (originalNextOrder != null && $("#" + originalNextOrder).parent().hasClass("driverloads")) {
            if (nearestorder == null || originalNextOrder != nearestorder.id)  // check that it's not the order that was bumped
            {
                updateTravelTime(originalNextOrder, originalPrevOrder);
            }
        }

        // flag record for saving
        $("#" + data).addClass("needsSave"); // sully

        // Update old driver ECOT and status
        updateDriverStatus("#" + originalDriver)
    }


    function updateTravelTime(id, previd) {
        var startlat;
        var startlon;
        var travelicon = "fa-road"; 
        var traveltitle = "Deadhead miles";
        if (previd == null)
        {
            // first order so get driver current location (if today) or home terminal
            driver = $("#" + id).closest(".driverrow").attr('id'); // use current location for driver
            startlat = $("#" + driver).data("dlat");
            startlon = $("#" + driver).data("dlon")

            if (forToday == false || startlat == 0 || startlon == 0)
            {
                // not for today or current location not found, use home terminal
                startlat = $("#" + driver).data("homelat");
                startlon = $("#" + driver).data("homelon");
                travelicon = "fa-home";
                traveltitle = "From terminal";
            }
        }
        else
        {
            startlat = $("#" + previd).data("dlat");
            startlon = $("#" + previd).data("dlon")
        }


        // set the distance and label for the travel time between loads
        var dist = 60;
        var label = "xx mi";
        if (startlat != 0 && startlon != 0 && $("#" + id).data("olat") != 0 && $("#" + id).data("olon") != 0) {
            dist = Math.round(distance(startlat, startlon, $("#" + id).data("olat"), $("#" + id).data("olon"), "M"))
            label = dist + ((dist < 50) ? "" : " mi"); // crop "mi" off label if too short

            if (dist < 2) // effectively 'on site'
            {
                label = "";
                dist = 0;
            }
            else if (dist < 25) {
                dist = 25; // default min size
            }
        }
        // update the travel time div margin and text
        $("#" + id).css("margin-left", dist + "px");
        if (label != "")
            $("#" + id + " > .traveltime").html("<i class=\"fa " + travelicon + "\" title=\"" + traveltitle + "\"></i><br>&sim;" + label);
        else
            $("#" + id + " > .traveltime").html("");
        $("#" + id + " > .traveltime").css("left", "-" + (dist + 4) + "px");
        $("#" + id + " > .traveltime").css("width", (dist + 4) + "px");
    }


    function clearTravelTime(id) {
        label = "";
        dist = 0;

        // update the travel time div margin and text
        $("#" + id).css("margin-left", "5px");
        $("#" + id + " > .traveltime").html("");
        $("#" + id + " > .traveltime").css("left", "0px");
        $("#" + id + " > .traveltime").css("width", "0px");

        $("#" + id + " > .returntrip").html("");
        $("#" + id + " > .returntrip").css("right", "0px");
        $("#" + id + " > .returntrip").css("width", "0px");
    }


    function autoFill() {
        var includeDispatched = $("#CustomFlag").is(":checked");
        var understaffed = false;

        if (includeDispatched)
        {
            // unassign all dispatched, "clear the board"
            $(".order.unaccepted").detach().appendTo($(".availableloads"));
        }
        // get all dispatchable orders - Generated and Assigned plus any Dispatched (if setting is true)
        var orderfilter = (includeDispatched) ? ".order.unaccepted" : ".order.available";

        // loop through each order (sorted)
        $(orderfilter).sort(ordersort).each(function()
        {
            var order = $(this);
            var orderid = $(this).attr('id');

            // find the best driver
            var driver = findBestDriver(order);

            if (driver == null)
            {
                // leave order on board and set understaffed flag
                understaffed = true;
            }
            else
            {
                // simulate the drag-and-drop and handle the dispatch
                order.detach().appendTo(($(driver)).children(".driverloads"));
                dispatchOrder(orderid, order.closest(".order"), order.closest(".driverloads"));
            }
        })

        updateAllDriverStatus()
        updateAllUnassigned()

        if (understaffed)
            Notify("You do not have enough resources to dispatch all orders!  Please schedule more drivers or update unassigned tickets.", "top-right", "8000", "danger", "fa-warning", true);
    }


    // how to sort orders when dispatching
    function ordersort(a, b)
    {
        var sortPriority = $("#CustomFilter2").val();

        if (sortPriority == "DueDate+Priority")
        {
            // get earliest due date, then priority
            if ($(a).data('duedate') != $(b).data('duedate'))
                return $(a).data('duedate') - $(b).data('duedate');
            else if ($(a).data('priority') != $(b).data('priority'))
                return $(a).data('priority') - $(b).data('priority');
        }

        // get longer orders first
        return $(b).data('ecot') - $(a).data('ecot')
    }


    function findBestDriver(order){
        bestdriver = null
        bestTime = 24*60; // full day
        var allowOverload = $("#CustomFlag2").is(":checked");

        // loop through all drivers
        $(".driverrow.eligible").each(function()
        {
            driversorders = $(this).find(".order");
            var list = "";
            var ordertime = 0;
            var lastorderhome = 0;
            deadhead = 60;

            if (driversorders.length > 0)
            {
                $(driversorders).each(function()
                {
                    list += $(this).data('id') + ", ";
                    ordertime += $(this).find(".traveltime").width() + $(this).data('ecot') // all traveltime width (TODO should be time not width bc of autosizing) + ecot
                });

                driverslastorder = driversorders[driversorders.length-1];
                deadhead = distance($(driverslastorder).data("dlat"), $(driverslastorder).data("dlon"), order.data("olat"), order.data("olon")) // from last order to potential order
                    + distance(order.data("dlat"), order.data("dlon"), $(this).data("homelat"), $(this).data("homelon")) // from potential order to home
                    - distance($(driverslastorder).data("dlat"), $(driverslastorder).data("dlon"), $(this).data("homelat"), $(this).data("homelon")); // from previous last order to home 
                lastorderhome = distance(order.data("dlat"), order.data("dlon"), $(this).data("homelat"), $(this).data("homelon")) // from potential order to home
            }
            else
            {
                deadhead = distance($(this).data("dlat"), $(this).data("dlon"), order.data("olat"), order.data("olon")) // from current/home to potential order
                    + distance(order.data("dlat"), order.data("dlon"), $(this).data("homelat"), $(this).data("homelon")) // from potential order to home
            }
            ecot = order.data('ecot')


            var optimizedTime = ($("#CustomFilter").val() == "MinDeadhead") ? (deadhead + ecot) : (deadhead + ecot + ordertime);

            if (optimizedTime < bestTime
                 && (allowOverload == true // OK to overschedule
                     || (ordertime + deadhead + ecot + lastorderhome < $(this).data('ondutyleft') && ordertime + deadhead + ecot + lastorderhome < $(this).data('weeklyondutyleft')))) // fits in drivers schedule
            {
                //new best
                bestdriver = this;
                bestTime = optimizedTime;
            }
        })

        //return $(".driverrow")[Math.floor(Math.random()*$(".driverrow").length)]; //random driver
        return bestdriver;
    }


    function updateAllDriverStatus()
    {
        // loop through all drivers
        $(".driverrow").each(function(){
            updateDriverStatus(this)
        })

    }

    function updateDriverStatus(driver){
        driverid = $(driver).data('id')
        driversorders = $(driver).find(".order:not(.delivered)");
        var ordertime = 0;
        var message = null;

        if (driversorders.length > 0)
        {
            $(driversorders).each(function()
            {
                // if last element, note return trip
                if ($(this).is(":last-child"))
                {
                    // set the distance and label for the travel time home
                    var dist = 60;
                    var label = "xx mi";
                    if ($(this).data("dlat") != 0 && $(this).data("dlon") != 0 && $(driver).data("homelat") != 0 && $(driver).data("homelon") != 0) {
                        dist = Math.round(distance($(this).data("dlat"), $(this).data("dlon"), $(driver).data("homelat"), $(driver).data("homelon"), "M"))
                        label = dist + ((dist < 50) ? "" : " mi"); // crop "mi" off label if too short

                        if (dist < 2) // effectively 'home'
                        {
                            label = "";
                            dist = 0;
                        }
                        else if (dist < 25) {
                            dist = 25; // default min size
                        }
                    }

                    if (label != "")
                        $(" > .returntrip", this).html("<i class=\"fa fa-home\" title=\"Return to terminal\"></i><br>&sim;" + label);
                    else
                        $(" > .returntrip", this).html("");
                    $(" > .returntrip", this).css("right", "-" + (dist + 10) + "px");
                    $(" > .returntrip", this).css("width", (dist + 10) + "px");
                }
                else
                {
                    $(" > .returntrip", this).html("");
                    $(" > .returntrip", this).css("right", "0px");
                    $(" > .returntrip", this).css("width", "0px");
                }
                ordertime += $(this).find(".traveltime").width() + $(this).data('ecot') + $(this).find(".returntrip").width() // all traveltime width (TODO should be time not width bc of autosizing) + ecot
            });
        }
        else
        {
            // update to no loads
        }
        ecot = Math.floor(ordertime / 60) + ":" + ((ordertime % 60 < 10) ? "0" : "") + ordertime % 60;
        ondutyleft = $("#driverloads" + driverid).data('ondutyleft');
        weeklyondutyleft = $("#driverloads" + driverid).data('weeklyondutyleft');

        if (ordertime > ondutyleft || ordertime > weeklyondutyleft)
        {
            message = "Workload exceeds hours left"; status = "danger";
        }
        else if (ordertime > ondutyleft*.8 || ordertime > weeklyondutyleft *.8)
        {
            message = "Workload nearing hours left"; status="warning";
        }

        $("#driverstatus" + driverid).html(
            driversorders.length + " Load" + (driversorders.length == 1 ? "" : "s") + " (" + ecot + ")<br>" +
            ((message == null) ? "" : "<span class=\"label label-" + status + "\"><b>" + message + "</b></span><br>")
        )
    }


    function updateAllUnassigned()
    {
        // loop through all unassigned orders
        $(".availableloads > .order").each(function(){
            clearTravelTime($(this).attr('id'))
        })

    }

    function go() {
        var text = "";
        var i = 0;

        $(".order").each(function () {
            if ($(this).hasClass("needsSave")
                || ($(this).siblings().hasClass("needsSave") && $(this).hasClass("locked") == false)) {
                var nearestdriver = $(this).closest(".driverrow");
                text += $(this).data('id') + " " + ($(this).index() + 1) + " " + nearestdriver.data('id') + "\n";
                $("#dispatchForm").append('<input type="hidden" name="[' + i + '].OrderID" value="' + $(this).data('id') + '" />');
                $("#dispatchForm").append('<input type="hidden" name="[' + i + '].DriverID" value="' + nearestdriver.data('id') + '" />');
                $("#dispatchForm").append('<input type="hidden" name="[' + i + '].SequenceNum" value="' + ($(this).index() + 1) + '" />');
                i++;
            }
        })

        if (i == 0)
            return; // no orders to process so exit

        //alert("saving" + text)
        document.forms["dispatchForm"].submit();
    }

    $(document).ready(function () {
        // Dispatch saved
        @if (TempData["success"] != null)
        {
            <text>Notify("@(TempData["success"])", "top-right", "10000", "success", "fa-check", true);</text>
        }
        @if (TempData["warning"] != null)
        {
            <text>Notify("@(Html.Raw(TempData["warning"]))", "top-right", "0", "warning", "fa-warning", true);</text>
        }

        // Update labels for all drivers
        updateAllDriverStatus();
    })

</script>

<script>

    $(document).ready(function () {
        $(".resizeSection").on('hidden.bs.collapse', sizeContent);
        $(".resizeSection").on('shown.bs.collapse', sizeContent);

        $("#DriverShiftType").select2();

        $("#panleft").click(function () {
            scrollz(-50); // for quick click
        })
        $("#panleft").mousedown(function () { // for holding down
            timeout = setInterval(function () {
                scrollz(-50);
            }, 250);

            return false;
        });
        $("#panright").click(function () {
            scrollz(50); // for quick click
        })
        $("#panright").mousedown(function () { // for holding down
            timeout = setInterval(function () {
                scrollz(50);
            }, 250);

            return false;
        });

        $(".panner").mouseup(function () {
            clearInterval(timeout);
            return false;
        });

    });
    var timeout = 0;
    function scrollz(adjust) {
        $(".availableloads").scrollLeft($(".availableloads").scrollLeft() + adjust);
    }

</script>