﻿@model IEnumerable<DispatchCrude.Models.DriverPlusLoc>
@using DispatchCrude.Extensions;
@using DispatchCrude.Core;
@using DispatchCrude.Models;
@{
    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "Driver Map";
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_DriverMap")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="mapList expand Repaint">
                @Html.Action("DispatchMap_Orders")
            </div>

            <div id="gridArea" class="expand Repaint">
                <div id="map"></div>
                <div id="legend" class="mapLegend">
                    <div class="widget">
                        <div class="widget-header bg-blue">
                            <span class="widget-caption">DRIVERS (@Model.Count())</span>
                            <div class="widget-buttons">
                                <a href="#" data-toggle="dispose">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <h4>
                                <strong>
                                    <span class="text-success"><span class="label label-success">&nbsp;</span> Available</span><br>
                                    <span class="text-danger"><span class="label label-red">&nbsp;</span> Not available</span><br>
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPI"])"></script>
<script src="~/scripts/maps.js?ver=1.1"></script>
<script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var originMarker = null;
    var destMarker = null;
    var driverName;
    var drivers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: new google.maps.LatLng(@ViewBag.lat, @ViewBag.lon),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true
        });
        map.setOptions({styles: styles });
        directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true });

        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.getElementById('legend'));

        @foreach (var dpl in Model)
        {
            DriverLocation item = dpl.location;

            string status = dpl.eligibility.getMessage().ToUpper();
            if (string.IsNullOrEmpty(status))
            {
                status = ((DriverLocation.Status)item.DriverStatus).ToString().Replace("_", " ");
            }
            string btnstatus = null;
            if (dpl.eligibility.DriverScore > 0
                && (   item.DriverStatus == (int)DriverLocation.Status.NO_ORDER
                     || item.DriverStatus == (int)DriverLocation.Status.UNACCEPTED
                     || item.DriverStatus == (int)DriverLocation.Status.HEADED_TO_ORIGIN
                     || item.DriverStatus == (int)DriverLocation.Status.ORDER_COMPLETE))
            {
                btnstatus = "success";
            }
            else
            {
                btnstatus = "danger";
            }
            GoogleLocation location = LocationHelper.getLocation(item.Lat, item.Lon);

        <text>
        drivers[@(item.DriverID)] = new DCMarker(
        new google.maps.LatLng(@item.Lat, @item.Lon),
        map,
        {
            orderid: @(item.OrderID ?? 0),
            ordernum: @(item.Order == null ? "null" : item.Order.OrderNum.ToString()),
            status: "@(status)",
            statuscolor: "@(btnstatus)",
            driverid: @(item.DriverID),
            driver: "@(item.Driver.FullName.Replace("'", "\\'"))",
            driveremail: "@(item.Driver.Email)",
            drivermobile: "@(item.Driver.MobilePhone)",
            drivertruck: "#@(item.Driver.Truck == null ? "--" : item.Driver.Truck.IDNumber)",
            drivertrailer: "#@(item.Driver.Trailer == null ? "--" : item.Driver.Trailer.IDNumber)",
            cityst: "@(location.CityST)",
            sourcedate: "@(item.SourceDateWithTZ)",
            count: @(dpl.eligibility.CurrentWorkload),
            driverscore: @(dpl.eligibility.DriverScore),

            content: '<a href="#" id="popup@(item.DriverID)" class="btn btn-xs btn-@(btnstatus) dctt" ' +
                        'data-html="true" data-trigger="focus" data-container="body" data-titleclass="bordered-darkorange" ' +
                        'data-toggle="popover" data-placement="top" ' +
                        'data-title="@(item.Driver.FullName) (#@(item.Driver.IDNumber)) <a href=\'#\' class=\'close\' data-dismiss=\'popover\' onclick=\'$(&quot;#popup@(item.DriverID)&quot;).popover(&quot;hide&quot;)\'><i class=\'fa fa-times\'></i></a>" '  +
                        'data-content="' +
                            @(item.OrderID == null ? Html.Raw("") : Html.Raw("'<a class=btn href=/Orders/Details/" + item.OrderID + ">#" + item.Order.OrderNum + "</a>' +"))
                            '<span class=\'badge badge-@(btnstatus) badge-square\'>@(status)</span>' +
                            @(dpl.eligibility.DriverScore == 0 ? Html.Raw("") : Html.Raw("'<a class=\\'btn btn-primary pull-right\\' href=\\'javascript:dispatchOrder(activeOrder, activeOrderNum, " + item.DriverID + ", &quot;" + item.Driver.FullName.Replace("'", "") +"&quot;, activeDriverID, activeDriver)\\'>Dispatch</a>' +"))
                            '<div class=\'row\'>' +
                            '<div class=\'col-md-7\'>' +
                            '<i class=\'fa fa-envelope\'></i>: <a href=\'mailto:@(item.Driver.Email)\'>@(item.Driver.Email)</a>' +
                            '<br><i class=\'fa fa-phone\'></i>: <a href=\'tel:@(item.Driver.MobilePhone)\'>@(item.Driver.MobilePhone)</a>'+
                            '</div><div class=\'col-md-5\'>' +
                            'Truck: #@(item.Driver.Truck == null ? "--" : item.Driver.Truck.IDNumber)'+
                            '<BR>Trailer: #@(item.Driver.Trailer == null ? "--" : item.Driver.Trailer.IDNumber)'+
                            '</div>' +
                            '</div><div class=\'row\'>'+
                            '<div class=\'col-md-12\'>' +
                            '<br>Work load: @dpl.eligibility.CurrentWorkload orders'+
                            '@(location.City == null ? "" : ("<br>Near "+location.CityST))'+
                            '<BR><small class=\'text-muted\'>Last updated: @item.SourceDateWithTZ</small>' +
                                            '</div>'+
                                            '</div>'+
                    '" tabindex="0" data-original-title="" title="">@(item.Driver.IDNumber)</a>'
        }
    );

        </text>
}

        @{
/* Google Maps in Chrome has issues */
if (Request.UserAgent.Contains("Chrome"))
{
    /* hack for grayed-out maps in Chrome before resizing */
    <text>
        google.maps.event.addListener(map, "idle", function(){
            google.maps.event.trigger(map, 'resize');
        });
        </text>
}
else
{
    <text>
        // Auto adjust to fit bounds
        var latlngbounds = new google.maps.LatLngBounds();
        latlngbounds.extend(new google.maps.LatLng(35,-101));
        latlngbounds.extend(new google.maps.LatLng(27, -97));
        map.fitBounds(latlngbounds);
        </text>
}
        }

        map.addListener('bounds_changed', function() {
            $(".dctt").popover('hide');
        });

        //highlightOrder($(".mapList").find("li:first").data("id"));
    }

    function Route(lat1, lon1, lat2, lon2) {
        directionsDisplay.setMap(map);

        var start = new google.maps.LatLng(lat1,lon1);
        var end = new google.maps.LatLng(lat2, lon2);
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING,
        };
        directionsService.route(request, function(result, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(result);
            } else { alert("couldn't get directions:"+status); }
        });
    }
    google.maps.event.addDomListener(window, 'load', initMap);

    function dispatchOrder(orderid, ordernum, driverid, driver, olddriverid, olddriver)
    {
        if (orderid == null)
        {
            Notify("Select an order first!", "top-right", "8000", "danger", "fa-warning", true);
            return;
        }
        if (driverid == olddriverid)
        {
            Notify("Cannot dispatch to the same driver!", "top-right", "8000", "danger", "fa-warning", true);
            return;
        }

        document.forms['dispatchForm'].OrderID.value = orderid;
        document.forms['dispatchForm'].DriverID.value = driverid;
        $("#dispatchOrderNum").html(ordernum);
        $("#dispatchDriverName").html(driver);
        if (olddriverid == 0)
        {
            $(".modal-title").html("Dispatch Order");
            $("#oldDriver").hide();
        }
        else
        {
            $(".modal-title").html("Reassign Order");
            $("#dispatchOldDriverName").html(olddriver);
            $("#oldDriver").show();
        }

        $("#dispatchModal").modal("toggle");
    }


    function go(dispatchform) {
        $("#dispatchModal").modal("toggle");
        $.ajax({
            url: '/Orders/DispatchFromMap',
            type: "POST",
            data: $("#dispatchForm").serialize()
        })
        .done(function(result) {
            // Refresh affected drivers
            var newDriverID = document.forms['dispatchForm'].DriverID.value;
            var lat = $("#dispatch"+activeOrder).data("olat");
            var lon = $("#dispatch"+activeOrder).data("olon");
            drivers[newDriverID].args["count"]++;
            refreshDriverPopup(newDriverID, lat, lon);
            if (activeDriverID != "0")
            {
                drivers[activeDriverID].args["count"]--;
                refreshDriverPopup(activeDriverID, lat, lon);
            }

            // reload the available orders, an alert message will display from the dispatch orders page
            $(".mapList").html(result);
        })
    };

    function refreshDriverPopup(id, lat, lon)
    {
        // this text sets the popup HTML content of the google map overlay
        $("#popup" + id).attr("data-content",
                (drivers[id].args["orderid"] == "0" ? "" : ("<a class=btn href=/Orders/Details/" + drivers[id].args["orderid"] + ">" + drivers[id].args["ordernum"] + "</a>")) +
                "<span class='badge badge-" + drivers[id].args["statuscolor"] + " badge-square'>" + drivers[id].args["status"] + "</span>" +
                (drivers[id].args["driverscore"] == "0" ? "" : "<a class='btn btn-primary pull-right' href='javascript:dispatchOrder(activeOrder, activeOrderNum, " + drivers[id].args["driverid"] + ", &quot;" + drivers[id].args["driver"] + "&quot;, activeDriverID, activeDriver)'>Dispatch</a>") +
                "<div class='row'>" +
                "<div class='col-md-7'>" +
                "<i class='fa fa-envelope'></i>: <a href='mailto:" + drivers[id].args["driveremail"] + "'>" + drivers[id].args["driveremail"] + "</a>" +
                "<br><i class='fa fa-phone'></i>: <a href='tel:" + drivers[id].args["drivermobile"] + "'>" + drivers[id].args["drivermobile"] + "</a>" +
                "</div><div class='col-md-5'>" +
                "Truck: " + drivers[id].args["drivertruck"] +
                "<BR>Trailer: " + drivers[id].args["drivertrailer"] +
                "</div>" +
                "</div><div class='row'>" +
                "<div class='col-md-12'>" +
                "<br>Work load: " + drivers[id].args["count"] + " order(s)" +
                "<BR>&sim;" + Math.round(distance(drivers[id].latlng.lat(), drivers[id].latlng.lng(), lat, lon, "M")) + " mi away" +
                (drivers[id].args["cityst"] == "" ? "" : (", near " + drivers[id].args["cityst"])) +
                "<BR><small class='text-muted'>Last updated: " + drivers[id].args["sourcedate"] + "</small>" +
                "</div>"+
                "</div>");
    }

</script>

<!-- Modal -->
<div id="dispatchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dispatch Order</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("DispatchFromMap", "Orders", FormMethod.Post, new { id = "dispatchForm" }))
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Order", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Hidden("OrderID")
                                #<span id="dispatchOrderNum"></span>
                            </div>
                        </div>

                        <div class="form-group" id="oldDriver">
                            @Html.Label("Current Driver", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <span id="dispatchOldDriverName"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("New Driver", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Hidden("DriverID")
                                <span id="dispatchDriverName"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Comments", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-xs-8">
                                @Html.TextArea("DispatchNotes", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-7">
                                <button type="button" class="btn btn-primary" onclick=go(this.form) data-dismiss="modal">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
