﻿@model DispatchCrude.Models.OrderTransferViewModel
@using DispatchCrude.App_Code;
@{ 
    ViewBag.Title = "Edit Transfer";
}

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
        </div>
    }
    <div class="well with-header inline-block">
        <div class="header bordered-blue">Order #@ViewBag.OrderNum</div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)

        <div class="container">
            <div class="col-md-8">
                <div class="form-horizontal">

                    @Html.HiddenFor(model => model.OrderID)

                    <div class="form-group">
                        @Html.Label("Driver", htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @ViewBag.OriginDriver 
                            <i class="fa fa-arrow-right"></i>
                            @ViewBag.DestDriver
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Truck", htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @ViewBag.OriginTruck
                            @if (ViewBag.OriginTruck != ViewBag.DestTruck)
                            {
                                <i class="fa fa-arrow-right"></i>
                                @ViewBag.DestTruck
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PercentComplete, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-4">
                            <div class="knob-container">
                                <input class="knob" value="@Model.PercentComplete" name=PercentComplete data-width="100" data-height="100"
                                       data-displayPreviuos="true" data-angleoffset=-125 data-anglearc=250 data-rotation="clockwise" data-thickness=".25">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-xs-offset-5">
                        <input type="submit" class="btn btn-blue shiny" value="Edit Transfer">
                        &nbsp;&nbsp;<a href="~/Orders/Details/@Model.OrderID" class="btn btn-blue shiny">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts{ 
    <!--jQUery Knob-->
    <script src="~/scripts/beyondadmin/knob/jquery.knob.js"></script>
    <script>
        //---Jquery Knob--
        $(".knob").knob();

    </script>
}