﻿@model DispatchCrude.Models.Order

@using AlonsIT;
@using System.Data.SqlClient;
@using DispatchCrude.Core;

@{
    ViewBag.Title = "Order Edit";
    ViewBag.Subtitle = "Order History";    
}

<div>
    <div>
        <div class="pull-left">
            <h2>Change history for order #@Model.OrderNum</h2>
        </div>        
        <div class="pull-right">
            @using (Html.BeginForm("GetChanges", "OrderChanges", FormMethod.Post))
            {
                <input type="hidden" name="OrderNum" value="@Model.OrderNum" />
                <input type="submit" class="btn btn-blue shiny" value="Export to Excel" />
            }
        </div>
    </div>
    <br /><br /> @*These breaks push the timeline div down far enough to not overlap the export button*@

    @{
        System.Data.DataTable data = null;
        using (SSDB db = new SSDB())
        {
            //data = db.GetPopulatedDataTable(
            //    "SELECT GetUTCDate() as dbauditdate, * from tblOrder WHERE ID = " + Model.ID + " " +
            //    "UNION " +
            //    "SELECT * FROM tblOrderDbAudit WHERE ID = " + Model.ID + " " +
            //    "ORDER BY 1 DESC");


            data = db.GetPopulatedDataTable(
                "SELECT X.dbauditdate" +
                    ", X.ID" +
                    ", [Order Number] = X.OrderNum" +
                    ", [Order Status] = OS.OrderStatus" +
                    ", [Priority] = PRI.PriorityNum" +
                    ", [Due Date] = X.DueDate" +
                    ", [Route] = (SELECT O.LeaseName + ' > ' + D.Name FROM tblRoute R LEFT JOIN tblOrigin O ON O.ID = R.OriginID LEFT JOIN tblDestination D ON D.ID = R.DestinationID WHERE R.ID = ROU.ID)" +
                    ", [Origin] = OG.LeaseName" +
                    ", [Origin Arrive Time] = X.OriginArriveTimeUTC" +
                    ", [Origin Depart Time] = X.OriginDepartTimeUTC" +
                    ", [Origin Minutes] = X.OriginMinutes" +
                    ", [Origin Wait Notes] = X.OriginWaitNotes" +
                    ", [Origin BOL #] = X.OriginBOLNum" +
                    ", [Origin Gross Units] = X.OriginGrossUnits" +
                    ", [Origin Net Units] = X.OriginNetUnits" +
                    ", [Destination] = DE.Name" +
                    ", [Destination Arrive Time] = X.DestArriveTimeUTC" +
                    ", [Destination Depart Time] = X.DestDepartTimeUTC" +
                    ", [Destination Minutes] = X.DestMinutes" +
                    ", [Destination Wait Notes] = X.DestWaitNotes" +
                    ", [Destination BOL #] = X.DestBOLNum" +
                    ", [Destination Gross Units] = X.DestGrossUnits" +
                    ", [Destination Net Units] = X.DestNetUnits" +
                    ", [Shipper] = CUS.Name" +
                    ", [Carrier] = CAR.Name" +
                    ", [Driver] = (DRI.FirstName + ' ' + DRI.LastName)" +
                    ", [Truck] = TRU.IDNumber" +
                    ", [Trailer] = TRA.IDNumber" +
                    ", [Trailer 2] = TRA2.IDNumber" +
                    ", [Operator] = OP.Name" +
                    ", [Pumper] = (PU.FirstName + ' ' + PU.LastName)" +
                    ", [TicketType] = TTY.Name" +
                    ", [Rejected?] = X.Rejected" +
                    ", [Reject Notes] = X.RejectNotes" +
                    ", [Origin Chain-Up?] = X.OriginChainUp" +
                    ", [Destination Chain-Up?] = X.DestChainUp" +
                    ", [Origin Truck Mileage] = X.OriginTruckMileage" +
                    ", [Origin Tank #] = X.OriginTankNum" +
                    ", [Destination Truck Mileage] = X.DestTruckMileage" +
                    ", [Ticket #] = X.CarrierTicketNum" +
                    ", [Correction Notes] = X.AuditNotes" +
                    ", [Create Date] = X.CreateDateUTC" +
                    ", [Actual Miles] = X.ActualMiles" +
                    ", [Producer] = PR.Name" +
                    ", [Created by User] = X.CreatedByUser" +
                    ", [Last Change Date] = X.LastChangeDateUTC" +
                    ", [Last Changed by User] = X.LastChangedByUser" +
                    ", [Delete Date] = X.DeleteDateUTC" +
                    ", [Deleted by User] = X.DeletedByUser" +
                    ", [Destination BS&W] = X.DestProductBSW" +
                    ", [Destination Gravity] = X.DestProductGravity" +
                    ", [Destination Temp] = X.DestProductTemp" +
                    ", [Product] = PROD.ShortName" +
                    ", [Accept Fields Last Update Date] = X.AcceptLastChangeDateUTC" +
                    ", [Pickup Fields Last Update Date] = X.PickupLastChangeDateUTC" +
                    ", [Deliver Fields Last Update Date] = X.DeliverLastChangeDateUTC" +
                    ", [Origin UOM] = OUOM.Name" +
                    ", [Destination UOM] = DUOM.Name" +
                    ", [Pickup Print Status] = PPRINT.Name" +
                    ", [Deliver Print Status] = DPRINT.Name" +
                    ", [Pickup Ticket Print Date] = X.PickupPrintDateUTC" +
                    ", [Deliver Ticket Print Date] = X.DeliverPrintDateUTC" +                    
                    ", [Origin Gross Std.Units] = X.OriginGrossStdUnits" +
                    ", [Shipper PO #] = X.DispatchConfirmNum" +
                    ", [Dispatch Notes] = X.DispatchNotes" +
                    ", [Origin Wait Reason] = OWR.Description" +
                    ", [Destination Wait Reason] = DWR.Description" +
                    ", [Order Reject Reason] = ORR.Description" +
                    ", [Destination Open Meter Units] = X.DestOpenMeterUnits" +
                    ", [Destination Close Meter Units] = X.DestCloseMeterUnits" +
                    ", [Reassign Key] = X.ReassignKey" +
                    ", [Destination Railcar #] = X.DestRailCarNum" +
                    ", [Destination Trailer Water Capacity] = X.DestTrailerWaterCapacity" +
                    ", [Pickup Driver Notes] = X.PickupDriverNotes" +
                    ", [Deliver Driver Notes] = X.DeliverDriverNotes" +
                    ", [Destination Rack/Bay] = X.DestRackBay" +
                    ", [Order Date] = X.OrderDate" +
                    ", [Origin Weight Net Units] = X.OriginWeightNetUnits" +
                    ", [Origin Weight Gross Units] = X.OriginWeightGrossUnits" +
                    ", [Destination Weight Net Units] = X.DestWeightNetUnits" +
                    ", [Destination Weight Gross Units] = X.DestWeightGrossUnits" +
                    ", [Destination Weight Tare Units] = X.DestWeightTareUnits" +
                    ", [Job #] = X.JobNumber" +
                    ", [Contract #] = CN.ContractNumber" +
                    ", [Consignee] = CS.Name" +
                    ", [Origin Sulfer Content] = X.OriginSulfurContent " +
                    // ", [Sequence Number] = X.SequenceNum " + no need to get sequencenumber (back end/for mobile app only)
                "FROM(SELECT GETUTCDATE() as dbauditdate, * from tblOrder WHERE ID = " + Model.ID + " " +
                      "UNION " +
                      "SELECT* FROM tblOrderDbAudit WHERE ID = " + Model.ID +") X " +
                "LEFT JOIN tblOrderStatus OS ON OS.ID = X.StatusID " +
                "LEFT JOIN tblPriority PRI ON PRI.ID = X.PriorityID " +
                "LEFT JOIN tblRoute ROU ON ROU.ID = X.RouteID " +
                "LEFT JOIN tblOrigin OG ON OG.ID = X.OriginID " +
                "LEFT JOIN tblDestination DE ON DE.ID = X.DestinationID " +
                "LEFT JOIN tblCustomer CUS ON CUS.ID = X.CustomerID " +
                "LEFT JOIN tblCarrier CAR ON CAR.ID = X.CarrierID " +
                "LEFT JOIN tblDriver DRI ON DRI.ID = X.DriverID " +
                "LEFT JOIN tblTruck TRU ON TRU.ID = X.TruckID " +
                "LEFT JOIN tblTrailer TRA ON TRA.ID = X.TrailerID " +
                "LEFT JOIN tblTrailer TRA2 ON TRA2.ID = X.Trailer2ID " +
                "LEFT JOIN tblOperator OP ON OP.ID = X.OperatorID " +
                "LEFT JOIN tblPumper PU ON PU.ID = X.PumperID " +
                "LEFT JOIN tblTicketType TTY ON TTY.ID = X.TicketTypeID " +
                "LEFT JOIN tblProducer PR ON PR.ID = X.ProducerID " +
                "LEFT JOIN tblProduct PROD ON PROD.ID = X.ProductID " +
                "LEFT JOIN tblUom OUOM ON OUOM.ID = X.OriginUomID " +
                "LEFT JOIN tblUom DUOM ON DUOM.ID = X.DestUomID " +
                "LEFT JOIN tblPrintStatus PPRINT ON PPRINT.ID = X.PickupPrintStatusID " +
                "LEFT JOIN tblPrintStatus DPRINT ON DPRINT.ID = X.DeliverPrintStatusID " +
                "LEFT JOIN tblOriginTank OTANK ON OTANK.ID = X.OriginTankID " +
                "LEFT JOIN tblOriginWaitReason OWR ON OWR.ID = X.OriginWaitReasonID " +
                "LEFT JOIN tblDestinationWaitReason DWR ON DWR.ID = X.DestWaitReasonID " +
                "LEFT JOIN viewOrderRejectReason ORR ON ORR.ID = X.RejectReasonID " +
                "LEFT JOIN tblContract CN ON CN.ID = X.ContractID " +
                "LEFT JOIN tblConsignee CS ON CS.ID = X.ConsigneeID " +
                "ORDER BY 1 DESC"

        );


        }
        System.Data.DataRow newrow = null;
        int n = 0;
    }

    <ul class="timeline">
        <li class="timeline-node">
            <a class="btn btn-palegreen">NOW</a>
        </li>
        @foreach (System.Data.DataRow row in data.Rows)
        {
            if (n != 0) // skip first record, current
            {
                // Compare local to local
                DateTime newdate = DispatchCrude.Core.DateHelper.ToLocal((DateTime) newrow["dbauditdate"], DispatchCrudeHelper.GetProfileTimeZone(HttpContext.Current)).Date;
                DateTime olddate = DispatchCrude.Core.DateHelper.ToLocal((DateTime) row["dbauditdate"], DispatchCrudeHelper.GetProfileTimeZone(HttpContext.Current)).Date;

                if (olddate != newdate && olddate != DateTime.Today)
                { 
                    <li class="timeline-node">
                        <a class="btn btn-info">@olddate.ToString("MMM dd")</a>
                    </li>
                }
            
                <li class="@((n % 2 ==0) ? "timeline-inverted" : "")">

                    <div class="timeline-datetime">
                        <span class="timeline-time">
                            @Html.DisplayFor(x => row["dbauditdate"], templateName: "DateTime")
                        </span><span class="timeline-date">Changed by: @newrow["Last Changed by User"]</span>
                    </div>
                    <div class="timeline-badge sky">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="timeline-panel bordered-top-3 bordered-azure">
                        <div class="timeline-header bordered-bottom bordered-blue">
                            @if (row["Rejected?"].ToString().Trim() != newrow["Rejected?"].ToString().Trim() && (bool)newrow["Rejected?"]) // rejected
                            {
                                <span class="timeline-title danger">Order Status: Rejected</span>
                            }
                            else if (row["Rejected?"].ToString().Trim() != newrow["Rejected?"].ToString().Trim() && !(bool)newrow["Rejected?"]) // unrejected
                            {
                                <span class="timeline-title">Order Status: Unrejected</span>
                            }
                            else if (row["Delete Date"].ToString().Trim() != newrow["Delete Date"].ToString().Trim() && !String.IsNullOrEmpty(newrow["Delete Date"].ToString())) // deleted
                            {
                                <span class="timeline-title danger">Order Status: Deleted/Reassigned</span>
                            }
                            else if (row["Delete Date"].ToString().Trim() != newrow["Delete Date"].ToString().Trim() && String.IsNullOrEmpty(newrow["Delete Date"].ToString())) // undeleted
                            {
                                <span class="timeline-title">Order Status: Undeleted</span>
                            }
                            else if (row["Order Status"].ToString().Trim() != newrow["Order Status"].ToString().Trim())
                            {
                                <span class="timeline-title">
                                    Order Status: @(newrow["Order Status"])
                                </span>
                            }
                            else if (row["Driver"].ToString().Trim() != newrow["Driver"].ToString().Trim()) // new driver
                            {
                                <span class="timeline-title">Order Status: Transfer</span>
                            }
                            else
                            {
                                <span class="timeline-title">Order Status: Change</span>
                            }
                        
                           
                        </div>
                        <div class="timeline-body">
                            <p>
                                <table class="center">
                                    <tr>
                                        <td class="txtAlignRight">
                                            <b>DATA FIELD</b>
                                        </td>
                                        <td class="txtAlignRight">
                                            <b>OLD VALUE</b>
                                        </td>
                                        <td></td>
                                        <td class="txtAlignLeft">
                                            <b>NEW VALUE</b>
                                        </td>
                                    </tr>
                                    
                                    @for (int i = 1; i < data.Columns.Count; i++) //first column is audit date, skip
                                    {

                                        if (row[data.Columns[i]].ToString().Trim() != newrow[data.Columns[i]].ToString().Trim())
                                        {
                                            <tr>
                                                <td class="txtAlignRight">
                                                    @data.Columns[i].ColumnName:
                                                </td>
                                                <td class="txtAlignRight">
                                                    @if (data.Columns[i].ColumnName.EndsWith("Date") || data.Columns[i].ColumnName.EndsWith("Time"))
                                                    {
                                                        if (!string.IsNullOrEmpty(row[data.Columns[i]].ToString()))
                                                        {
                                                            @Html.DisplayFor(x => row[data.Columns[i]], templateName: "DateTime")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @(row[data.Columns[i]] ?? "NONE")
                                                    }                                                    
                                                </td>
                                                <td>
                                                    &nbsp;&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;&nbsp;
                                                </td>
                                                <td class="txtAlignLeft">
                                                    @if (data.Columns[i].ColumnName.EndsWith("Date") || data.Columns[i].ColumnName.EndsWith("Time"))
                                                    {
                                                        if (!string.IsNullOrEmpty(newrow[data.Columns[i]].ToString()))
                                                        {
                                                            @Html.DisplayFor(x => newrow[data.Columns[i]], templateName: "DateTime")
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @newrow[data.Columns[i]]
                                                    }                                                    
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </p>
                        </div>
                    </div>
                </li>
            }
            newrow = row;
            n++;
        }
        @*
        @if (((DateTime)row["dbauditdate"]).Date != ((DateTime)newrow["dbauditdate"]).Date && ((DateTime)row["dbauditdate"]).Date != DateTime.Today)
        {
            <li class="timeline-node">
                <a class="btn btn-info">@olddate.ToString("MMM dd")</a>
            </li>
        }*@
        <li>
            <div class="timeline-datetime">
                <span class="timeline-time">
                    @Html.DisplayFor(x => newrow["Create Date"], templateName: "DateTime")
                </span><span class="timeline-date">Created by: @newrow["Created by User"]</span>
            </div>
            <div class="timeline-badge sky">
                <i class="fa fa-plus-square-o"></i>
            </div>
            <div class="timeline-panel bordered-top-3 bordered-warning">
                <div class="timeline-header bordered-bottom bordered-blue">
                    <span class="timeline-title primary">
                        Order Status: Created
                    </span>
                </div>
                <div class="timeline-body">
                    <p>
                        <table class="center">
                            <tr>
                                <td class="txtAlignRight">
                                    <b>DATA FIELD</b>
                                </td>
                                <td></td>
                                <td class="txtAlignLeft">
                                    <b>VALUE</b>
                                </td>
                            </tr>
                            @for (int i = 1; i < data.Columns.Count; i++) //first column is audit date, skip
                            {
                                if (!String.IsNullOrEmpty(newrow[data.Columns[i]].ToString()))
                                {
                                    <tr>
                                        <td class="txtAlignRight">
                                            @data.Columns[i].ColumnName:
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;
                                        </td>
                                        <td class="txtAlignLeft">
                                            @newrow[data.Columns[i]]
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </p>
                </div>
            </div>
        </li>
    </ul>

</div>
