﻿@model DispatchCrude.ViewModels.OrderSearchViewModel
@using PagedList;
@using PagedList.Mvc;
@using DispatchCrude.Models;
@using DispatchCrude.Core;
@using DispatchCrude.Extensions;

@{
    DispatchCrude.Models.Order o = new DispatchCrude.Models.Order();

    ViewBag.Title = "Dispatch";
    ViewBag.SubTitle = "Advanced Order Search";
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Dispatch, "Tab_Search")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div id="gridArea" class="expand Repaint" style="overflow-x:hidden;">  @*The inline override for hidden is only here because this page acts weird in tabs*@
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title row">
                                <div class="col-md-4 col-md-offset-6">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.HiddenFor(model => model.Page, new { id = "Page", Value = 1 })
                                        @Html.HiddenFor(model => model.Sort)
                                        @Html.HiddenFor(model => model.HideSearch, new { id = "HideSearch", Value = true })


                                        <div class="input-group">
                                            @Html.TextBox("QuickSearch", null, new { @class = "form-control input-sm", placeholder = "Search Order #, BOL #, Shipper PO #, Job #, or Contract #" })
                                            <span class="input-group-btn">
                                                <input type="submit" value="Go!" class="btn btn-sm btn-blue shiny">
                                            </span>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-sm btn-blue shiny pull-right" data-toggle="collapse" href="#collapse1"><i class="glyphicon glyphicon-search"></i>&nbsp;Advanced Search</a>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse @(Model.HideSearch ? "" : "in")">
                            <div class="panel-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.HiddenFor(model => model.Page, new { id = "Page", Value = 1 })
                                    @Html.HiddenFor(model => model.Sort)
                                    @Html.HiddenFor(model => model.HideSearch, new { id = "HideSearch", Value = false })
                                    @Html.HiddenFor(model => model.QuickSearch, new { id = "QuickSearch", Value = "" })

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OrderNum, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.OrderNum, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Statuses, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.ListBox("Statuses", null, htmlAttributes: new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TicketTypeID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.DropDownList("TicketTypeID", null, "-- Select ticket type --", htmlAttributes: new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PriorityID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.DropDownList("PriorityID", null, "-- Select priority --", htmlAttributes: new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.DropDownList("ProductID", null, "-- Select product --", htmlAttributes: new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Rejected, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.Rejected, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.DueDate, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.OrderDate, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Rerouted, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.Rerouted, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Deleted, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.Deleted, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-horizontal">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Origin, "Origin / Lease #", htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Origin, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginState, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.OriginState, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginTank, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.OriginTank, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginBOLNum, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.OriginBOLNum, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OriginWait, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.OriginWait, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DispatchConfirmNum, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.DispatchConfirmNum, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Destination, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Consignee, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Consignee, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DestState, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.DestState, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DestWait, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.DestWait, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DestBOLNum, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.DestBOLNum, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Driver, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Driver, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Truck, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Truck, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Trailer, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Trailer, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Operator, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Operator, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Carrier, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Carrier, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Producer, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Producer, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Customer, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobNumber, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.JobNumber, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContractNumber, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.ContractNumber, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Pumper, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.TextBoxFor(model => model.Pumper, new { @class = "form-control input-xs" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Transferred, htmlAttributes: new { @class = "control-label col-xs-4" })
                                                    <div class="col-xs-8">
                                                        @Html.EditorFor(model => model.Transferred, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-offset-6">
                                                        <input type="submit" value="Search" class="btn btn-sm btn-blue shiny" />
                                                        <a href="~/Orders/Search" button class="btn btn-sm btn-default shiny">Clear</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                    <div style="overflow-y:scroll; height: 700px;">
                        <table class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.OrderNumSort))">Order #</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.StatusSort))">@Html.DisplayNameFor(model => o.Status).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.PrioritySort))">@Html.DisplayNameFor(model => o.PriorityID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.DueDateSort))">Due Date</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.ProductSort))">@Html.DisplayNameFor(model => o.ProductID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.DispatchConfirmNumSort))">@Html.DisplayNameFor(model => o.DispatchConfirmNum).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.JobNumberSort))">@Html.DisplayNameFor(model => o.JobNumber).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.ContractNumberSort))">@Html.DisplayNameFor(model => o.Contract.ContractNumber).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.OriginStateSort))">@Html.DisplayNameFor(model => o.Origin.StateID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.OriginSort))">@Html.DisplayNameFor(model => o.OriginID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.TankNumSort))">@Html.DisplayNameFor(model => o.OriginTank.TankNum).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.BOLNumSort))">@Html.DisplayNameFor(model => o.OriginBOLNum).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.DestinationSort))">@Html.DisplayNameFor(model => o.DestinationID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.CarrierSort))">@Html.DisplayNameFor(model => o.CarrierID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.DriverSort))">@Html.DisplayNameFor(model => o.DriverID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.TruckSort))">@Html.DisplayNameFor(model => o.TruckID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.TrailerSort))">@Html.DisplayNameFor(model => o.TrailerID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.Trailer2Sort))">@Html.DisplayNameFor(model => o.Trailer2ID).ToHtmlString()</a>
                                        </small>
                                    </th>
                                    <th>
                                        <small>
                                            <a href="@Url.Action("Index", "Orders", Model.RouteValues(1, ViewBag.TicketTypeSort))">Ticket Type</a>
                                        </small>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Orders)
                                {
                                    <tr data-toggle="collapse" data-target="#order_@item.ID">
                                        <td width="100">
                                            <a href=/Orders/Details/@item.ID class="btn btn-xs btn-default shiny">
                                                <span class="glyphicon glyphicon-list-alt" title="Details"></span>
                                            </a>
                                            @if (User.IsInRole("editOrders"))
                                            {
                                                <a href=/Orders/Edit/@item.ID class="btn btn-xs btn-default shiny">
                                                    <img src="~/images/edit.png" title="Edit" />
                                                </a>

                                                <!-- <a href=/Orders/Delete/@item.ID class="btn btn-xs btn-danger">
                                            <span class="glyphicon glyphicon-remove whitelink"></span>
                                        </a> -->
                                            }
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.OrderNum)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.Status.Name)
                                                @if (item.Rejected)
                                                { <span class="glyphicon glyphicon-ban-circle" data-toggle="tooltip" title="Rejected" /> }
                                                @if (item.Deleted)
                                                { <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Deleted" /> }
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @switch (item.Priority.PriorityNum)
                                                {
                                                    case 1:
                                                        <span class="center">
                                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.Priority.PriorityNum)</span>
                                                        </span>
                                                        break;
                                                    case 2:
                                                        <sdpan class="center">
                                                            <span class="label label-warning">@Html.DisplayFor(modelItem => item.Priority.PriorityNum)</span>
                                                        </sdpan>
                                                        break;
                                                    case 3:
                                                        <span class="center">@Html.DisplayFor(modelItem => item.Priority.PriorityNum)</span>
                                                        break;
                                                }
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @String.Format("{0:M/d/yyyy}", item.DueDate)
                                                @if (item.PastDue)
                                                {
                                                    <span class="label label-danger" data-toggle="tooltip" title="Overdue">&nbsp;!&nbsp;</span>
                                                }
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.Product.ShortName)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.DispatchConfirmNum)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.JobNumber)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.Contract.ContractNumber)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.Origin.State.Abbreviation)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Origins.aspx?id=@item.OriginID">
                                                    @Html.DisplayFor(modelItem => item.Origin.Name)
                                                    @if (item.Origin != null && item.Origin.H2S)
                                                    {
                                                        <span class="label label-danger">H2S</span>
                                                    }
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.OriginTank.TankNum)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.OriginBOLNum)
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Destinations.aspx?id=@item.DestinationID">
                                                    @Html.DisplayFor(model => item.Destination.Name)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Carriers.aspx?id=@item.CarrierID">
                                                    @Html.DisplayFor(modelItem => item.Carrier.Name)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Drivers/Details/@item.DriverID">
                                                    @Html.DisplayFor(modelItem => item.Driver.FullName)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Trucks.aspx?id=@item.TruckID">
                                                    @Html.DisplayFor(modelItem => item.Truck.IDNumber)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Trailers.aspx?id=@item.TrailerID">
                                                    @Html.DisplayFor(modelItem => item.Trailer.IDNumber)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                <a href="~/Site/TableMaint/Trailers.aspx?id=@item.Trailer2ID">
                                                    @Html.DisplayFor(modelItem => item.Trailer2.IDNumber)
                                                </a>
                                            </small>
                                        </td>
                                        <td>
                                            <small>
                                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                                            </small>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="spacer10px"></div>
                    <div class="row">
                        <div class="col-sm-10">
                            @Html.PagedListPager(Model.Orders, page => Url.Action("Index", "Orders", Model.RouteValues(page, Model.Sort)))
                        </div>
                        <div class="col-sm-2">
                            Page @(Model.Orders.PageCount < Model.Orders.PageNumber ? 0 : Model.Orders.PageNumber) of @Model.Orders.PageCount (@Model.Orders.TotalItemCount records)
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>