﻿@model DispatchCrude.Models.Order
@using DispatchCrude.Models;
@using DispatchCrude.Extensions;

<div class="tabbable TabRepaint">
    <ul class="nav nav-tabs" id="tabmenu">
        @NavigationHelper.PrintTabArray(NavigationHelper.TabSet_Reports, "Tab_OrderMap")
    </ul>
    <div class="tab-content">
        <div class="tab-pane in active">

            <div class="leftpanel-wide well with-header">
                <div class="header bordered-blue">Order Information</div>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @ViewBag.Error
                    </div>
                }

                @{
                    ViewBag.Title = "Reports";
                    ViewBag.SubTitle = "Order Map";

                    string oicon = "https://maps.google.com/mapfiles/ms/icons/blue-dot.png";
                    string dicon = "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png";
                    string xicon = "https://maps.google.com/mapfiles/ms/icons/red.png";

                    // Get data points for the given order
                    List<DriverLocation> locations = null;
                    if (Model != null)
                    {
                        locations = (List<DriverLocation>)ViewBag.DriverLocations;
                    }

                    decimal olat = 0;
                    decimal olon = 0;
                    decimal dlat = 0;
                    decimal dlon = 0;
                    decimal maxlat = 0;
                    decimal maxlon = 0;
                    decimal minlat = 0;
                    decimal minlon = 0;
                    int i = 0;
                    string onote = "{approx}";
                    string dnote = "{approx}";
                }


                <div class="viewMap">
                    @using (Html.BeginForm("Map", "Orders", FormMethod.Get))
                    {
                        <p>
                            @Html.Label("Order #   ")
                            @Html.TextBox("ordernum", null, new { @class = "form-control", Value = ViewBag.ordernum })
                        </p>
                        <p class="viewMap">
                            <input type="submit" class="btn btn-blue shiny" value="View map" />
                        </p>
                    }
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <td class="mapTableLabel">Order #</td>
                            <td>
                                @if (Model != null)
                                {
                                    <text>@Model.OrderNum</text>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="mapTableLabel">
                                <img class="mapicon" src="@oicon"> <strong>Origin</strong>
                            </td>
                            <td>
                                @if (Model != null)
                                {
                                    <text>@Model.Origin.Name</text>
                                    if (Model.Origin.LAT != null && Model.Origin.LON != null)
                                    {
                                        <br>@String.Format("{0}, {1}", Model.Origin.LAT, Model.Origin.LON)
                                    }
                                    else
                                    { <br><i>approx</i> }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="mapTableLabel">
                                <img class="mapicon" src="@dicon"> <strong>Destination</strong>
                            </td>
                            <td>
                                @if (Model != null)
                                {
                                    <text>@Model.Destination.Name</text>
                                    if (Model.Destination.LAT != null && Model.Destination.LON != null)
                                    {
                                        <br>@String.Format("{0}, {1}", Model.Destination.LAT, Model.Destination.LON)
                                    }
                                    else
                                    { <br><i>approx</i> }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="mapTableLabel">Driver</td>
                            <td>
                                @if (Model != null)
                                { <text>@Model.Driver.FullName </text> }
                            </td>
                        </tr>
                        <tr>
                            <td class="mapTableLabel">Order Date</td>
                            <td>
                                @if (Model != null)
                                { <text>@String.Format("{0:MM-dd-yyyy}", Model.OrderDate)</text> }
                            </td>
                        </tr>

                        @if (locations != null && locations.Any())
            {
                            <tr>
                                <td colspan="2">
                                    <div class="text-center">
                                        <button id="panleft" class="panner" title="Step Back"><span class="glyphicon glyphicon-backward" /></button>
                                        <button id="play" title="Play/Restart"><span class="glyphicon glyphicon-play" /></button>
                                        <button id="stop" title="Stop"><span class="glyphicon glyphicon-stop" /></button>
                                        <button id="panright" class="panner" title="Step Forward"><span class="glyphicon glyphicon-forward" /></button>
                                        <div class="spacer10px"></div>
                                    </div>

                                    @foreach (var item in locations)
                                    {
                                        if (item.LocationTypeID != 1 && item.LocationTypeID != 4)
                                        {
                                            int tzid = (item.OriginID != null) ? Model.Origin.TimeZoneID : Model.Destination.TimeZoneID;
                                            string tzname = (item.OriginID != null) ? "Origin" : "Dest";

                                            <div id="dl@(item.ID)" class="row dlevent">
                                                <div class="col-sm-4 text-left">@(item.getEvent())</div>
                                                <div class="col-sm-8 text-right">@Html.DisplayFor(model => item.CreateDateUTC, new { tzid = tzid, tzname = tzname })</div>
                                            </div>
                                        }
                                    }
                                    <br>

                                    @if (User.IsInRole("viewDemurrageReport"))
                                    {
                                        <div class="text-center">
                                            <a href="/Orders/DemurrageReport?DriverID=@(Model.DriverID)&StartDate=@(Model.OrderDate)&EndDate=@(Model.OrderDate)" class="btn btn-sm btn-blue shiny">Investigate Trips</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            @if (locations != null)
            {
                <script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleMapsAPI"])"></script>
                <script src="~/scripts/maps.js?ver=1.1"></script>
                <script>
                    var routePathCoordinates = [
                        @foreach (var row in locations)
        {
            @* Loop through datapoints for route, keep track of max and min to help set the centerpoint *@
            decimal lat = row.Lat;
            decimal lon = row.Lon;
            if (i == 0)
            {
                maxlat = lat;
                minlat = lat;
                maxlon = lon;
                minlon = lon;
                olat = lat;
                olon = lon;
            }
            dlat = lat;
            dlon = lon;

            maxlat = Math.Max(maxlat, lat);
            minlat = Math.Min(minlat, lat);
            maxlon = Math.Max(maxlon, lon);
            minlon = Math.Min(minlon, lon);

            <text>{ lat: @lat, lng: @lon, id: @row.ID },</text>
            i++;
        }

                    ];
                    var truck = null;
                    var index = 0;
                    $("#dl" + routePathCoordinates[index].id).css("background", "#FFF080");

                    function initMap() {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 9,
                            center: new google.maps.LatLng(@((minlat+maxlat)/2), @((minlon+maxlon)/2)),
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            mapTypeControl: true
                        });

                        @* Check if Origin LAT/LONG is set *@
                        @if (!String.IsNullOrEmpty(Model.Origin.LAT) && !String.IsNullOrEmpty(Model.Origin.LON))
        {
            @* Use the origin for the starting marker *@
            olat = Convert.ToDecimal(Model.Origin.LAT);
            olon = Convert.ToDecimal(Model.Origin.LON);
            onote = "Origin: " + Model.Origin.Name;
        }
        else
        {
            @* Keep the first point as the start *@
            oicon = xicon;
            onote = "START";
        }

                        var origin = new google.maps.Marker({
                            position: new google.maps.LatLng(@olat, @olon),
                            map: map,
                            icon: '@oicon',
                            title: '@String.Format(Model.Origin.Name)',
                        });
                        var oWindow = new google.maps.InfoWindow({
                            content: '<div>@onote</div>'
                        });
                        google.maps.event.addListener(origin, 'click', function () {
                            oWindow.open(map, origin);
                        });
                        oWindow.open(map, origin);

                        truck = new google.maps.Marker({
                            position: new google.maps.LatLng(routePathCoordinates[0]),
                            icon: '/images/fa-truck.png',
                            map: map,
                            title: 'Driver',
                        });

                        @* Check if destination is set *@
                        @if (Model.Destination.LAT != null && Model.Destination.LON != null)
        {
            @* Use destination as end point *@
            dlat = Convert.ToDecimal(Model.Destination.LAT);
            dlon = Convert.ToDecimal(Model.Destination.LON);
            dnote = "Destination: " + Model.Destination.Name;
        }
        else
        {
            @* Keep last value as default ending *@
            dicon = xicon;
            dnote = "FINISH";
        }

                        var destination = new google.maps.Marker({
                            position: new google.maps.LatLng(@dlat, @dlon),
                            map: map,
                            icon: '@dicon',
                            title: '@String.Format(Model.Destination.Name)',
                        });
                        var dWindow = new google.maps.InfoWindow({
                            content: '<div>@dnote</div>'
                        });
                        google.maps.event.addListener(destination, 'click', function () {
                            dWindow.open(map, destination);
                        });
                        dWindow.open(map, destination);

                        // add markers for other order events
                        @foreach (var item in locations)
        {
            if (item.LocationTypeID != 1 && item.LocationTypeID != 4)
            {
                <text>
                        var dl@(item.ID)marker = new google.maps.Marker({
                            position: new google.maps.LatLng(@item.Lat, @item.Lon),
                            map: map,
                            icon: '@xicon',
                            zIndex: -300,
                            title: '@String.Format(Model.Destination.Name)'
                        });
                        var dl@(item.ID)window = new google.maps.InfoWindow({
                            content: '<div>@(item.getEvent())</div>'
                        });
                        google.maps.event.addListener(dl@(item.ID)marker, 'click', function () {
                            dl@(item.ID)window.open(map, dl@(item.ID)marker);
                        });
                        </text>
            }
        }


                        var routePath = new google.maps.Polyline({
                            path: routePathCoordinates,
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });

                        routePath.setMap(map);

                        @{
/* Google Maps in Chrome has issues */
if (Request.UserAgent.Contains("Chrome"))
{
    /* hack for grayed-out maps in Chrome before resizing */
    <text>
                        google.maps.event.addListener(map, "idle", function(){
                            google.maps.event.trigger(map, 'resize');
                        });
                        </text>
}
else
{
    <text>
                        // Auto adjust to fit bounds
                        var latlngbounds = new google.maps.LatLngBounds();
                        latlngbounds.extend(new google.maps.LatLng(@(Math.Max(maxlat, Math.Max(dlat,olat))), @(Math.Min(minlon, Math.Min(dlon,olon)))));
                        latlngbounds.extend(new google.maps.LatLng(@(Math.Min(minlat, Math.Min(dlat,olat))), @(Math.Max(maxlon, Math.Max(dlon,olon)))));
                        map.fitBounds(latlngbounds);
                        </text>
}
        }
                    }
                    google.maps.event.addDomListener(window, 'load', initMap);

                    function map(indexAdjust)
                    {
                        if (indexAdjust < 0) // clear highlighting if a rewind
                            $("#dl" + routePathCoordinates[index].id).css("background", "");

                        index = index + indexAdjust;
                        if (index < 0) newindex = 0;
                        if (index >= routePathCoordinates.length)
                        {
                            index = routePathCoordinates.length - 1;
                            clearInterval(timeout); // stop if playing
                            $("#play").show();
                            $("#stop").hide();
                        }
                        truck.setPosition(new google.maps.LatLng(routePathCoordinates[index]))
                        $("#dl" + routePathCoordinates[index].id).css("background", "#FFF080");
                    }


                    google.maps.event.addDomListener(window, 'load', initMap);
                    $(document).ready(function ()
                    {
                        $("#stop").hide();
                        $("#panleft").click(function(){
                            map(-1); // for quick click
                        })
                        $("#panleft").mousedown(function(){ // for holding down
                            timeout = setInterval(function(){
                                map(-1);
                            }, 100);

                            return false;
                        });
                        $("#panright").click(function(){
                            map(1); // for quick click
                        })
                        $("#panright").mousedown(function(){ // for holding down
                            timeout = setInterval(function(){
                                map(1);
                            }, 100);

                            return false;
                        });

                        $(".panner").mouseup(function(){
                            clearInterval(timeout);
                            return false;
                        });

                        $("#play").click(function(){ // for start
                            $(".dlevent").css("background", ""); // clear highlighted
                            map(-index); // from beginning
                            timeout = setInterval(function(){
                                map(1);
                            }, 100);
                            $("#play").hide();
                            $("#stop").show();
                            return false;
                        });

                        $("#stop").click(function(){ // for pause/stop
                            clearInterval(timeout);
                            $("#play").show();
                            $("#stop").hide();
                            return false;
                        });
                    });
                    var timeout = 0;
                </script>

                <div id="gridArea" class="expand Repaint">
                    @{
                        if (locations == null || locations.Any() == false)
                        {
                            <div id="reg-canvas">No points captured for this route</div>
                        }
                        else
                        {
                            <div id="map"></div>
                        }
                    }
                </div>
                        }

        </div>
    </div>
</div>