﻿@model DispatchCrude.Models.Order
@using DispatchCrude.App_Code;

@{ 
    ViewBag.Title = "Reassign Order";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div class="container">
    <h3>Order #@ViewBag.OrderNum</h3>
    <h4>
        @ViewBag.Origin
        @if (ViewBag.OriginH2S)
        {
            <span class="label label-danger">H2S</span>
        }
        <span class="glyphicon glyphicon-arrow-right"></span>
        @ViewBag.Destination
    </h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.Label("Current Driver", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @ViewBag.Driver
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DriverID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @*@Html.DropDownList("DriverID", null, "-- Select new driver --", htmlAttributes: new { @class = "form-control" })*@
                    @Html.SuperDropDownList("DriverID", ViewBag.DriverID as SuperSelectList, "-- Current Driver --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Reassign" class="btn btn-primary" />
                    <a href="~/Orders/Details/@Model.ID" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>

