﻿@model DispatchCrude.Models.Order

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div class="container">
    <h3>Order #@ViewBag.OrderNum</h3>
    <h4>
        @ViewBag.Origin
        @if (ViewBag.OriginH2S)
        {
            <span class="label label-danger">H2S</span>
        }
        <span class="glyphicon glyphicon-arrow-right"></span>
        @ViewBag.Destination
    </h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(m => m.OriginArriveTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.OriginArriveTime, new { htmlAttributes = new { @class = "form-control datecalc" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.OriginDepartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(m => m.OriginDepartTime, new { htmlAttributes = new { @class = "form-control datecalc" } })
                    <div id="OriginMinutes"></div>
                    <div class="spacer10px"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-10">
                    <strong>Tickets</strong>
                    @{Html.RenderAction("List", "Tickets", new { ID = Model.ID, editable = true });}
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RejectReasonID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("RejectReasonID", null, "-- Select reason --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RejectNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.RejectNotes, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Reject" class="btn btn-danger" />
                    <a href="~/Orders/Details/@Model.ID" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>

<script>
    $(function () {
        $("#OriginArriveTime").change(setWaitMin);
        $("#OriginArriveTime").blur(setWaitMin); // kendo datetimepikcer needs this too
        $("#OriginDepartTime").change(setWaitMin);
        $("#OriginDepartTime").blur(setWaitMin); // kendo datetimepikcer needs this too
    });

    function setWaitMin()
    {
        arrive = $("#OriginArriveTime").val();
        depart = $("#OriginDepartTime").val();
        if (arrive && depart) {
            var wait = (new Date(depart) - new Date(arrive)) / 1000 / 60
            $("#OriginMinutes").html(wait + " minutes");
        }
    }
</script>