﻿@model DispatchCrude.Models.OrderRerouteViewModel

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-exclamation-sign"></span> @ViewBag.Error
    </div>
}
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div class="container">
    <h3>Order #@ViewBag.OrderNum</h3>
    <h4>
        @ViewBag.Origin
        @if (ViewBag.OriginH2S)
        {
            <span class="label label-danger">H2S</span>
        }
        <span class="glyphicon glyphicon-arrow-right"></span>
        @ViewBag.Destination
    </h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.HiddenFor(model => model.OrderID)

            <div class="form-group">
                @Html.Label("Current Destination", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @ViewBag.Destination
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DestinationID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("DestinationID", null, "-- Select new destination --", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Reroute" class="btn btn-primary" />
                    <a href="~/Orders/Details/@Model.OrderID" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>

